<header class="d-stack2">
    <h3 class="dialtone-title__subsection">Loading Buttons</h3>
    <p class="dialtone-copy__normal">If there is a delay between the user clicking a button and the action taking place, apply a loader to communicate that something is happening.</p>
</header>
<table class="dialtone-table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col" style="text-align: center;">Clear</th>
            <th scope="col" style="text-align: center;">Outlined</th>
            <th scope="col" style="text-align: center;">Filled</th>
        </tr>
    </thead>
    <tbody>
        
        
        <tr class="">
            <th scope="row">Default</th>
            <td class="code-example">
                .d-btn-loading
                </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--outlined--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--primary--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
        </tr>
        
        
        <tr class="">
            <th scope="row">Circle</th>
            <td class="code-example">
                .d-btn-loading--dark
                </td>
            <td style="text-align: center;">
                <button class="
                    d-p16

                    d-btn--circle--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="
                    d-p16

                    d-btn--circle--outlined--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="
                    d-p16

                    d-btn--circle--danger--primary--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
        </tr>
        
        
        <tr class="">
            <th scope="row">Danger</th>
            <td class="code-example">
                .d-btn-loading--danger
                </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--danger--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--danger--outlined--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--danger--primary--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
        </tr>
        
        
        <tr class="d-background-color--slate d-fc-white">
            <th scope="row">Inverted</th>
            <td class="code-example">
                .d-btn-loading--white</td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--inverted--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--inverted--outlined--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
            <td style="text-align: center;">
                <button class="d-width100
                    

                    d-btn--inverted--primary--loading" type="button" aria-pressed="false" style="white-space: nowrap;">
                    <span class="d-btn__label">Place call</span>
                </button>
            </td>
        </tr>
        
    </tbody>
</table>
