@import "normalize";

//  Dialtone Core
@import "layout";
@import "utilities";
@import "colors";
@import "backgrounds";
@import "margin";
@import "padding";
@import "grid";
@import "directions";
@import "type-variables";
@import "fonts";
@import "type-sizes";

//  Dialtone Core Components
@import "buttons";
@import "inputs";
@import "list-groups";


html,
body {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    font-size: $base-font-size;
}

html {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    background-color: $white;
    color: $fc-dark;
    @extend %ff-mark-400;
}



//  --  GRID COLUMNS
.dds-app-shell {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
}

.dds-app-left-rail {
    position: static;
    width: 100vw;
    z-index: $z-base;
    grid-column: 1/span 1;
    grid-row: 1/span 1;

    background-color: $gray-005;

    @media (max-width: $width-md - 1) {
        display: none;
        visibility: hidden;
    }
    @media (min-width: $width-md) {
        display: block;
        visibility: visible;
        max-width: 15rem;
    }
}

.dds-app-content-area {
    padding: $sp32;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}


//  --  LOGO
.dds-logo-image {
    width: auto;
    max-width: 8rem;
    height: auto;
}

//  --  NAVIGATION
.dds-app-nav {
    height: 100vh;
}

//  --  TYPE STYLES
.dds-docs--title {
    font-size: $fs-display;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.dds-docs--header {
    font-size: $fs-headline;
    font-weight: 700;
}
.dds-docs--p__lg {
    font-size: $fs-subheading;
    color: $fc-medium;
}
