@import "./lib/scss/constants/dialtone--constants";
@import "dialtone--syntax";

body {
    margin: 0;
    background-color: $white;
    color: $fc-dark;
    font-family: $ff-mark;
    line-height: $lh-lg;
}

//  --  LOGO
.dds-logo-image {
    width: auto;
    max-width: 8rem;
    height: auto;
}

//  --  TYPE STYLES
.dds-docs--title {
    font-size: $fs-display;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.dds-docs--header {
    margin-bottom: $sp4;
    font-size: $fs-headline;
}
.dds-docs--subheader {
    margin-bottom: $sp4;
    font-size: $fs-subheading;
}
.dds-docs--copy__lg {
    margin-top: 0;
    font-size: $fs-subheading;
    line-height: $lh-lg;
    color: $fc-dark;
}
.dds-docs--copy {
    margin-top: 0;
    font-size: $fs-body2;
    line-height: $lh-lg;
    color: $fc-dark;
}
.dds-docs--code {
    padding: $sp4;
    font-size: $fs-caption;
    font-family: $ff-mono;
    border-radius: $br-sm;
    background-color: $gray-005;
}

//  --  PREVIEW
.dds-docs--example {
    margin: $sp16 0 $sp32;
    border-radius: $br-md;
    border: 1px solid $gray-010;

    //  CODE
    .highlight {
        position: relative;
        border-radius: $br-md $br-md 0 0;

        // Reset margins
        &,
        pre {
            margin: 0;
            font-size: $fs-caption;
            font-family: $ff-mono;
            line-height: $lh-lg;
            color: #C5C8C6;
        }

        > pre {
            margin: -1px;
            max-height: 24rem;
            overflow: auto;

        }

        .gutter.gl {
            margin: -1px 0 -1px -1px;
            padding: $sp8;
            min-width: $sp24;
            text-align: right;

            pre {
                color: #7A7D80;
            }
        }

        .code {
            padding-left: $sp12;
        }
    }

    //  EXAMPLE AREA
    .dds-docs--example__preview {
        padding: $sp24;
    }

    //  GRID BLOCKS
    .dds-docs--example-cell {
        padding: $sp8;
        border: 1px solid lighten($blue-060,10%);
        background-color: transparentize($blue-060, 0.85);
        font-family: $ff-mono;
        font-size: $fs-caption;
        text-align: center;
    }

    //  CODE ONLY
    &.dds-docs--example__code-only {
        margin-bottom: $sp16;
        border: none;

        .highlight {
            border-radius: $br-md;
        }
    }
}
