@import "./lib/scss/constants/dialtone--constants";
@import "dialtone--syntax";

body {
    margin: 0;
    background-color: $white;
    color: $fc-dark;
    font-family: $ff-mark;
    line-height: $lh-lg;
}

//  --  LOGO
.dds-logo-image {
    max-width: 8rem;
    width: auto;
    height: auto;
}

//  --  TYPE STYLES
.dds-docs--title {
    letter-spacing: -0.5px;
    font-weight: 700;
    font-size: $fs-display;
    font-family: $ff-mark-bold;
}
.dds-docs--header {
    margin-bottom: $sp4;
    font-weight: 700;
    font-size: $fs-headline;
    font-family: $ff-mark-bold;
}
.dds-docs--subheader {
    margin-bottom: $sp4;
    font-size: $fs-subheading;
}
.dds-docs--copy__lg {
    margin-top: 0;
    color: $fc-dark;
    font-size: $fs-subheading;
    line-height: $lh-lg;
}
.dds-docs--copy {
    margin-top: 0;
    color: $fc-dark;
    font-size: $fs-body2;
    line-height: $lh-lg;
}
.dds-docs--code {
    padding: $sp4;
    border-radius: $br-sm;
    background-color: $gray-005;
    font-size: $fs-caption;
    font-family: $ff-mono;
}

//  --  PREVIEW
.dtd-example {
    margin: $sp16 0 $sp32;
    border: 1px solid $gray-010;
    border-radius: $br-md;

    //  CODE
    .highlight {
        position: relative;

        // Reset margins
        &,
        pre {
            margin: 0;
            border-radius: $br-md $br-md 0 0;
            font-size: $fs-caption;
            font-family: $ff-mono;
            line-height: $lh-lg;
        }

        > pre {
            overflow: auto;
            max-height: 24rem;

        }

        .gutter.gl {
            margin: -1px 0 -1px -1px;
            padding: $sp8;
            min-width: $sp24;
            text-align: right;

            pre {
                color: #7A7D80;
            }
        }

        .code {
            padding-left: $sp12;
        }
    }

    //  EXAMPLE AREA
    .dtd-example--preview {
        padding: $sp24;
    }

    //  GRID BLOCKS
    .dtd-cell,
    .dtd-cell__outline,
    .dtd-cell--inner {
        padding: $sp8;
        border: 1px solid lighten($blue-060,10%);
        background-color: transparentize($blue-060, 0.85);
        color: darken($blue-100, 20%);
        text-align: center;
        font-size: $fs-caption;
        font-family: $ff-mono;
    }

    .dtd-cell--inner {
        padding: $sp8;
        border: 1px solid lighten($blue-060,10%);
        background-color: transparentize($blue-060, 0.5);
    }

    .dtd-cell__clear {
        padding: $sp0;
        border: none;

        .dtd-cell__outline {
            border: 1px solid lighten($blue-060,10%);
            background-color: transparentize($blue-060, 0.25);
        }
    }

    .dtd-cell__outline {
        border-color: $border-gray-light;
        background-color: $white;
        color: $gray-100;

        .dtd-cell--inner {
            border-color: transparent;
            background-color: transparentize($blue-100, 0.5);
            color: $fc-white;
        }
    }

    //  CODE ONLY
    &.dtd-example-code-only {
        margin-bottom: $sp16;
        border: none;

        .highlight,
        .higlight pre {
            border-radius: $br-md;
        }
    }

    //  WITH RWD EXAMPLE
    &.dtd-example__responsive {
        .dtd-example-header {
            border-radius: $br-md $br-md 0 0;
            background-color: $gray-100;
            color: $white;
        }

        .highlight,
        .highlight pre {
            border-radius: 0;
        }

        .dtd-example-btn {
            margin: $sp4;
            padding: $sp8;
            opacity: 0.5;
            cursor: pointer;

            &:hover,
            &.dtd-example-btn__selected {
                opacity: 1;
            }
        }
    }
}
