@import "./lib/scss/constants/dialtone--constants";
@import "dialtone--syntax";

body {
    margin: 0;
    background-color: $white;
    color: $fc-dark;
    font-family: $ff-mark;
    line-height: $lh-lg;
}

//  --  GRID COLUMNS
.dds-app-shell {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
}

.dds-app-left-rail {
    position: static;
    width: 100vw;
    z-index: $z-base;
    grid-column: 1/span 1;
    grid-row: 1/span 1;

    background-color: $gray-005;

    @media (max-width: $width-md - 1) {
        display: none;
        visibility: hidden;
    }
    @media (min-width: $width-md) {
        display: block;
        visibility: visible;
        max-width: 15rem;
    }
}

.dds-app-content-area {
    padding: $sp32;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}


//  --  LOGO
.dds-logo-image {
    width: auto;
    max-width: 8rem;
    height: auto;
}

//  --  NAVIGATION
.dds-app-nav {
    height: 100vh;
}

//  --  TYPE STYLES
.dds-docs--title {
    font-size: $fs-display;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.dds-docs--header {
    font-size: $fs-headline;
    font-weight: 700;
}
.dds-docs--p__lg {
    font-size: $fs-subheading;
    color: $fc-medium;
}

//  --  PREVIEW
.dds-docs--example {
    margin: $sp16 0 $sp32;
    border-radius: $br-md;
    border: 1px solid $gray-010;

    //  CODE
    .highlight {
        position: relative;

        // Reset margins
        &,
        pre {
            margin: 0;
            font-size: $fs-caption;
            font-family: $ff-mono;
            line-height: $lh-lg;
            color: #C5C8C6;
        }

        > pre {
            margin: -1px;
            max-height: 24rem;
            overflow: auto;
            background-color: $gray-100;
            border-radius: $br-md $br-md 0 0;
            overflow: auto;
        }

        .gutter.gl {
            margin: -1px 0 -1px -1px;
            padding: $sp8;
            min-width: $sp24;
            background: lighten($gray-100, 5%);
            text-align: right;

            pre {
                color: #7A7D80;
            }
        }

        .code {
            padding-left: $sp12;
        }
    }

    //  EXAMPLE AREA
    .dds-docs--example__preview {
        padding: $sp24;
    }

    //  GRID BLOCKS
    .dds-docs--example-cell {
        padding: $sp8;
        border: 1px solid lighten($blue-060,10%);
        background-color: transparentize($blue-060, 0.85);
        font-family: $ff-mono;
        font-size: $fs-caption;
        text-align: center;
    }
}
