@import "./lib/scss/constants/dialtone--constants";

.example {
    position: relative;
    min-height: inherit;
    height: 100%;
    border-radius: 5px;
    background-color: #444648;
    color: #FFFFFF;
}
.grid--cell {
    min-height: 9rem;
}
.video-controls {
    position: absolute;
    top: 4px;
    right: 12px;
}

.uc-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: $sp24 $sp12;
    min-width: 5rem;
    border-radius: 0 $br-md $br-md 0;
    background-color: $navy-100;
}
.uc-nav--item {
    color: $white;
}

.uc-grid {
    display: grid;
    align-content: center;
    padding-left: 5rem;
    height: 100vh;
}

.uc-icon {
    fill: currentColor;
}

.fc-red-080 {
    color: $red-080;
}
