<header class="d-stack2">
    <h3 class="dialtone-title__subsection">Icon Buttons</h3>
    <p class="dialtone-copy__normal">Occassionally buttons may have icons placed next to the button label. In those instances, use the following layout examples as a guide.</p>
</header>
<table class="dialtone-table">
    <thead>
        <tr>
            <th scope="col" width="65%">Name</th>
            <th scope="col" style="text-align: center;">Example</th>
        </tr>
    </thead>
    <tbody>
        
        
        
        
        
        <tr>
            <th scope="row" class="d-pl16">
                <span class="d-fs14">Left align</span><br/>
                <span class="d-fw-normal d-fs12">Left align the icon and the label within a button.</span>
            </th>
            <td>
                <button class="d-width100 d-mxn2 d-btn--primary" style="justify-content: flex-start" type="button" aria-pressed="false">
                    <span class="d-btn__icon ">
                    
                        <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                    
                    </span>
                    <span class="d-btn__label d-mx2" >Search</span>
                </button>
            </td>
        </tr>
        
        
        
        
        
        <tr>
            <th scope="row" class="d-pl16">
                <span class="d-fs14">Split left</span><br/>
                <span class="d-fw-normal d-fs12">Left align the icon, but still center the label within the remaining space in the button.</span>
            </th>
            <td>
                <button class="d-width100 d-mxn2 d-btn--primary"  type="button" aria-pressed="false">
                    <span class="d-btn__icon ">
                    
                        <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                    
                    </span>
                    <span class="d-btn__label d-mx2 d-flex1" >Search</span>
                </button>
            </td>
        </tr>
        
        
        
        
        
        <tr>
            <th scope="row" class="d-pl16">
                <span class="d-fs14">Center align</span><br/>
                <span class="d-fw-normal d-fs12">Center align the icon and the label within a button.</span>
            </th>
            <td>
                <button class="d-width100 d-mxn4 d-btn--danger"  type="button" aria-pressed="false">
                    <span class="d-btn__icon ">
                    
                        <svg aria-hidden="true" aria-label="Call End" class="d-svg d-svg--system js-svg d-svg__callEnd" viewBox="0 0 24 24"><path d="M12 9c-1.6 0-3.15.25-4.6.72v3.1c0 .39-.23.74-.56.9-.98.49-1.87 1.12-2.66 1.85-.18.18-.43.28-.7.28-.28 0-.53-.11-.71-.29L.29 13.08a.956.956 0 01-.29-.7c0-.28.11-.53.29-.71C3.34 8.78 7.46 7 12 7c4.54 0 8.66 1.78 11.71 4.67.18.18.29.43.29.71 0 .28-.11.53-.29.71l-2.48 2.48c-.18.18-.43.29-.71.29-.27 0-.52-.11-.7-.28a11.27 11.27 0 00-2.67-1.85.996.996 0 01-.56-.9v-3.1C15.15 9.25 13.6 9 12 9z"/></svg>
                    
                    </span>
                    <span class="d-btn__label d-mx4" >End call</span>
                </button>
            </td>
        </tr>
        
        
        
        
        
        <tr>
            <th scope="row" class="d-pl16">
                <span class="d-fs14">Right align</span><br/>
                <span class="d-fw-normal d-fs12">Left align the label, but right align the icon.</span>
            </th>
            <td>
                <button class="d-width100 d-mxn2 d-btn--primary"  type="button" aria-pressed="false">
                    <span class="d-btn__icon  d-btn__icon--last">
                    
                        <svg aria-hidden="true" aria-label="Arrow Right Alt" class="d-svg d-svg--system js-svg d-svg__arrowRight-alt" viewBox="0 0 24 24"><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z"/></svg>
                    
                    </span>
                    <span class="d-btn__label d-mx2 d-flex1" style="justify-content: flex-start">Start conference</span>
                </button>
            </td>
        </tr>
        
    </tbody>
</table>
