<header class="d-stack2">
    <h3 class="dialtone-title__subsection">Circle Buttons</h3>
    <p class="dialtone-copy__normal">Sometimes an icon-only, circle button is desired. These buttons are used for toggling actions, navigation, or closing UI elements.</p>
</header>
<table class="dialtone-table">
    <thead>
        <tr>
            <th scope="col" width="40%">Name</th>
            <th scope="col">Class</th>
            <th scope="col" width="35%" style="text-align: center;">Examples</th>
        </tr>
    </thead>
    <tbody>
        
        
        
        
        
        <tr class="">
            <th scope="row">
                <span class="d-fs14">Muted</span><br/>
                <span class="d-fw-normal d-fs12">A muted, gray-scale button style for clickable icon buttons.</span>
            </th>
            <td class="code-example">.d-btn--circle<br/>.d-btn--circle--disabled</td>
            <td style="text-align: center;" class="">
                
                
                    <button class="d-mx4 d-btn--circle" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="">
            <th scope="row">
                <span class="d-fs14">Outlined</span><br/>
                <span class="d-fw-normal d-fs12">An outlined, gray-scale button style that helps draw more attention to clickable icon buttons.</span>
            </th>
            <td class="code-example">.d-btn--circle--outlined<br/>.d-btn--circle--outlined--disabled</td>
            <td style="text-align: center;" class="">
                
                
                    <button class="d-mx4 d-btn--circle--outlined" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--outlined--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--outlined" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="">
            <th scope="row">
                <span class="d-fs14">Danger Hover</span><br/>
                <span class="d-fw-normal d-fs12">Initially looks like the muted, grayscale button, but on hover it uses danger colors to help communicated potentially destructive actions. These are used for actions such as closing a panel or disconnecting a user from a call.</span>
            </th>
            <td class="code-example">.d-btn--circle--danger-hover<br/>.d-btn--circle--danger-hover--disabled</td>
            <td style="text-align: center;" class="">
                
                
                    <button class="d-mx4 d-btn--circle--danger-hover" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--danger-hover--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--danger-hover" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="">
            <th scope="row">
                <span class="d-fs14">Danger</span><br/>
                <span class="d-fw-normal d-fs12">A simple danger button style for clickable icon buttons. This is used mainly for showing disabled action states.</span>
            </th>
            <td class="code-example">.d-btn--circle--danger<br/>.d-btn--circle--danger--disabled</td>
            <td style="text-align: center;" class="">
                
                
                    <button class="d-mx4 d-btn--circle--danger" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--danger--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--danger" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="">
            <th scope="row">
                <span class="d-fs14">Danger Primary</span><br/>
                <span class="d-fw-normal d-fs12">A primay, danger button style for clickable icon buttons. This is used for major actions such as ending a call.</span>
            </th>
            <td class="code-example">.d-btn--circle--danger--primary<br/>.d-btn--circle--danger--primary--disabled</td>
            <td style="text-align: center;" class="">
                
                
                    <button class="d-mx4 d-btn--circle--danger--primary" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--danger--primary--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--danger--primary" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="d-background-color--slate d-fc-ash">
            <th scope="row">
                <span class="d-fs14">Inverted</span><br/>
                <span class="d-fw-normal d-fs12">An inverted button style for when you want a white icon color.</span>
            </th>
            <td class="code-example">.d-btn--circle--inverted<br/>.d-btn--circle--inverted--disabled</td>
            <td style="text-align: center;" class="d-pl16">
                
                
                    <button class="d-mx4 d-btn--circle--inverted" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--inverted--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--inverted" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="d-background-color--slate d-fc-ash">
            <th scope="row">
                <span class="d-fs14">Inverted Outlined</span><br/>
                <span class="d-fw-normal d-fs12">An inverted, outlined button style.</span>
            </th>
            <td class="code-example">.d-btn--circle--inverted--outlined<br/>.d-btn--circle--inverted--outlined--disabled</td>
            <td style="text-align: center;" class="d-pl16">
                
                
                    <button class="d-mx4 d-btn--circle--inverted--outlined" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--inverted--outlined--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--inverted--outlined" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
        
        
        
        
        <tr class="d-background-color--slate d-fc-ash">
            <th scope="row">
                <span class="d-fs14">Inverted Primary</span><br/>
                <span class="d-fw-normal d-fs12">An inverted, filled button style.</span>
            </th>
            <td class="code-example">.d-btn--circle--inverted--primary<br/>.d-btn--circle--inverted--primary--disabled</td>
            <td style="text-align: center;" class="d-pl16">
                
                
                    <button class="d-mx4 d-btn--circle--inverted--primary" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--inverted--primary--loading" type="button" aria-pressed="false" >
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
                    <button class="d-mx4 d-btn--circle--inverted--primary" type="button" aria-pressed="false" disabled>
                        <span class="d-btn__icon">
                        
                            <svg aria-hidden="true" aria-label="Close" class="d-svg d-svg--system js-svg d-svg__close" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                        
                        </span>
                    </button>
                
            </td>
        </tr>
        
    </tbody>
</table>
