.d-bc-transparent {
  border-color: transparent !important;
}
.d-bc-current {
  border-color: currentColor !important;
}
.d-bc-unset {
  border-color: unset !important;
}
.d-ba {
  border: var(--su1) solid currentColor !important;
}
.d-bt {
  border-top: var(--su1) solid currentColor !important;
}
.d-br {
  border-right: var(--su1) solid currentColor !important;
}
.d-bb {
  border-bottom: var(--su1) solid currentColor !important;
}
.d-bl {
  border-left: var(--su1) solid currentColor !important;
}
.d-bx {
  border-right: var(--su1) solid currentColor !important;
  border-left: var(--su1) solid currentColor !important;
}
.d-by {
  border-top: var(--su1) solid currentColor !important;
  border-bottom: var(--su1) solid currentColor !important;
}
.d-ba-none {
  border: none !important;
}
.d-ba-unset {
  border: unset !important;
}
.d-bar0 {
  border-radius: 0 !important;
}
.d-bar2 {
  border-radius: 0.2rem !important;
}
.d-bar4 {
  border-radius: 0.4rem !important;
}
.d-bar8 {
  border-radius: 0.8rem !important;
}
.d-bar12 {
  border-radius: 1.2rem !important;
}
.d-bar16 {
  border-radius: 1.6rem !important;
}
.d-bar24 {
  border-radius: 2.4rem !important;
}
.d-bar32 {
  border-radius: 3.2rem !important;
}
.d-bar-unset {
  border-radius: unset !important;
}
.d-bar-circle {
  border-radius: 50% !important;
}
.d-bar-pill {
  border-radius: 100em !important;
}
.d-btr0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.d-btr2 {
  border-top-left-radius: 0.2rem !important;
  border-top-right-radius: 0.2rem !important;
}
.d-btr4 {
  border-top-left-radius: 0.4rem !important;
  border-top-right-radius: 0.4rem !important;
}
.d-btr8 {
  border-top-left-radius: 0.8rem !important;
  border-top-right-radius: 0.8rem !important;
}
.d-btr12 {
  border-top-left-radius: 1.2rem !important;
  border-top-right-radius: 1.2rem !important;
}
.d-btr16 {
  border-top-left-radius: 1.6rem !important;
  border-top-right-radius: 1.6rem !important;
}
.d-btr24 {
  border-top-left-radius: 2.4rem !important;
  border-top-right-radius: 2.4rem !important;
}
.d-btr32 {
  border-top-left-radius: 3.2rem !important;
  border-top-right-radius: 3.2rem !important;
}
.d-btr-circle {
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
}
.d-btr-pill {
  border-top-left-radius: 100em !important;
  border-top-right-radius: 100em !important;
}
.d-brr0 {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.d-brr2 {
  border-top-right-radius: 0.2rem !important;
  border-bottom-right-radius: 0.2rem !important;
}
.d-brr4 {
  border-top-right-radius: 0.4rem !important;
  border-bottom-right-radius: 0.4rem !important;
}
.d-brr8 {
  border-top-right-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
}
.d-brr12 {
  border-top-right-radius: 1.2rem !important;
  border-bottom-right-radius: 1.2rem !important;
}
.d-brr16 {
  border-top-right-radius: 1.6rem !important;
  border-bottom-right-radius: 1.6rem !important;
}
.d-brr24 {
  border-top-right-radius: 2.4rem !important;
  border-bottom-right-radius: 2.4rem !important;
}
.d-brr32 {
  border-top-right-radius: 3.2rem !important;
  border-bottom-right-radius: 3.2rem !important;
}
.d-brr-circle {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.d-brr-pill {
  border-top-right-radius: 100em !important;
  border-bottom-right-radius: 100em !important;
}
.d-bbr0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.d-bbr2 {
  border-bottom-right-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
}
.d-bbr4 {
  border-bottom-right-radius: 0.4rem !important;
  border-bottom-left-radius: 0.4rem !important;
}
.d-bbr8 {
  border-bottom-right-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
}
.d-bbr12 {
  border-bottom-right-radius: 1.2rem !important;
  border-bottom-left-radius: 1.2rem !important;
}
.d-bbr16 {
  border-bottom-right-radius: 1.6rem !important;
  border-bottom-left-radius: 1.6rem !important;
}
.d-bbr24 {
  border-bottom-right-radius: 2.4rem !important;
  border-bottom-left-radius: 2.4rem !important;
}
.d-bbr32 {
  border-bottom-right-radius: 3.2rem !important;
  border-bottom-left-radius: 3.2rem !important;
}
.d-bbr-circle {
  border-bottom-right-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.d-bbr-pill {
  border-bottom-right-radius: 100em !important;
  border-bottom-left-radius: 100em !important;
}
.d-blr0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.d-blr2 {
  border-top-left-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
}
.d-blr4 {
  border-top-left-radius: 0.4rem !important;
  border-bottom-left-radius: 0.4rem !important;
}
.d-blr8 {
  border-top-left-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
}
.d-blr12 {
  border-top-left-radius: 1.2rem !important;
  border-bottom-left-radius: 1.2rem !important;
}
.d-blr16 {
  border-top-left-radius: 1.6rem !important;
  border-bottom-left-radius: 1.6rem !important;
}
.d-blr24 {
  border-top-left-radius: 2.4rem !important;
  border-bottom-left-radius: 2.4rem !important;
}
.d-blr32 {
  border-top-left-radius: 3.2rem !important;
  border-bottom-left-radius: 3.2rem !important;
}
.d-blr-circle {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.d-blr-pill {
  border-top-left-radius: 100em !important;
  border-bottom-left-radius: 100em !important;
}
.d-bas-dashed {
  border-style: dashed !important;
}
.d-bts-dashed {
  border-top-style: dashed !important;
}
.d-brs-dashed {
  border-right-style: dashed !important;
}
.d-bbs-dashed {
  border-bottom-style: dashed !important;
}
.d-bls-dashed {
  border-left-style: dashed !important;
}
.d-bas-dotted {
  border-style: dotted !important;
}
.d-bts-dotted {
  border-top-style: dotted !important;
}
.d-brs-dotted {
  border-right-style: dotted !important;
}
.d-bbs-dotted {
  border-bottom-style: dotted !important;
}
.d-bls-dotted {
  border-left-style: dotted !important;
}
.d-bas-unset {
  border-style: unset !important;
}
.d-baw0 {
  border-width: var(--su0) !important;
}
.d-baw1 {
  border-width: var(--su1) !important;
}
.d-baw2 {
  border-width: var(--su2) !important;
}
.d-baw4 {
  border-width: var(--su4) !important;
}
.d-baw6 {
  border-width: var(--su6) !important;
}
.d-btw0 {
  border-top-width: var(--su0) !important;
}
.d-btw1 {
  border-top-width: var(--su1) !important;
}
.d-btw2 {
  border-top-width: var(--su2) !important;
}
.d-btw4 {
  border-top-width: var(--su4) !important;
}
.d-btw6 {
  border-top-width: var(--su6) !important;
}
.d-brw0 {
  border-right-width: var(--su0) !important;
}
.d-brw1 {
  border-right-width: var(--su1) !important;
}
.d-brw2 {
  border-right-width: var(--su2) !important;
}
.d-brw4 {
  border-right-width: var(--su4) !important;
}
.d-brw6 {
  border-right-width: var(--su6) !important;
}
.d-bbw0 {
  border-bottom-width: var(--su0) !important;
}
.d-bbw1 {
  border-bottom-width: var(--su1) !important;
}
.d-bbw2 {
  border-bottom-width: var(--su2) !important;
}
.d-bbw4 {
  border-bottom-width: var(--su4) !important;
}
.d-bbw6 {
  border-bottom-width: var(--su6) !important;
}
.d-blw0 {
  border-left-width: var(--su0) !important;
}
.d-blw1 {
  border-left-width: var(--su1) !important;
}
.d-blw2 {
  border-left-width: var(--su2) !important;
}
.d-blw4 {
  border-left-width: var(--su4) !important;
}
.d-blw6 {
  border-left-width: var(--su6) !important;
}
.d-bxw0 {
  border-right-width: var(--su0) !important;
  border-left-width: var(--su0) !important;
}
.d-bxw1 {
  border-right-width: var(--su1) !important;
  border-left-width: var(--su1) !important;
}
.d-bxw2 {
  border-right-width: var(--su2) !important;
  border-left-width: var(--su2) !important;
}
.d-bxw4 {
  border-right-width: var(--su4) !important;
  border-left-width: var(--su4) !important;
}
.d-bxw6 {
  border-right-width: var(--su6) !important;
  border-left-width: var(--su6) !important;
}
.d-byw0 {
  border-top-width: var(--su0) !important;
  border-bottom-width: var(--su0) !important;
}
.d-byw1 {
  border-top-width: var(--su1) !important;
  border-bottom-width: var(--su1) !important;
}
.d-byw2 {
  border-top-width: var(--su2) !important;
  border-bottom-width: var(--su2) !important;
}
.d-byw4 {
  border-top-width: var(--su4) !important;
  border-bottom-width: var(--su4) !important;
}
.d-byw6 {
  border-top-width: var(--su6) !important;
  border-bottom-width: var(--su6) !important;
}
.d-divide-y > * + * {
  --divide-y-reverse: 0;
  border-top: calc(1px * (1 - var(--divide-y-reverse))) solid currentColor !important;
  border-bottom: calc(1px * var(--divide-y-reverse)) solid currentColor !important;
}
.d-divide-y0 > * + * {
  --divide-y-reverse: 0;
  border-top: calc(0 * (1 - var(--divide-y-reverse))) solid currentColor !important;
  border-bottom: calc(0 * var(--divide-y-reverse)) solid currentColor !important;
}
.d-divide-y2 > * + * {
  --divide-y-reverse: 0;
  border-top: calc(2px * (1 - var(--divide-y-reverse))) solid currentColor !important;
  border-bottom: calc(2px * var(--divide-y-reverse)) solid currentColor !important;
}
.d-divide-y4 > * + * {
  --divide-y-reverse: 0;
  border-top: calc(4px * (1 - var(--divide-y-reverse))) solid currentColor !important;
  border-bottom: calc(4px * var(--divide-y-reverse)) solid currentColor !important;
}
.d-divide-y-reverse > * + * {
  --divide-y-reverse: 1;
}
.d-divide-x > * + * {
  --divide-x-reverse: 0;
  border-right: calc(1px * var(--divide-x-reverse)) solid currentColor !important;
  border-left: calc(1px * (1 - var(--divide-x-reverse))) solid currentColor !important;
}
.d-divide-x0 > * + * {
  --divide-x-reverse: 0;
  border-right: calc(0 * var(--divide-x-reverse)) solid currentColor !important;
  border-left: calc(0 * (1 - var(--divide-x-reverse))) solid currentColor !important;
}
.d-divide-x2 > * + * {
  --divide-x-reverse: 0;
  border-right: calc(2px * var(--divide-x-reverse)) solid currentColor !important;
  border-left: calc(2px * (1 - var(--divide-x-reverse))) solid currentColor !important;
}
.d-divide-x4 > * + * {
  --divide-x-reverse: 0;
  border-right: calc(4px * var(--divide-x-reverse)) solid currentColor !important;
  border-left: calc(4px * (1 - var(--divide-x-reverse))) solid currentColor !important;
}
.d-divide-x-reverse > * + * {
  --divide-x-reverse: 1;
}
