.d-g-cols1 {
  grid-template-columns: [full-start] repeat(1, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(1, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(1, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols2 {
  grid-template-columns: [full-start] repeat(2, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(2, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(2, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols3 {
  grid-template-columns: [full-start] repeat(3, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(3, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(3, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols4 {
  grid-template-columns: [full-start] repeat(4, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(4, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(4, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols5 {
  grid-template-columns: [full-start] repeat(5, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(5, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(5, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols6 {
  grid-template-columns: [full-start] repeat(6, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(6, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(6, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols7 {
  grid-template-columns: [full-start] repeat(7, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(7, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(7, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols8 {
  grid-template-columns: [full-start] repeat(8, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(8, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(8, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols9 {
  grid-template-columns: [full-start] repeat(9, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(9, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(9, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols10 {
  grid-template-columns: [full-start] repeat(10, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(10, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(10, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols11 {
  grid-template-columns: [full-start] repeat(11, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(11, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(11, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-g-cols12 {
  grid-template-columns: [full-start] repeat(12, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(12, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
  grid-template-columns: [full-start] repeat(12, [col-start] var(--col-width, minmax(0, 1fr)) [col-end]) [full-end] !important;
}
.d-gcs1 {
  grid-column-start: 1 !important;
}
.d-gcs2 {
  grid-column-start: 2 !important;
}
.d-gcs3 {
  grid-column-start: 3 !important;
}
.d-gcs4 {
  grid-column-start: 4 !important;
}
.d-gcs5 {
  grid-column-start: 5 !important;
}
.d-gcs6 {
  grid-column-start: 6 !important;
}
.d-gcs7 {
  grid-column-start: 7 !important;
}
.d-gcs8 {
  grid-column-start: 8 !important;
}
.d-gcs9 {
  grid-column-start: 9 !important;
}
.d-gcs10 {
  grid-column-start: 10 !important;
}
.d-gcs11 {
  grid-column-start: 11 !important;
}
.d-gcs12 {
  grid-column-start: 12 !important;
}
.d-gce1 {
  grid-column-end: 1 !important;
}
.d-gce2 {
  grid-column-end: 2 !important;
}
.d-gce3 {
  grid-column-end: 3 !important;
}
.d-gce4 {
  grid-column-end: 4 !important;
}
.d-gce5 {
  grid-column-end: 5 !important;
}
.d-gce6 {
  grid-column-end: 6 !important;
}
.d-gce7 {
  grid-column-end: 7 !important;
}
.d-gce8 {
  grid-column-end: 8 !important;
}
.d-gce9 {
  grid-column-end: 9 !important;
}
.d-gce10 {
  grid-column-end: 10 !important;
}
.d-gce11 {
  grid-column-end: 11 !important;
}
.d-gce12 {
  grid-column-end: 12 !important;
}
.d-gc1 {
  grid-column: span 1  /  span 1 !important;
}
.d-gc2 {
  grid-column: span 2  /  span 2 !important;
}
.d-gc3 {
  grid-column: span 3  /  span 3 !important;
}
.d-gc4 {
  grid-column: span 4  /  span 4 !important;
}
.d-gc5 {
  grid-column: span 5  /  span 5 !important;
}
.d-gc6 {
  grid-column: span 6  /  span 6 !important;
}
.d-gc7 {
  grid-column: span 7  /  span 7 !important;
}
.d-gc8 {
  grid-column: span 8  /  span 8 !important;
}
.d-gc9 {
  grid-column: span 9  /  span 9 !important;
}
.d-gc10 {
  grid-column: span 10  /  span 10 !important;
}
.d-gc11 {
  grid-column: span 11  /  span 11 !important;
}
.d-gc12 {
  grid-column: span 12  /  span 12 !important;
}
.d-gc-full {
  grid-column: 1  /  -1 !important;
}
.d-gcs-auto {
  grid-column-start: auto !important;
}
.d-gce-auto {
  grid-column-end: auto !important;
}
.d-gc-auto {
  grid-column: auto !important;
}
.d-gcs-unset {
  grid-column-start: unset !important;
}
.d-gce-unset {
  grid-column-end: unset !important;
}
.d-gc-unset {
  grid-column: unset !important;
}
.d-gg0 {
  grid-gap: 0 !important;
}
.d-gg1 {
  grid-gap: 0.1rem !important;
}
.d-gg2 {
  grid-gap: 0.2rem !important;
}
.d-gg4 {
  grid-gap: 0.4rem !important;
}
.d-gg6 {
  grid-gap: 0.6rem !important;
}
.d-gg8 {
  grid-gap: 0.8rem !important;
}
.d-gg12 {
  grid-gap: 1.2rem !important;
}
.d-gg16 {
  grid-gap: 1.6rem !important;
}
.d-gg24 {
  grid-gap: 2.4rem !important;
}
.d-gg32 {
  grid-gap: 3.2rem !important;
}
.d-gg48 {
  grid-gap: 4.8rem !important;
}
.d-gg64 {
  grid-gap: 6.4rem !important;
}
.d-grg0 {
  grid-row-gap: 0 !important;
}
.d-grg1 {
  grid-row-gap: 0.1rem !important;
}
.d-grg2 {
  grid-row-gap: 0.2rem !important;
}
.d-grg4 {
  grid-row-gap: 0.4rem !important;
}
.d-grg6 {
  grid-row-gap: 0.6rem !important;
}
.d-grg8 {
  grid-row-gap: 0.8rem !important;
}
.d-grg12 {
  grid-row-gap: 1.2rem !important;
}
.d-grg16 {
  grid-row-gap: 1.6rem !important;
}
.d-grg24 {
  grid-row-gap: 2.4rem !important;
}
.d-grg32 {
  grid-row-gap: 3.2rem !important;
}
.d-grg48 {
  grid-row-gap: 4.8rem !important;
}
.d-grg64 {
  grid-row-gap: 6.4rem !important;
}
.d-gcg0 {
  grid-column-gap: 0 !important;
}
.d-gcg1 {
  grid-column-gap: 0.1rem !important;
}
.d-gcg2 {
  grid-column-gap: 0.2rem !important;
}
.d-gcg4 {
  grid-column-gap: 0.4rem !important;
}
.d-gcg6 {
  grid-column-gap: 0.6rem !important;
}
.d-gcg8 {
  grid-column-gap: 0.8rem !important;
}
.d-gcg12 {
  grid-column-gap: 1.2rem !important;
}
.d-gcg16 {
  grid-column-gap: 1.6rem !important;
}
.d-gcg24 {
  grid-column-gap: 2.4rem !important;
}
.d-gcg32 {
  grid-column-gap: 3.2rem !important;
}
.d-gcg48 {
  grid-column-gap: 4.8rem !important;
}
.d-gcg64 {
  grid-column-gap: 6.4rem !important;
}
.d-gcg-unset {
  grid-column-gap: unset !important;
}
.d-grg-unset {
  grid-row-gap: unset !important;
}
.d-gg-unset {
  grid-gap: unset !important;
}
.d-ji-center {
  justify-items: center !important;
}
.d-ji-end {
  justify-items: end !important;
}
.d-ji-start {
  justify-items: start !important;
}
.d-ji-left {
  justify-items: left !important;
}
.d-ji-right {
  justify-items: right !important;
}
.d-ji-baseline {
  justify-items: baseline !important;
}
.d-ji-first-baseline {
  justify-items: first-baseline !important;
}
.d-ji-last-baseline {
  justify-items: last-baseline !important;
}
.d-ji-stretch {
  justify-items: stretch !important;
}
.d-ji-safe {
  justify-items: safe !important;
}
.d-ji-unsafe {
  justify-items: unsafe !important;
}
.d-ji-normal {
  justify-items: normal !important;
}
.d-ji-legacy {
  justify-items: legacy !important;
}
.d-ji-auto {
  justify-items: auto !important;
}
.d-ji-unset {
  justify-items: unset !important;
}
.d-js-center {
  justify-self: center !important;
}
.d-js-end {
  justify-self: end !important;
}
.d-js-start {
  justify-self: start !important;
}
.d-js-left {
  justify-self: left !important;
}
.d-js-right {
  justify-self: right !important;
}
.d-js-baseline {
  justify-self: baseline !important;
}
.d-js-first-baseline {
  justify-self: first-baseline !important;
}
.d-js-last-baseline {
  justify-self: last-baseline !important;
}
.d-js-stretch {
  justify-self: stretch !important;
}
.d-js-safe {
  justify-self: safe !important;
}
.d-js-unsafe {
  justify-self: unsafe !important;
}
.d-js-normal {
  justify-self: normal !important;
}
.d-js-legacy {
  justify-self: legacy !important;
}
.d-js-auto {
  justify-self: auto !important;
}
.d-js-unset {
  justify-self: unset !important;
}
.d-gl-sidebar {
  grid-template-areas: "sidebar content";
  grid-template-columns: [sidebar-start] var(--sidebar-width) [sidebar-end content-start] var(--content-width) [content-end];
}
.d-gl-header {
  grid-auto-columns: minmax(-webkit-min-content, auto);
  grid-auto-columns: minmax(min-content, auto);
  grid-auto-rows: 1fr;
  grid-template-areas: "header" "content";
  grid-template-rows: [header-start] var(--header-height) [header-end content-start] var(--content-height) [content-end];
}
.d-ga-sidebar {
  grid-area: sidebar !important;
}
.d-ga-content {
  grid-area: content !important;
}
.d-ga-header {
  grid-area: header !important;
}
.d-plc-center {
  align-content: center !important;
  justify-content: center !important;
  place-content: center !important;
}
.d-plc-center-end {
  align-content: center !important;
  justify-content: end !important;
  place-content: center end !important;
}
.d-plc-center-start {
  align-content: center !important;
  justify-content: start !important;
  place-content: center start !important;
}
.d-plc-center-stretch {
  align-content: center !important;
  justify-content: stretch !important;
  place-content: center stretch !important;
}
.d-plc-center-space-around {
  align-content: center !important;
  justify-content: space-around !important;
  place-content: center space-around !important;
}
.d-plc-center-space-evenly {
  align-content: center !important;
  justify-content: space-evenly !important;
  place-content: center space-evenly !important;
}
.d-plc-center-space-between {
  align-content: center !important;
  justify-content: space-between !important;
  place-content: center space-between !important;
}
.d-plc-end {
  align-content: end !important;
  justify-content: end !important;
  place-content: end !important;
}
.d-plc-end-start {
  align-content: end !important;
  justify-content: start !important;
  place-content: end start !important;
}
.d-plc-end-stretch {
  align-content: end !important;
  justify-content: stretch !important;
  place-content: end stretch !important;
}
.d-plc-end-center {
  align-content: end !important;
  justify-content: center !important;
  place-content: end center !important;
}
.d-plc-end-space-around {
  align-content: end !important;
  justify-content: space-around !important;
  place-content: end space-around !important;
}
.d-plc-end-space-evenly {
  align-content: end !important;
  justify-content: space-evenly !important;
  place-content: end space-evenly !important;
}
.d-plc-end-space-between {
  align-content: end !important;
  justify-content: space-between !important;
  place-content: end space-between !important;
}
.d-plc-start {
  align-content: start !important;
  justify-content: start !important;
  place-content: start !important;
}
.d-plc-start-end {
  align-content: start !important;
  justify-content: end !important;
  place-content: start end !important;
}
.d-plc-start-center {
  align-content: start !important;
  justify-content: center !important;
  place-content: start center !important;
}
.d-plc-start-stretch {
  align-content: start !important;
  justify-content: stretch !important;
  place-content: start stretch !important;
}
.d-plc-start-space-around {
  align-content: start !important;
  justify-content: space-around !important;
  place-content: start space-around !important;
}
.d-plc-start-space-evenly {
  align-content: start !important;
  justify-content: space-evenly !important;
  place-content: start space-evenly !important;
}
.d-plc-start-space-between {
  align-content: start !important;
  justify-content: space-between !important;
  place-content: start space-between !important;
}
.d-plc-stretch {
  align-content: stretch !important;
  justify-content: stretch !important;
  place-content: stretch !important;
}
.d-plc-stretch-end {
  align-content: stretch !important;
  justify-content: end !important;
  place-content: stretch end !important;
}
.d-plc-stretch-start {
  align-content: stretch !important;
  justify-content: start !important;
  place-content: stretch start !important;
}
.d-plc-stretch-center {
  align-content: stretch !important;
  justify-content: center !important;
  place-content: stretch center !important;
}
.d-plc-stretch-space-evenly {
  align-content: stretch !important;
  justify-content: space-evenly !important;
  place-content: stretch space-evenly !important;
}
.d-plc-stretch-space-around {
  align-content: stretch !important;
  justify-content: space-around !important;
  place-content: stretch space-around !important;
}
.d-plc-stretch-space-between {
  align-content: stretch !important;
  justify-content: space-between !important;
  place-content: stretch space-between !important;
}
.d-plc-space-around {
  align-content: space-around !important;
  justify-content: space-around !important;
  place-content: space-around !important;
}
.d-plc-space-around-end {
  align-content: space-around !important;
  justify-content: end !important;
  place-content: space-around end !important;
}
.d-plc-space-around-start {
  align-content: space-around !important;
  justify-content: start !important;
  place-content: space-around start !important;
}
.d-plc-space-around-center {
  align-content: space-around !important;
  justify-content: center !important;
  place-content: space-around center !important;
}
.d-plc-space-around-space-evenly {
  align-content: space-around !important;
  justify-content: space-evenly !important;
  place-content: space-around space-evenly !important;
}
.d-plc-space-around-space-between {
  align-content: space-around !important;
  justify-content: space-between !important;
  place-content: space-around space-between !important;
}
.d-plc-space-evenly {
  align-content: space-evenly !important;
  justify-content: space-evenly !important;
  place-content: space-evenly !important;
}
.d-plc-space-evenly-end {
  align-content: space-evenly !important;
  justify-content: end !important;
  place-content: space-evenly end !important;
}
.d-plc-space-evenly-start {
  align-content: space-evenly !important;
  justify-content: start !important;
  place-content: space-evenly start !important;
}
.d-plc-space-evenly-center {
  align-content: space-evenly !important;
  justify-content: center !important;
  place-content: space-evenly center !important;
}
.d-plc-space-evenly-space-around {
  align-content: space-evenly !important;
  justify-content: space-around !important;
  place-content: space-evenly space-around !important;
}
.d-plc-space-evenly-space-between {
  align-content: space-evenly !important;
  justify-content: space-between !important;
  place-content: space-evenly space-between !important;
}
.d-plc-space-between {
  align-content: space-between !important;
  justify-content: space-between !important;
  place-content: space-between !important;
}
.d-plc-space-between-end {
  align-content: space-between !important;
  justify-content: end !important;
  place-content: space-between end !important;
}
.d-plc-space-between-start {
  align-content: space-between !important;
  justify-content: start !important;
  place-content: space-between start !important;
}
.d-plc-space-between-center {
  align-content: space-between !important;
  justify-content: center !important;
  place-content: space-between center !important;
}
.d-plc-space-between-space-around {
  align-content: space-between !important;
  justify-content: space-around !important;
  place-content: space-between space-around !important;
}
.d-plc-space-between-space-evenly {
  align-content: space-between !important;
  justify-content: space-evenly !important;
  place-content: space-between space-evenly !important;
}
.d-plc-normal {
  align-content: normal !important;
  justify-content: normal !important;
  place-content: normal !important;
}
.d-plc-legacy {
  align-content: legacy !important;
  justify-content: legacy !important;
  place-content: legacy !important;
}
.d-plc-auto {
  align-content: auto !important;
  justify-content: auto !important;
  place-content: auto !important;
}
.d-plc-unset {
  align-content: unset !important;
  justify-content: unset !important;
  place-content: unset !important;
}
.d-pli-center {
  align-items: center !important;
  justify-items: center !important;
  place-items: center !important;
}
.d-pli-center-end {
  align-items: center !important;
  justify-items: end !important;
  place-items: center end !important;
}
.d-pli-center-start {
  align-items: center !important;
  justify-items: start !important;
  place-items: center start !important;
}
.d-pli-center-stretch {
  align-items: center !important;
  justify-items: stretch !important;
  place-items: center stretch !important;
}
.d-pli-end {
  align-items: end !important;
  justify-items: end !important;
  place-items: end !important;
}
.d-pli-end-start {
  align-items: end !important;
  justify-items: start !important;
  place-items: end start !important;
}
.d-pli-end-stretch {
  align-items: end !important;
  justify-items: stretch !important;
  place-items: end stretch !important;
}
.d-pli-end-center {
  align-items: end !important;
  justify-items: center !important;
  place-items: end center !important;
}
.d-pli-start {
  align-items: start !important;
  justify-items: start !important;
  place-items: start !important;
}
.d-pli-start-end {
  align-items: start !important;
  justify-items: end !important;
  place-items: start end !important;
}
.d-pli-start-center {
  align-items: start !important;
  justify-items: center !important;
  place-items: start center !important;
}
.d-pli-start-stretch {
  align-items: start !important;
  justify-items: stretch !important;
  place-items: start stretch !important;
}
.d-pli-stretch {
  align-items: stretch !important;
  justify-items: stretch !important;
  place-items: stretch !important;
}
.d-pli-stretch-end {
  align-items: stretch !important;
  justify-items: end !important;
  place-items: stretch end !important;
}
.d-pli-stretch-start {
  align-items: stretch !important;
  justify-items: start !important;
  place-items: stretch start !important;
}
.d-pli-stretch-center {
  align-items: stretch !important;
  justify-items: center !important;
  place-items: stretch center !important;
}
.d-pli-normal {
  align-items: normal !important;
  justify-items: normal !important;
  place-items: normal !important;
}
.d-pli-legacy {
  align-items: legacy !important;
  justify-items: legacy !important;
  place-items: legacy !important;
}
.d-pli-auto {
  align-items: auto !important;
  justify-items: auto !important;
  place-items: auto !important;
}
.d-pli-unset {
  align-items: unset !important;
  justify-items: unset !important;
  place-items: unset !important;
}
.d-pls-center {
  align-self: center !important;
  justify-self: center !important;
  place-self: center !important;
}
.d-pls-center-end {
  align-self: center !important;
  justify-self: end !important;
  place-self: center end !important;
}
.d-pls-center-start {
  align-self: center !important;
  justify-self: start !important;
  place-self: center start !important;
}
.d-pls-center-stretch {
  align-self: center !important;
  justify-self: stretch !important;
  place-self: center stretch !important;
}
.d-pls-end {
  align-self: end !important;
  justify-self: end !important;
  place-self: end !important;
}
.d-pls-end-start {
  align-self: end !important;
  justify-self: start !important;
  place-self: end start !important;
}
.d-pls-end-stretch {
  align-self: end !important;
  justify-self: stretch !important;
  place-self: end stretch !important;
}
.d-pls-end-center {
  align-self: end !important;
  justify-self: center !important;
  place-self: end center !important;
}
.d-pls-start {
  align-self: start !important;
  justify-self: start !important;
  place-self: start !important;
}
.d-pls-start-end {
  align-self: start !important;
  justify-self: end !important;
  place-self: start end !important;
}
.d-pls-start-center {
  align-self: start !important;
  justify-self: center !important;
  place-self: start center !important;
}
.d-pls-start-stretch {
  align-self: start !important;
  justify-self: stretch !important;
  place-self: start stretch !important;
}
.d-pls-stretch {
  align-self: stretch !important;
  justify-self: stretch !important;
  place-self: stretch !important;
}
.d-pls-stretch-end {
  align-self: stretch !important;
  justify-self: end !important;
  place-self: stretch end !important;
}
.d-pls-stretch-start {
  align-self: stretch !important;
  justify-self: start !important;
  place-self: stretch start !important;
}
.d-pls-stretch-center {
  align-self: stretch !important;
  justify-self: center !important;
  place-self: stretch center !important;
}
.d-pls-normal {
  align-self: normal !important;
  justify-self: normal !important;
  place-self: normal !important;
}
.d-pls-legacy {
  align-self: legacy !important;
  justify-self: legacy !important;
  place-self: legacy !important;
}
.d-pls-auto {
  align-self: auto !important;
  justify-self: auto !important;
  place-self: auto !important;
}
.d-pls-unset {
  align-self: unset !important;
  justify-self: unset !important;
  place-self: unset !important;
}
.d-g-rows1 {
  grid-template-rows: [full-start] repeat(1, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows2 {
  grid-template-rows: [full-start] repeat(2, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows3 {
  grid-template-rows: [full-start] repeat(3, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows4 {
  grid-template-rows: [full-start] repeat(4, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows5 {
  grid-template-rows: [full-start] repeat(5, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows6 {
  grid-template-rows: [full-start] repeat(6, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows7 {
  grid-template-rows: [full-start] repeat(7, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows8 {
  grid-template-rows: [full-start] repeat(8, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows9 {
  grid-template-rows: [full-start] repeat(9, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows10 {
  grid-template-rows: [full-start] repeat(10, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows11 {
  grid-template-rows: [full-start] repeat(11, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-g-rows12 {
  grid-template-rows: [full-start] repeat(12, [col-start] minmax(0, 1fr) [col-end]) [full-end] !important;
}
.d-grs1 {
  grid-row-start: 1 !important;
}
.d-grs2 {
  grid-row-start: 2 !important;
}
.d-grs3 {
  grid-row-start: 3 !important;
}
.d-grs4 {
  grid-row-start: 4 !important;
}
.d-grs5 {
  grid-row-start: 5 !important;
}
.d-grs6 {
  grid-row-start: 6 !important;
}
.d-grs7 {
  grid-row-start: 7 !important;
}
.d-grs8 {
  grid-row-start: 8 !important;
}
.d-grs9 {
  grid-row-start: 9 !important;
}
.d-grs10 {
  grid-row-start: 10 !important;
}
.d-grs11 {
  grid-row-start: 11 !important;
}
.d-grs12 {
  grid-row-start: 12 !important;
}
.d-gre1 {
  grid-row-end: 1 !important;
}
.d-gre2 {
  grid-row-end: 2 !important;
}
.d-gre3 {
  grid-row-end: 3 !important;
}
.d-gre4 {
  grid-row-end: 4 !important;
}
.d-gre5 {
  grid-row-end: 5 !important;
}
.d-gre6 {
  grid-row-end: 6 !important;
}
.d-gre7 {
  grid-row-end: 7 !important;
}
.d-gre8 {
  grid-row-end: 8 !important;
}
.d-gre9 {
  grid-row-end: 9 !important;
}
.d-gre10 {
  grid-row-end: 10 !important;
}
.d-gre11 {
  grid-row-end: 11 !important;
}
.d-gre12 {
  grid-row-end: 12 !important;
}
.d-gr1 {
  grid-row: span 1  /  span 1 !important;
}
.d-gr2 {
  grid-row: span 2  /  span 2 !important;
}
.d-gr3 {
  grid-row: span 3  /  span 3 !important;
}
.d-gr4 {
  grid-row: span 4  /  span 4 !important;
}
.d-gr5 {
  grid-row: span 5  /  span 5 !important;
}
.d-gr6 {
  grid-row: span 6  /  span 6 !important;
}
.d-gr7 {
  grid-row: span 7  /  span 7 !important;
}
.d-gr8 {
  grid-row: span 8  /  span 8 !important;
}
.d-gr9 {
  grid-row: span 9  /  span 9 !important;
}
.d-gr10 {
  grid-row: span 10  /  span 10 !important;
}
.d-gr11 {
  grid-row: span 11  /  span 11 !important;
}
.d-gr12 {
  grid-row: span 12  /  span 12 !important;
}
.d-gr-full {
  grid-row: 1  /  -1 !important;
}
.d-grs-auto {
  grid-row-start: auto !important;
}
.d-gre-auto {
  grid-row-end: auto !important;
}
.d-gr-auto {
  grid-row: auto !important;
}
.d-grs-unset {
  grid-row-start: unset !important;
}
.d-gre-unset {
  grid-row-end: unset !important;
}
.d-gr-unset {
  grid-row: unset !important;
}
