.d-c-menu {
  cursor: context-menu !important;
}
.d-c-help {
  cursor: help !important;
}
.d-c-pointer {
  cursor: pointer !important;
}
.d-c-progress {
  cursor: progress !important;
}
.d-c-wait {
  cursor: wait !important;
}
.d-c-crosshair {
  cursor: crosshair !important;
}
.d-c-text {
  cursor: text !important;
}
.d-c-move {
  cursor: move !important;
}
.d-c-copy {
  cursor: copy !important;
}
.d-c-not-allowed {
  cursor: not-allowed !important;
}
.d-c-grab {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}
.d-c-grabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}
.d-c-all-scroll {
  cursor: all-scroll !important;
}
.d-c-col-resize {
  cursor: col-resize !important;
}
.d-c-row-resize {
  cursor: row-resize !important;
}
.d-c-zoom-in {
  cursor: -webkit-zoom-in !important;
  cursor: zoom-in !important;
}
.d-c-zoom-out {
  cursor: -webkit-zoom-out !important;
  cursor: zoom-out !important;
}
.d-c-auto {
  cursor: auto !important;
}
.d-c-default {
  cursor: default !important;
}
.d-c-none {
  cursor: none !important;
}
.d-ol-focusring {
  outline: solid var(--su4) var(--focus-ring) !important;
}
.d-ol-none {
  outline: 0 !important;
}
.d-pe-auto {
  pointer-events: auto !important;
}
.d-pe-inherit {
  pointer-events: inherit !important;
}
.d-pe-none {
  pointer-events: none !important;
}
.d-us-auto {
  -webkit-user-select: auto !important;
      -ms-user-select: auto !important;
             -moz-user-select: auto !important;
          user-select: auto !important;
}
.d-us-none {
  -webkit-user-select: none !important;
      -ms-user-select: none !important;
             -moz-user-select: none !important;
          user-select: none !important;
}
