.d-box-border {
  box-sizing: border-box !important;
}
.d-box-content {
  box-sizing: content-box !important;
}
.d-box-unset {
  box-sizing: unset !important;
}
.d-t0 {
  top: 0 !important;
}
.d-t1 {
  top: 0.1rem !important;
}
.d-t2 {
  top: 0.2rem !important;
}
.d-t4 {
  top: 0.4rem !important;
}
.d-t6 {
  top: 0.6rem !important;
}
.d-t8 {
  top: 0.8rem !important;
}
.d-t12 {
  top: 1.2rem !important;
}
.d-t16 {
  top: 1.6rem !important;
}
.d-t24 {
  top: 2.4rem !important;
}
.d-t32 {
  top: 3.2rem !important;
}
.d-t48 {
  top: 4.8rem !important;
}
.d-t64 {
  top: 6.4rem !important;
}
.d-t72 {
  top: 7.2rem !important;
}
.d-t84 {
  top: 8.4rem !important;
}
.d-t96 {
  top: 9.6rem !important;
}
.d-t102 {
  top: 10.2rem !important;
}
.d-tn1 {
  top: -0.1rem !important;
}
.d-tn2 {
  top: -0.2rem !important;
}
.d-tn4 {
  top: -0.4rem !important;
}
.d-tn6 {
  top: -0.6rem !important;
}
.d-tn8 {
  top: -0.8rem !important;
}
.d-tn12 {
  top: -1.2rem !important;
}
.d-tn16 {
  top: -1.6rem !important;
}
.d-tn24 {
  top: -2.4rem !important;
}
.d-tn32 {
  top: -3.2rem !important;
}
.d-tn48 {
  top: -4.8rem !important;
}
.d-tn64 {
  top: -6.4rem !important;
}
.d-tn72 {
  top: -7.2rem !important;
}
.d-tn84 {
  top: -8.4rem !important;
}
.d-tn96 {
  top: -9.6rem !important;
}
.d-tn102 {
  top: -10.2rem !important;
}
.d-t50p {
  top: 50% !important;
}
.d-t100p {
  top: 100% !important;
}
.d-t100p-calc {
  top: calc(100% + 8px) !important;
  top: calc(100% + 8px) !important;
  top: calc(100% + var(--fixed-value, 8px)) !important;
}
.d-tn50p {
  top: -50% !important;
}
.d-tn100p {
  top: -100% !important;
}
.d-tn100p-calc {
  top: calc(-100% + 8px) !important;
  top: calc(-100% + 8px) !important;
  top: calc(-100% + var(--fixed-value, 8px)) !important;
}
.d-r0 {
  right: 0 !important;
}
.d-r1 {
  right: 0.1rem !important;
}
.d-r2 {
  right: 0.2rem !important;
}
.d-r4 {
  right: 0.4rem !important;
}
.d-r6 {
  right: 0.6rem !important;
}
.d-r8 {
  right: 0.8rem !important;
}
.d-r12 {
  right: 1.2rem !important;
}
.d-r16 {
  right: 1.6rem !important;
}
.d-r24 {
  right: 2.4rem !important;
}
.d-r32 {
  right: 3.2rem !important;
}
.d-r48 {
  right: 4.8rem !important;
}
.d-r64 {
  right: 6.4rem !important;
}
.d-r72 {
  right: 7.2rem !important;
}
.d-r84 {
  right: 8.4rem !important;
}
.d-r96 {
  right: 9.6rem !important;
}
.d-r102 {
  right: 10.2rem !important;
}
.d-rn1 {
  right: -0.1rem !important;
}
.d-rn2 {
  right: -0.2rem !important;
}
.d-rn4 {
  right: -0.4rem !important;
}
.d-rn6 {
  right: -0.6rem !important;
}
.d-rn8 {
  right: -0.8rem !important;
}
.d-rn12 {
  right: -1.2rem !important;
}
.d-rn16 {
  right: -1.6rem !important;
}
.d-rn24 {
  right: -2.4rem !important;
}
.d-rn32 {
  right: -3.2rem !important;
}
.d-rn48 {
  right: -4.8rem !important;
}
.d-rn64 {
  right: -6.4rem !important;
}
.d-rn72 {
  right: -7.2rem !important;
}
.d-rn84 {
  right: -8.4rem !important;
}
.d-rn96 {
  right: -9.6rem !important;
}
.d-rn102 {
  right: -10.2rem !important;
}
.d-r50p {
  right: 50% !important;
}
.d-r100p {
  right: 100% !important;
}
.d-r100p-calc {
  right: calc(100% + 8px) !important;
  right: calc(100% + 8px) !important;
  right: calc(100% + var(--fixed-value, 8px)) !important;
}
.d-rn50p {
  right: -50% !important;
}
.d-rn100p {
  right: -100% !important;
}
.d-rn100p-calc {
  right: calc(-100% + 8px) !important;
  right: calc(-100% + 8px) !important;
  right: calc(-100% + var(--fixed-value, 8px)) !important;
}
.d-b0 {
  bottom: 0 !important;
}
.d-b1 {
  bottom: 0.1rem !important;
}
.d-b2 {
  bottom: 0.2rem !important;
}
.d-b4 {
  bottom: 0.4rem !important;
}
.d-b6 {
  bottom: 0.6rem !important;
}
.d-b8 {
  bottom: 0.8rem !important;
}
.d-b12 {
  bottom: 1.2rem !important;
}
.d-b16 {
  bottom: 1.6rem !important;
}
.d-b24 {
  bottom: 2.4rem !important;
}
.d-b32 {
  bottom: 3.2rem !important;
}
.d-b48 {
  bottom: 4.8rem !important;
}
.d-b64 {
  bottom: 6.4rem !important;
}
.d-b72 {
  bottom: 7.2rem !important;
}
.d-b84 {
  bottom: 8.4rem !important;
}
.d-b96 {
  bottom: 9.6rem !important;
}
.d-b102 {
  bottom: 10.2rem !important;
}
.d-bn1 {
  bottom: -0.1rem !important;
}
.d-bn2 {
  bottom: -0.2rem !important;
}
.d-bn4 {
  bottom: -0.4rem !important;
}
.d-bn6 {
  bottom: -0.6rem !important;
}
.d-bn8 {
  bottom: -0.8rem !important;
}
.d-bn12 {
  bottom: -1.2rem !important;
}
.d-bn16 {
  bottom: -1.6rem !important;
}
.d-bn24 {
  bottom: -2.4rem !important;
}
.d-bn32 {
  bottom: -3.2rem !important;
}
.d-bn48 {
  bottom: -4.8rem !important;
}
.d-bn64 {
  bottom: -6.4rem !important;
}
.d-bn72 {
  bottom: -7.2rem !important;
}
.d-bn84 {
  bottom: -8.4rem !important;
}
.d-bn96 {
  bottom: -9.6rem !important;
}
.d-bn102 {
  bottom: -10.2rem !important;
}
.d-b50p {
  bottom: 50% !important;
}
.d-b100p {
  bottom: 100% !important;
}
.d-b100p-calc {
  bottom: calc(100% + 8px) !important;
  bottom: calc(100% + 8px) !important;
  bottom: calc(100% + var(--fixed-value, 8px)) !important;
}
.d-bn50p {
  bottom: -50% !important;
}
.d-bn100p {
  bottom: -100% !important;
}
.d-bn100p-calc {
  bottom: calc(-100% + 8px) !important;
  bottom: calc(-100% + 8px) !important;
  bottom: calc(-100% + var(--fixed-value, 8px)) !important;
}
.d-l0 {
  left: 0 !important;
}
.d-l1 {
  left: 0.1rem !important;
}
.d-l2 {
  left: 0.2rem !important;
}
.d-l4 {
  left: 0.4rem !important;
}
.d-l6 {
  left: 0.6rem !important;
}
.d-l8 {
  left: 0.8rem !important;
}
.d-l12 {
  left: 1.2rem !important;
}
.d-l16 {
  left: 1.6rem !important;
}
.d-l24 {
  left: 2.4rem !important;
}
.d-l32 {
  left: 3.2rem !important;
}
.d-l48 {
  left: 4.8rem !important;
}
.d-l64 {
  left: 6.4rem !important;
}
.d-l72 {
  left: 7.2rem !important;
}
.d-l84 {
  left: 8.4rem !important;
}
.d-l96 {
  left: 9.6rem !important;
}
.d-l102 {
  left: 10.2rem !important;
}
.d-ln1 {
  left: -0.1rem !important;
}
.d-ln2 {
  left: -0.2rem !important;
}
.d-ln4 {
  left: -0.4rem !important;
}
.d-ln6 {
  left: -0.6rem !important;
}
.d-ln8 {
  left: -0.8rem !important;
}
.d-ln12 {
  left: -1.2rem !important;
}
.d-ln16 {
  left: -1.6rem !important;
}
.d-ln24 {
  left: -2.4rem !important;
}
.d-ln32 {
  left: -3.2rem !important;
}
.d-ln48 {
  left: -4.8rem !important;
}
.d-ln64 {
  left: -6.4rem !important;
}
.d-ln72 {
  left: -7.2rem !important;
}
.d-ln84 {
  left: -8.4rem !important;
}
.d-ln96 {
  left: -9.6rem !important;
}
.d-ln102 {
  left: -10.2rem !important;
}
.d-l50p {
  left: 50% !important;
}
.d-l100p {
  left: 100% !important;
}
.d-l100p-calc {
  left: calc(100% + 8px) !important;
  left: calc(100% + 8px) !important;
  left: calc(100% + var(--fixed-value, 8px)) !important;
}
.d-ln50p {
  left: -50% !important;
}
.d-ln100p {
  left: -100% !important;
}
.d-ln100p-calc {
  left: calc(-100% + 8px) !important;
  left: calc(-100% + 8px) !important;
  left: calc(-100% + var(--fixed-value, 8px)) !important;
}
.d-y0 {
  top: 0 !important;
  bottom: 0 !important;
}
.d-y1 {
  top: 0.1rem !important;
  bottom: 0.1rem !important;
}
.d-y2 {
  top: 0.2rem !important;
  bottom: 0.2rem !important;
}
.d-y4 {
  top: 0.4rem !important;
  bottom: 0.4rem !important;
}
.d-y6 {
  top: 0.6rem !important;
  bottom: 0.6rem !important;
}
.d-y8 {
  top: 0.8rem !important;
  bottom: 0.8rem !important;
}
.d-y12 {
  top: 1.2rem !important;
  bottom: 1.2rem !important;
}
.d-y16 {
  top: 1.6rem !important;
  bottom: 1.6rem !important;
}
.d-y24 {
  top: 2.4rem !important;
  bottom: 2.4rem !important;
}
.d-y32 {
  top: 3.2rem !important;
  bottom: 3.2rem !important;
}
.d-y48 {
  top: 4.8rem !important;
  bottom: 4.8rem !important;
}
.d-y64 {
  top: 6.4rem !important;
  bottom: 6.4rem !important;
}
.d-y72 {
  top: 7.2rem !important;
  bottom: 7.2rem !important;
}
.d-y84 {
  top: 8.4rem !important;
  bottom: 8.4rem !important;
}
.d-y96 {
  top: 9.6rem !important;
  bottom: 9.6rem !important;
}
.d-y102 {
  top: 10.2rem !important;
  bottom: 10.2rem !important;
}
.d-yn1 {
  top: -0.1rem !important;
  bottom: -0.1rem !important;
}
.d-yn2 {
  top: -0.2rem !important;
  bottom: -0.2rem !important;
}
.d-yn4 {
  top: -0.4rem !important;
  bottom: -0.4rem !important;
}
.d-yn6 {
  top: -0.6rem !important;
  bottom: -0.6rem !important;
}
.d-yn8 {
  top: -0.8rem !important;
  bottom: -0.8rem !important;
}
.d-yn12 {
  top: -1.2rem !important;
  bottom: -1.2rem !important;
}
.d-yn16 {
  top: -1.6rem !important;
  bottom: -1.6rem !important;
}
.d-yn24 {
  top: -2.4rem !important;
  bottom: -2.4rem !important;
}
.d-yn32 {
  top: -3.2rem !important;
  bottom: -3.2rem !important;
}
.d-yn48 {
  top: -4.8rem !important;
  bottom: -4.8rem !important;
}
.d-yn64 {
  top: -6.4rem !important;
  bottom: -6.4rem !important;
}
.d-yn72 {
  top: -7.2rem !important;
  bottom: -7.2rem !important;
}
.d-yn84 {
  top: -8.4rem !important;
  bottom: -8.4rem !important;
}
.d-yn96 {
  top: -9.6rem !important;
  bottom: -9.6rem !important;
}
.d-yn102 {
  top: -10.2rem !important;
  bottom: -10.2rem !important;
}
.d-x0 {
  right: 0 !important;
  left: 0 !important;
}
.d-x1 {
  right: 0.1rem !important;
  left: 0.1rem !important;
}
.d-x2 {
  right: 0.2rem !important;
  left: 0.2rem !important;
}
.d-x4 {
  right: 0.4rem !important;
  left: 0.4rem !important;
}
.d-x6 {
  right: 0.6rem !important;
  left: 0.6rem !important;
}
.d-x8 {
  right: 0.8rem !important;
  left: 0.8rem !important;
}
.d-x12 {
  right: 1.2rem !important;
  left: 1.2rem !important;
}
.d-x16 {
  right: 1.6rem !important;
  left: 1.6rem !important;
}
.d-x24 {
  right: 2.4rem !important;
  left: 2.4rem !important;
}
.d-x32 {
  right: 3.2rem !important;
  left: 3.2rem !important;
}
.d-x48 {
  right: 4.8rem !important;
  left: 4.8rem !important;
}
.d-x64 {
  right: 6.4rem !important;
  left: 6.4rem !important;
}
.d-x72 {
  right: 7.2rem !important;
  left: 7.2rem !important;
}
.d-x84 {
  right: 8.4rem !important;
  left: 8.4rem !important;
}
.d-x96 {
  right: 9.6rem !important;
  left: 9.6rem !important;
}
.d-x102 {
  right: 10.2rem !important;
  left: 10.2rem !important;
}
.d-xn1 {
  right: -0.1rem !important;
  left: -0.1rem !important;
}
.d-xn2 {
  right: -0.2rem !important;
  left: -0.2rem !important;
}
.d-xn4 {
  right: -0.4rem !important;
  left: -0.4rem !important;
}
.d-xn6 {
  right: -0.6rem !important;
  left: -0.6rem !important;
}
.d-xn8 {
  right: -0.8rem !important;
  left: -0.8rem !important;
}
.d-xn12 {
  right: -1.2rem !important;
  left: -1.2rem !important;
}
.d-xn16 {
  right: -1.6rem !important;
  left: -1.6rem !important;
}
.d-xn24 {
  right: -2.4rem !important;
  left: -2.4rem !important;
}
.d-xn32 {
  right: -3.2rem !important;
  left: -3.2rem !important;
}
.d-xn48 {
  right: -4.8rem !important;
  left: -4.8rem !important;
}
.d-xn64 {
  right: -6.4rem !important;
  left: -6.4rem !important;
}
.d-xn72 {
  right: -7.2rem !important;
  left: -7.2rem !important;
}
.d-xn84 {
  right: -8.4rem !important;
  left: -8.4rem !important;
}
.d-xn96 {
  right: -9.6rem !important;
  left: -9.6rem !important;
}
.d-xn102 {
  right: -10.2rem !important;
  left: -10.2rem !important;
}
.d-all0 {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}
.d-all1 {
  top: 0.1rem !important;
  right: 0.1rem !important;
  bottom: 0.1rem !important;
  left: 0.1rem !important;
}
.d-all2 {
  top: 0.2rem !important;
  right: 0.2rem !important;
  bottom: 0.2rem !important;
  left: 0.2rem !important;
}
.d-all4 {
  top: 0.4rem !important;
  right: 0.4rem !important;
  bottom: 0.4rem !important;
  left: 0.4rem !important;
}
.d-all6 {
  top: 0.6rem !important;
  right: 0.6rem !important;
  bottom: 0.6rem !important;
  left: 0.6rem !important;
}
.d-all8 {
  top: 0.8rem !important;
  right: 0.8rem !important;
  bottom: 0.8rem !important;
  left: 0.8rem !important;
}
.d-all12 {
  top: 1.2rem !important;
  right: 1.2rem !important;
  bottom: 1.2rem !important;
  left: 1.2rem !important;
}
.d-all16 {
  top: 1.6rem !important;
  right: 1.6rem !important;
  bottom: 1.6rem !important;
  left: 1.6rem !important;
}
.d-all24 {
  top: 2.4rem !important;
  right: 2.4rem !important;
  bottom: 2.4rem !important;
  left: 2.4rem !important;
}
.d-all32 {
  top: 3.2rem !important;
  right: 3.2rem !important;
  bottom: 3.2rem !important;
  left: 3.2rem !important;
}
.d-all48 {
  top: 4.8rem !important;
  right: 4.8rem !important;
  bottom: 4.8rem !important;
  left: 4.8rem !important;
}
.d-all64 {
  top: 6.4rem !important;
  right: 6.4rem !important;
  bottom: 6.4rem !important;
  left: 6.4rem !important;
}
.d-all72 {
  top: 7.2rem !important;
  right: 7.2rem !important;
  bottom: 7.2rem !important;
  left: 7.2rem !important;
}
.d-all84 {
  top: 8.4rem !important;
  right: 8.4rem !important;
  bottom: 8.4rem !important;
  left: 8.4rem !important;
}
.d-all96 {
  top: 9.6rem !important;
  right: 9.6rem !important;
  bottom: 9.6rem !important;
  left: 9.6rem !important;
}
.d-all102 {
  top: 10.2rem !important;
  right: 10.2rem !important;
  bottom: 10.2rem !important;
  left: 10.2rem !important;
}
.d-alln1 {
  top: -0.1rem !important;
  right: -0.1rem !important;
  bottom: -0.1rem !important;
  left: -0.1rem !important;
}
.d-alln2 {
  top: -0.2rem !important;
  right: -0.2rem !important;
  bottom: -0.2rem !important;
  left: -0.2rem !important;
}
.d-alln4 {
  top: -0.4rem !important;
  right: -0.4rem !important;
  bottom: -0.4rem !important;
  left: -0.4rem !important;
}
.d-alln6 {
  top: -0.6rem !important;
  right: -0.6rem !important;
  bottom: -0.6rem !important;
  left: -0.6rem !important;
}
.d-alln8 {
  top: -0.8rem !important;
  right: -0.8rem !important;
  bottom: -0.8rem !important;
  left: -0.8rem !important;
}
.d-alln12 {
  top: -1.2rem !important;
  right: -1.2rem !important;
  bottom: -1.2rem !important;
  left: -1.2rem !important;
}
.d-alln16 {
  top: -1.6rem !important;
  right: -1.6rem !important;
  bottom: -1.6rem !important;
  left: -1.6rem !important;
}
.d-alln24 {
  top: -2.4rem !important;
  right: -2.4rem !important;
  bottom: -2.4rem !important;
  left: -2.4rem !important;
}
.d-alln32 {
  top: -3.2rem !important;
  right: -3.2rem !important;
  bottom: -3.2rem !important;
  left: -3.2rem !important;
}
.d-alln48 {
  top: -4.8rem !important;
  right: -4.8rem !important;
  bottom: -4.8rem !important;
  left: -4.8rem !important;
}
.d-alln64 {
  top: -6.4rem !important;
  right: -6.4rem !important;
  bottom: -6.4rem !important;
  left: -6.4rem !important;
}
.d-alln72 {
  top: -7.2rem !important;
  right: -7.2rem !important;
  bottom: -7.2rem !important;
  left: -7.2rem !important;
}
.d-alln84 {
  top: -8.4rem !important;
  right: -8.4rem !important;
  bottom: -8.4rem !important;
  left: -8.4rem !important;
}
.d-alln96 {
  top: -9.6rem !important;
  right: -9.6rem !important;
  bottom: -9.6rem !important;
  left: -9.6rem !important;
}
.d-alln102 {
  top: -10.2rem !important;
  right: -10.2rem !important;
  bottom: -10.2rem !important;
  left: -10.2rem !important;
}
.d-d-block {
  display: block !important;
}
.d-d-flex {
  display: flex !important;
}
.d-d-grid {
  display: grid !important;
}
.d-d-inline {
  display: inline !important;
}
.d-d-inline-block {
  display: inline-block !important;
}
.d-d-inline-flex {
  display: inline-flex !important;
}
.d-d-inline-grid {
  display: inline-grid !important;
}
.d-d-none {
  display: none !important;
}
.d-d-unset {
  display: unset !important;
}
.d-of-auto {
  overflow: auto !important;
}
.d-of-x-auto {
  overflow-x: auto !important;
}
.d-of-y-auto {
  overflow-y: auto !important;
}
.d-of-hidden {
  overflow: hidden !important;
}
.d-of-x-hidden {
  overflow-x: hidden !important;
}
.d-of-y-hidden {
  overflow-y: hidden !important;
}
.d-of-scroll {
  overflow: scroll !important;
}
.d-of-x-scroll {
  overflow-x: scroll !important;
}
.d-of-y-scroll {
  overflow-y: scroll !important;
}
.d-of-visible {
  overflow: visible !important;
}
.d-of-x-visible {
  overflow-x: visible !important;
}
.d-of-y-visible {
  overflow-y: visible !important;
}
.d-of-unset {
  overflow: unset !important;
}
.d-ps-static {
  position: static !important;
}
.d-ps-relative {
  position: relative !important;
}
.d-ps-absolute {
  position: absolute !important;
}
.d-ps-fixed {
  position: fixed !important;
}
.d-ps-sticky {
  position: sticky !important;
}
.d-ps-unset {
  position: unset !important;
}
.d-vi-visible {
  visibility: visible !important;
}
.d-vi-hidden {
  visibility: hidden !important;
}
.d-vi-unset {
  visibility: unset !important;
}
.d-vi-visible-sr {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  word-wrap: normal;
}
.d-zi-hide {
  z-index: var(--zi-hide) !important;
}
.d-zi-base {
  z-index: var(--zi-base) !important;
}
.d-zi-base1 {
  z-index: var(--zi-base1) !important;
}
.d-zi-selected {
  z-index: var(--zi-selected) !important;
}
.d-zi-active {
  z-index: var(--zi-active) !important;
}
.d-zi-navigation {
  z-index: var(--zi-navigation) !important;
}
.d-zi-navigation-fixed {
  z-index: var(--zi-navigation-fixed) !important;
}
.d-zi-dropdown {
  z-index: var(--zi-dropdown) !important;
}
.d-zi-popover {
  z-index: var(--zi-popover) !important;
}
.d-zi-tooltip {
  z-index: var(--zi-tooltip) !important;
}
.d-zi-drawer {
  z-index: var(--zi-drawer) !important;
}
.d-zi-modal {
  z-index: var(--zi-modal) !important;
}
.d-zi-notification {
  z-index: var(--zi-notification) !important;
}
.d-zi-unset {
  z-index: unset !important;
}
