.d-stack1 > * + * {
  margin-top: 0.1rem !important;
}
.d-stack2 > * + * {
  margin-top: 0.2rem !important;
}
.d-stack4 > * + * {
  margin-top: 0.4rem !important;
}
.d-stack6 > * + * {
  margin-top: 0.6rem !important;
}
.d-stack8 > * + * {
  margin-top: 0.8rem !important;
}
.d-stack12 > * + * {
  margin-top: 1.2rem !important;
}
.d-stack16 > * + * {
  margin-top: 1.6rem !important;
}
.d-stack24 > * + * {
  margin-top: 2.4rem !important;
}
.d-stack32 > * + * {
  margin-top: 3.2rem !important;
}
.d-stack48 > * + * {
  margin-top: 4.8rem !important;
}
.d-stack64 > * + * {
  margin-top: 6.4rem !important;
}
.d-flow1 > * + * {
  margin-left: 0.1rem !important;
}
.d-flow2 > * + * {
  margin-left: 0.2rem !important;
}
.d-flow4 > * + * {
  margin-left: 0.4rem !important;
}
.d-flow6 > * + * {
  margin-left: 0.6rem !important;
}
.d-flow8 > * + * {
  margin-left: 0.8rem !important;
}
.d-flow12 > * + * {
  margin-left: 1.2rem !important;
}
.d-flow16 > * + * {
  margin-left: 1.6rem !important;
}
.d-flow24 > * + * {
  margin-left: 2.4rem !important;
}
.d-flow32 > * + * {
  margin-left: 3.2rem !important;
}
.d-flow48 > * + * {
  margin-left: 4.8rem !important;
}
.d-flow64 > * + * {
  margin-left: 6.4rem !important;
}
.d-m0 {
  margin: 0 !important;
}
.d-m1 {
  margin: 0.1rem !important;
}
.d-m2 {
  margin: 0.2rem !important;
}
.d-m4 {
  margin: 0.4rem !important;
}
.d-m6 {
  margin: 0.6rem !important;
}
.d-m8 {
  margin: 0.8rem !important;
}
.d-m12 {
  margin: 1.2rem !important;
}
.d-m16 {
  margin: 1.6rem !important;
}
.d-m24 {
  margin: 2.4rem !important;
}
.d-m32 {
  margin: 3.2rem !important;
}
.d-m48 {
  margin: 4.8rem !important;
}
.d-m64 {
  margin: 6.4rem !important;
}
.d-m-auto {
  margin: auto !important;
}
.d-m-unset {
  margin: unset !important;
}
.d-mt0 {
  margin-top: 0 !important;
}
.d-mt1 {
  margin-top: 0.1rem !important;
}
.d-mt2 {
  margin-top: 0.2rem !important;
}
.d-mt4 {
  margin-top: 0.4rem !important;
}
.d-mt6 {
  margin-top: 0.6rem !important;
}
.d-mt8 {
  margin-top: 0.8rem !important;
}
.d-mt12 {
  margin-top: 1.2rem !important;
}
.d-mt16 {
  margin-top: 1.6rem !important;
}
.d-mt24 {
  margin-top: 2.4rem !important;
}
.d-mt32 {
  margin-top: 3.2rem !important;
}
.d-mt48 {
  margin-top: 4.8rem !important;
}
.d-mt64 {
  margin-top: 6.4rem !important;
}
.d-mt-auto {
  margin-top: auto !important;
}
.d-mt-unset {
  margin-top: unset !important;
}
.d-mr0 {
  margin-right: 0 !important;
}
.d-mr1 {
  margin-right: 0.1rem !important;
}
.d-mr2 {
  margin-right: 0.2rem !important;
}
.d-mr4 {
  margin-right: 0.4rem !important;
}
.d-mr6 {
  margin-right: 0.6rem !important;
}
.d-mr8 {
  margin-right: 0.8rem !important;
}
.d-mr12 {
  margin-right: 1.2rem !important;
}
.d-mr16 {
  margin-right: 1.6rem !important;
}
.d-mr24 {
  margin-right: 2.4rem !important;
}
.d-mr32 {
  margin-right: 3.2rem !important;
}
.d-mr48 {
  margin-right: 4.8rem !important;
}
.d-mr64 {
  margin-right: 6.4rem !important;
}
.d-mr-auto {
  margin-right: auto !important;
}
.d-mr-unset {
  margin-right: unset !important;
}
.d-mb0 {
  margin-bottom: 0 !important;
}
.d-mb1 {
  margin-bottom: 0.1rem !important;
}
.d-mb2 {
  margin-bottom: 0.2rem !important;
}
.d-mb4 {
  margin-bottom: 0.4rem !important;
}
.d-mb6 {
  margin-bottom: 0.6rem !important;
}
.d-mb8 {
  margin-bottom: 0.8rem !important;
}
.d-mb12 {
  margin-bottom: 1.2rem !important;
}
.d-mb16 {
  margin-bottom: 1.6rem !important;
}
.d-mb24 {
  margin-bottom: 2.4rem !important;
}
.d-mb32 {
  margin-bottom: 3.2rem !important;
}
.d-mb48 {
  margin-bottom: 4.8rem !important;
}
.d-mb64 {
  margin-bottom: 6.4rem !important;
}
.d-mb-auto {
  margin-bottom: auto !important;
}
.d-mb-unset {
  margin-bottom: unset !important;
}
.d-ml0 {
  margin-left: 0 !important;
}
.d-ml1 {
  margin-left: 0.1rem !important;
}
.d-ml2 {
  margin-left: 0.2rem !important;
}
.d-ml4 {
  margin-left: 0.4rem !important;
}
.d-ml6 {
  margin-left: 0.6rem !important;
}
.d-ml8 {
  margin-left: 0.8rem !important;
}
.d-ml12 {
  margin-left: 1.2rem !important;
}
.d-ml16 {
  margin-left: 1.6rem !important;
}
.d-ml24 {
  margin-left: 2.4rem !important;
}
.d-ml32 {
  margin-left: 3.2rem !important;
}
.d-ml48 {
  margin-left: 4.8rem !important;
}
.d-ml64 {
  margin-left: 6.4rem !important;
}
.d-ml-auto {
  margin-left: auto !important;
}
.d-ml-unset {
  margin-left: unset !important;
}
.d-mx0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.d-mx1 {
  margin-right: 0.1rem !important;
  margin-left: 0.1rem !important;
}
.d-mx2 {
  margin-right: 0.2rem !important;
  margin-left: 0.2rem !important;
}
.d-mx4 {
  margin-right: 0.4rem !important;
  margin-left: 0.4rem !important;
}
.d-mx6 {
  margin-right: 0.6rem !important;
  margin-left: 0.6rem !important;
}
.d-mx8 {
  margin-right: 0.8rem !important;
  margin-left: 0.8rem !important;
}
.d-mx12 {
  margin-right: 1.2rem !important;
  margin-left: 1.2rem !important;
}
.d-mx16 {
  margin-right: 1.6rem !important;
  margin-left: 1.6rem !important;
}
.d-mx24 {
  margin-right: 2.4rem !important;
  margin-left: 2.4rem !important;
}
.d-mx32 {
  margin-right: 3.2rem !important;
  margin-left: 3.2rem !important;
}
.d-mx48 {
  margin-right: 4.8rem !important;
  margin-left: 4.8rem !important;
}
.d-mx64 {
  margin-right: 6.4rem !important;
  margin-left: 6.4rem !important;
}
.d-mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.d-mx-unset {
  margin-right: unset !important;
  margin-left: unset !important;
}
.d-my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.d-my1 {
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}
.d-my2 {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}
.d-my4 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}
.d-my6 {
  margin-top: 0.6rem !important;
  margin-bottom: 0.6rem !important;
}
.d-my8 {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}
.d-my12 {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}
.d-my16 {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}
.d-my24 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}
.d-my32 {
  margin-top: 3.2rem !important;
  margin-bottom: 3.2rem !important;
}
.d-my48 {
  margin-top: 4.8rem !important;
  margin-bottom: 4.8rem !important;
}
.d-my64 {
  margin-top: 6.4rem !important;
  margin-bottom: 6.4rem !important;
}
.d-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.d-my-unset {
  margin-top: unset !important;
  margin-bottom: unset !important;
}
.d-mn1 {
  margin: -0.1rem !important;
}
.d-mn2 {
  margin: -0.2rem !important;
}
.d-mn4 {
  margin: -0.4rem !important;
}
.d-mn6 {
  margin: -0.6rem !important;
}
.d-mn8 {
  margin: -0.8rem !important;
}
.d-mn12 {
  margin: -1.2rem !important;
}
.d-mn16 {
  margin: -1.6rem !important;
}
.d-mn24 {
  margin: -2.4rem !important;
}
.d-mn32 {
  margin: -3.2rem !important;
}
.d-mn48 {
  margin: -4.8rem !important;
}
.d-mn64 {
  margin: -6.4rem !important;
}
.d-mtn1 {
  margin-top: -0.1rem !important;
}
.d-mtn2 {
  margin-top: -0.2rem !important;
}
.d-mtn4 {
  margin-top: -0.4rem !important;
}
.d-mtn6 {
  margin-top: -0.6rem !important;
}
.d-mtn8 {
  margin-top: -0.8rem !important;
}
.d-mtn12 {
  margin-top: -1.2rem !important;
}
.d-mtn16 {
  margin-top: -1.6rem !important;
}
.d-mtn24 {
  margin-top: -2.4rem !important;
}
.d-mtn32 {
  margin-top: -3.2rem !important;
}
.d-mtn48 {
  margin-top: -4.8rem !important;
}
.d-mtn64 {
  margin-top: -6.4rem !important;
}
.d-mrn1 {
  margin-right: -0.1rem !important;
}
.d-mrn2 {
  margin-right: -0.2rem !important;
}
.d-mrn4 {
  margin-right: -0.4rem !important;
}
.d-mrn6 {
  margin-right: -0.6rem !important;
}
.d-mrn8 {
  margin-right: -0.8rem !important;
}
.d-mrn12 {
  margin-right: -1.2rem !important;
}
.d-mrn16 {
  margin-right: -1.6rem !important;
}
.d-mrn24 {
  margin-right: -2.4rem !important;
}
.d-mrn32 {
  margin-right: -3.2rem !important;
}
.d-mrn48 {
  margin-right: -4.8rem !important;
}
.d-mrn64 {
  margin-right: -6.4rem !important;
}
.d-mbn1 {
  margin-bottom: -0.1rem !important;
}
.d-mbn2 {
  margin-bottom: -0.2rem !important;
}
.d-mbn4 {
  margin-bottom: -0.4rem !important;
}
.d-mbn6 {
  margin-bottom: -0.6rem !important;
}
.d-mbn8 {
  margin-bottom: -0.8rem !important;
}
.d-mbn12 {
  margin-bottom: -1.2rem !important;
}
.d-mbn16 {
  margin-bottom: -1.6rem !important;
}
.d-mbn24 {
  margin-bottom: -2.4rem !important;
}
.d-mbn32 {
  margin-bottom: -3.2rem !important;
}
.d-mbn48 {
  margin-bottom: -4.8rem !important;
}
.d-mbn64 {
  margin-bottom: -6.4rem !important;
}
.d-mln1 {
  margin-left: -0.1rem !important;
}
.d-mln2 {
  margin-left: -0.2rem !important;
}
.d-mln4 {
  margin-left: -0.4rem !important;
}
.d-mln6 {
  margin-left: -0.6rem !important;
}
.d-mln8 {
  margin-left: -0.8rem !important;
}
.d-mln12 {
  margin-left: -1.2rem !important;
}
.d-mln16 {
  margin-left: -1.6rem !important;
}
.d-mln24 {
  margin-left: -2.4rem !important;
}
.d-mln32 {
  margin-left: -3.2rem !important;
}
.d-mln48 {
  margin-left: -4.8rem !important;
}
.d-mln64 {
  margin-left: -6.4rem !important;
}
.d-mxn1 {
  margin-right: -0.1rem !important;
  margin-left: -0.1rem !important;
}
.d-mxn2 {
  margin-right: -0.2rem !important;
  margin-left: -0.2rem !important;
}
.d-mxn4 {
  margin-right: -0.4rem !important;
  margin-left: -0.4rem !important;
}
.d-mxn6 {
  margin-right: -0.6rem !important;
  margin-left: -0.6rem !important;
}
.d-mxn8 {
  margin-right: -0.8rem !important;
  margin-left: -0.8rem !important;
}
.d-mxn12 {
  margin-right: -1.2rem !important;
  margin-left: -1.2rem !important;
}
.d-mxn16 {
  margin-right: -1.6rem !important;
  margin-left: -1.6rem !important;
}
.d-mxn24 {
  margin-right: -2.4rem !important;
  margin-left: -2.4rem !important;
}
.d-mxn32 {
  margin-right: -3.2rem !important;
  margin-left: -3.2rem !important;
}
.d-mxn48 {
  margin-right: -4.8rem !important;
  margin-left: -4.8rem !important;
}
.d-mxn64 {
  margin-right: -6.4rem !important;
  margin-left: -6.4rem !important;
}
.d-myn1 {
  margin-top: -0.1rem !important;
  margin-bottom: -0.1rem !important;
}
.d-myn2 {
  margin-top: -0.2rem !important;
  margin-bottom: -0.2rem !important;
}
.d-myn4 {
  margin-top: -0.4rem !important;
  margin-bottom: -0.4rem !important;
}
.d-myn6 {
  margin-top: -0.6rem !important;
  margin-bottom: -0.6rem !important;
}
.d-myn8 {
  margin-top: -0.8rem !important;
  margin-bottom: -0.8rem !important;
}
.d-myn12 {
  margin-top: -1.2rem !important;
  margin-bottom: -1.2rem !important;
}
.d-myn16 {
  margin-top: -1.6rem !important;
  margin-bottom: -1.6rem !important;
}
.d-myn24 {
  margin-top: -2.4rem !important;
  margin-bottom: -2.4rem !important;
}
.d-myn32 {
  margin-top: -3.2rem !important;
  margin-bottom: -3.2rem !important;
}
.d-myn48 {
  margin-top: -4.8rem !important;
  margin-bottom: -4.8rem !important;
}
.d-myn64 {
  margin-top: -6.4rem !important;
  margin-bottom: -6.4rem !important;
}
.d-p0 {
  padding: 0 !important;
}
.d-p1 {
  padding: 0.1rem !important;
}
.d-p2 {
  padding: 0.2rem !important;
}
.d-p4 {
  padding: 0.4rem !important;
}
.d-p6 {
  padding: 0.6rem !important;
}
.d-p8 {
  padding: 0.8rem !important;
}
.d-p12 {
  padding: 1.2rem !important;
}
.d-p16 {
  padding: 1.6rem !important;
}
.d-p24 {
  padding: 2.4rem !important;
}
.d-p32 {
  padding: 3.2rem !important;
}
.d-p48 {
  padding: 4.8rem !important;
}
.d-p64 {
  padding: 6.4rem !important;
}
.d-p-unset {
  padding: unset !important;
}
.d-pt0 {
  padding-top: 0 !important;
}
.d-pt1 {
  padding-top: 0.1rem !important;
}
.d-pt2 {
  padding-top: 0.2rem !important;
}
.d-pt4 {
  padding-top: 0.4rem !important;
}
.d-pt6 {
  padding-top: 0.6rem !important;
}
.d-pt8 {
  padding-top: 0.8rem !important;
}
.d-pt12 {
  padding-top: 1.2rem !important;
}
.d-pt16 {
  padding-top: 1.6rem !important;
}
.d-pt24 {
  padding-top: 2.4rem !important;
}
.d-pt32 {
  padding-top: 3.2rem !important;
}
.d-pt48 {
  padding-top: 4.8rem !important;
}
.d-pt64 {
  padding-top: 6.4rem !important;
}
.d-pt-unset {
  padding-top: unset !important;
}
.d-pr0 {
  padding-right: 0 !important;
}
.d-pr1 {
  padding-right: 0.1rem !important;
}
.d-pr2 {
  padding-right: 0.2rem !important;
}
.d-pr4 {
  padding-right: 0.4rem !important;
}
.d-pr6 {
  padding-right: 0.6rem !important;
}
.d-pr8 {
  padding-right: 0.8rem !important;
}
.d-pr12 {
  padding-right: 1.2rem !important;
}
.d-pr16 {
  padding-right: 1.6rem !important;
}
.d-pr24 {
  padding-right: 2.4rem !important;
}
.d-pr32 {
  padding-right: 3.2rem !important;
}
.d-pr48 {
  padding-right: 4.8rem !important;
}
.d-pr64 {
  padding-right: 6.4rem !important;
}
.d-pr-unset {
  padding-right: unset !important;
}
.d-pb0 {
  padding-bottom: 0 !important;
}
.d-pb1 {
  padding-bottom: 0.1rem !important;
}
.d-pb2 {
  padding-bottom: 0.2rem !important;
}
.d-pb4 {
  padding-bottom: 0.4rem !important;
}
.d-pb6 {
  padding-bottom: 0.6rem !important;
}
.d-pb8 {
  padding-bottom: 0.8rem !important;
}
.d-pb12 {
  padding-bottom: 1.2rem !important;
}
.d-pb16 {
  padding-bottom: 1.6rem !important;
}
.d-pb24 {
  padding-bottom: 2.4rem !important;
}
.d-pb32 {
  padding-bottom: 3.2rem !important;
}
.d-pb48 {
  padding-bottom: 4.8rem !important;
}
.d-pb64 {
  padding-bottom: 6.4rem !important;
}
.d-pb-unset {
  padding-bottom: unset !important;
}
.d-pl0 {
  padding-left: 0 !important;
}
.d-pl1 {
  padding-left: 0.1rem !important;
}
.d-pl2 {
  padding-left: 0.2rem !important;
}
.d-pl4 {
  padding-left: 0.4rem !important;
}
.d-pl6 {
  padding-left: 0.6rem !important;
}
.d-pl8 {
  padding-left: 0.8rem !important;
}
.d-pl12 {
  padding-left: 1.2rem !important;
}
.d-pl16 {
  padding-left: 1.6rem !important;
}
.d-pl24 {
  padding-left: 2.4rem !important;
}
.d-pl32 {
  padding-left: 3.2rem !important;
}
.d-pl48 {
  padding-left: 4.8rem !important;
}
.d-pl64 {
  padding-left: 6.4rem !important;
}
.d-pl-unset {
  padding-left: unset !important;
}
.d-px0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.d-px1 {
  padding-right: 0.1rem !important;
  padding-left: 0.1rem !important;
}
.d-px2 {
  padding-right: 0.2rem !important;
  padding-left: 0.2rem !important;
}
.d-px4 {
  padding-right: 0.4rem !important;
  padding-left: 0.4rem !important;
}
.d-px6 {
  padding-right: 0.6rem !important;
  padding-left: 0.6rem !important;
}
.d-px8 {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
}
.d-px12 {
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}
.d-px16 {
  padding-right: 1.6rem !important;
  padding-left: 1.6rem !important;
}
.d-px24 {
  padding-right: 2.4rem !important;
  padding-left: 2.4rem !important;
}
.d-px32 {
  padding-right: 3.2rem !important;
  padding-left: 3.2rem !important;
}
.d-px48 {
  padding-right: 4.8rem !important;
  padding-left: 4.8rem !important;
}
.d-px64 {
  padding-right: 6.4rem !important;
  padding-left: 6.4rem !important;
}
.d-px-unset {
  padding-right: unset !important;
  padding-left: unset !important;
}
.d-py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.d-py1 {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}
.d-py2 {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}
.d-py4 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}
.d-py6 {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}
.d-py8 {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}
.d-py12 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}
.d-py16 {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}
.d-py24 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}
.d-py32 {
  padding-top: 3.2rem !important;
  padding-bottom: 3.2rem !important;
}
.d-py48 {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
}
.d-py64 {
  padding-top: 6.4rem !important;
  padding-bottom: 6.4rem !important;
}
.d-py-unset {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
