.d-svg--size14 {
  width: 1.4rem !important;
  height: 1.4rem !important;
}
.d-svg--size16 {
  width: 1.6rem !important;
  height: 1.6rem !important;
}
.d-svg--size18 {
  width: 1.8rem !important;
  height: 1.8rem !important;
}
.d-svg--size20 {
  width: 2rem !important;
  height: 2rem !important;
}
.d-svg--size24 {
  width: 2.4rem !important;
  height: 2.4rem !important;
}
.d-svg--size32 {
  width: 3.2rem !important;
  height: 3.2rem !important;
}
.d-svg--size48 {
  width: 4.8rem !important;
  height: 4.8rem !important;
}
.d-svg--size64 {
  width: 6.4rem !important;
  height: 6.4rem !important;
}
.d-svg--size100p {
  width: 100% !important;
  height: auto !important;
}
