@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RobotoMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Archivo-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Archivo-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Archivo-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "ArchivoSemiExpanded";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ArchivoSemiExpanded-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "ArchivoSemiExpanded";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ArchivoSemiExpanded-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "ArchivoExpanded";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ArchivoExpanded-SemiBold.woff2") format("woff2");
}
.d-ff-custom {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.d-ff-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.d-ff-mono {
  font-family: "RobotoMono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}
.d-ff-marketing {
  font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.d-ff-marketing-semi-expanded {
  font-family: "ArchivoSemiExpanded", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.d-ff-marketing-expanded {
  font-family: "ArchivoExpanded", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.d-ff-unset {
  font-family: unset !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin-top: var(--su0);
  margin-bottom: var(--su0);
}
.d-fs10 {
  font-size: var(--fs10) !important;
}
.d-fs11 {
  font-size: var(--fs11) !important;
}
.d-fs12 {
  font-size: var(--fs12) !important;
}
.d-fs14 {
  font-size: var(--fs14) !important;
}
.d-fs16 {
  font-size: var(--fs16) !important;
}
.d-fs18 {
  font-size: var(--fs18) !important;
}
.d-fs20 {
  font-size: var(--fs20) !important;
}
.d-fs24 {
  font-size: var(--fs24) !important;
}
.d-fs28 {
  font-size: var(--fs28) !important;
}
.d-fs32 {
  font-size: var(--fs32) !important;
}
.d-fs36 {
  font-size: var(--fs36) !important;
}
.d-fs42 {
  font-size: var(--fs42) !important;
}
.d-fs48 {
  font-size: var(--fs48) !important;
}
.d-fs54 {
  font-size: var(--fs54) !important;
}
.d-headline10 {
  font-size: var(--fs10) !important;
  font-weight: var(--fw-bold);
  text-transform: uppercase !important;
}
.d-headline24 {
  font-size: var(--fs24) !important;
  font-weight: var(--fw-bold) !important;
}
.d-headline28 {
  font-size: var(--fs28) !important;
  font-weight: var(--fw-bold) !important;
}
.d-headline32 {
  font-size: var(--fs32) !important;
  font-weight: var(--fw-bold) !important;
}
.d-headline36 {
  font-size: var(--fs36) !important;
  font-weight: var(--fw-bold) !important;
}
.d-headline42 {
  font-size: var(--fs42) !important;
  font-weight: var(--fw-bold) !important;
}
.d-headline48 {
  font-size: var(--fs48) !important;
  font-weight: var(--fw-bold) !important;
}
.d-headline54 {
  font-size: var(--fs54) !important;
  font-weight: var(--fw-bold) !important;
}
.d-fs-unset {
  font-size: unset !important;
}
.d-fs-normal {
  font-style: normal !important;
}
.d-fs-italic {
  font-style: italic !important;
}
.d-fs-unset {
  font-style: unset !important;
}
.d-fw-thin {
  font-weight: var(--fw-thin) !important;
}
.d-fw-light {
  font-weight: var(--fw-light) !important;
}
.d-fw-normal {
  font-weight: var(--fw-normal) !important;
}
.d-fw-medium {
  font-weight: var(--fw-medium) !important;
}
.d-fw-semibold {
  font-weight: var(--fw-semibold) !important;
}
.d-fw-bold {
  font-weight: var(--fw-bold) !important;
}
.d-fw-black {
  font-weight: var(--fw-black) !important;
}
.d-fw-unset {
  font-weight: unset !important;
}
.d-lh0 {
  line-height: var(--lh0) !important;
}
.d-lh1 {
  line-height: var(--lh1) !important;
}
.d-lh2 {
  line-height: var(--lh2) !important;
}
.d-lh4 {
  line-height: var(--lh4) !important;
}
.d-lh6 {
  line-height: var(--lh6) !important;
}
.d-lh8 {
  line-height: var(--lh8) !important;
}
.d-lh12 {
  line-height: var(--lh12) !important;
}
.d-lh16 {
  line-height: var(--lh16) !important;
}
.d-lh20 {
  line-height: var(--lh20) !important;
}
.d-lh24 {
  line-height: var(--lh24) !important;
}
.d-lh-tighter {
  line-height: var(--lh-tighter) !important;
}
.d-lh-tight {
  line-height: var(--lh-tight) !important;
}
.d-lh-normal {
  line-height: var(--lh-normal) !important;
}
.d-lh-loose {
  line-height: var(--lh-loose) !important;
}
.d-lh-looser {
  line-height: var(--lh-looser) !important;
}
.d-lh-unset {
  line-height: unset !important;
}
.d-ls-reset,
.d-ls-reset li,
.d-ls-reset ol,
.d-ls-reset ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.d-ls-none {
  list-style: none !important;
}
.d-lst-disc {
  list-style-type: disc !important;
}
.d-lst-circle {
  list-style-type: circle !important;
}
.d-lst-content {
  list-style-type: var(--ls-content) !important;
}
.d-lst-decimal {
  list-style-type: decimal !important;
}
.d-lst-none {
  list-style-type: none !important;
}
.d-ta-left {
  text-align: left !important;
}
.d-ta-right {
  text-align: right !important;
}
.d-ta-center {
  text-align: center !important;
}
.d-ta-justify {
  text-align: justify !important;
}
.d-ta-unset {
  text-align: unset !important;
}
.d-td-none {
  text-decoration: none !important;
}
.d-td-underline {
  text-decoration: underline !important;
}
.d-td-dotted {
  text-decoration: underline dotted !important;
}
.d-td-line-through {
  text-decoration: line-through !important;
}
.d-td-unset {
  text-decoration: unset !important;
}
.d-to-ellipsis {
  text-overflow: ellipsis !important;
}
.d-to-clip {
  text-overflow: clip !important;
}
.d-to-unset {
  text-overflow: unset !important;
}
.d-ow-normal {
  word-wrap: normal !important;
}
.d-ow-anywhere {
  word-wrap: anywhere !important;
}
.d-ow-break-word {
  word-wrap: break-word !important;
}
.d-ow-unset {
  word-wrap: unset !important;
}
.d-tt-uppercase {
  text-transform: uppercase !important;
}
.d-tt-lowercase {
  text-transform: lowercase !important;
}
.d-tt-capitalize {
  text-transform: capitalize !important;
}
.d-tt-full-width {
  text-transform: full-width !important;
}
.d-tt-none {
  text-transform: none !important;
}
.d-tt-unset {
  text-transform: unset !important;
}
.d-va-baseline {
  vertical-align: baseline !important;
}
.d-va-top {
  vertical-align: top !important;
}
.d-va-bottom {
  vertical-align: bottom !important;
}
.d-va-text-top {
  vertical-align: text-top !important;
}
.d-va-text-bottom {
  vertical-align: text-bottom !important;
}
.d-va-middle {
  vertical-align: middle !important;
}
.d-va-sub {
  vertical-align: sub !important;
}
.d-va-super {
  vertical-align: super !important;
}
.d-va-unset {
  vertical-align: unset !important;
}
.d-ws-normal {
  white-space: normal !important;
}
.d-ws-nowrap {
  white-space: nowrap !important;
}
.d-ws-pre {
  white-space: pre !important;
}
.d-ws-pre-line {
  white-space: pre-line !important;
}
.d-ws-pre-wrap {
  white-space: pre-wrap !important;
}
.d-ws-break-spaces {
  white-space: break-spaces !important;
}
.d-ws-unset {
  white-space: unset !important;
}
.d-wb-normal {
  word-break: normal !important;
}
.d-wb-break-all {
  word-break: break-all !important;
}
.d-wb-keep-all {
  word-break: keep-all !important;
}
.d-wb-unset {
  word-break: unset !important;
}
.d-truncate {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
