<header class="d-stack2">
    <h3 class="dialtone-title__subsection">Danger</h3>
    <p class="dialtone-copy__normal">The danger button style is used to communicate destructive actions such as deleting content, accounts, or canceling services.</p>
</header>
<div class="dialtone-example" data-example="yes" data-code="yes">
    <div class="dialtone-example__example">
        <table class="dialtone-table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col" width="20%">Class</th>
                    <th scope="col" style="text-align: center;">Default</th>
                    <th scope="col" width="20%">Class</th>
                    <th scope="col" style="text-align: center;">Disabled</th>
                </tr>
            </thead>
            <tbody>
                
                
                <tr>
                    <th scope="row">Default</th>
                    <td class="code-example">.d-btn--danger</td>
                    <td>
                        <button class="d-width100 d-btn--danger" type="button" aria-pressed="false" style="white-space: nowrap;">
                            <span class="d-btn__label">Place call</span>
                        </button>
                    </td>
                    <td class="code-example">.d-btn--danger--disabled</td>
                    <td>
                        <button class="d-width100 d-btn--danger" type="button" aria-pressed="false" style="white-space: nowrap;" disabled>
                            <span class="d-btn__label">Place call</span>
                        </button>
                    </td>
                </tr>
                
                
                <tr>
                    <th scope="row">Outlined</th>
                    <td class="code-example">.d-btn--danger--outlined</td>
                    <td>
                        <button class="d-width100 d-btn--danger--outlined" type="button" aria-pressed="false" style="white-space: nowrap;">
                            <span class="d-btn__label">Place call</span>
                        </button>
                    </td>
                    <td class="code-example">.d-btn--danger--outlined--disabled</td>
                    <td>
                        <button class="d-width100 d-btn--danger--outlined" type="button" aria-pressed="false" style="white-space: nowrap;" disabled>
                            <span class="d-btn__label">Place call</span>
                        </button>
                    </td>
                </tr>
                
                
                <tr>
                    <th scope="row">Filled</th>
                    <td class="code-example">.d-btn--danger--primary</td>
                    <td>
                        <button class="d-width100 d-btn--danger--primary" type="button" aria-pressed="false" style="white-space: nowrap;">
                            <span class="d-btn__label">Place call</span>
                        </button>
                    </td>
                    <td class="code-example">.d-btn--danger--primary--disabled</td>
                    <td>
                        <button class="d-width100 d-btn--danger--primary" type="button" aria-pressed="false" style="white-space: nowrap;" disabled>
                            <span class="d-btn__label">Place call</span>
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="dialtone-example__code">
<pre class="language-css"><code class="language-css"><span class="token selector">.danger-clear-btn</span> <span class="token punctuation">{</span><br>    .d-btn--danger<span class="token punctuation">;</span><br><span class="token punctuation">}</span><br><span class="token selector">.danger-call-btn</span> <span class="token punctuation">{</span><br>    .d-btn--danger--outlined<span class="token punctuation">;</span><br><span class="token punctuation">}</span><br><span class="token selector">.danger-submit-btn</span> <span class="token punctuation">{</span><br>    .d-btn--danger--primary<span class="token punctuation">;</span><br><span class="token punctuation">}</span></code></pre>
    </div>
</div>
