//
//  DIALPAD
//  Buttons
//
//  ============================================================================
//  $   VARIABLES
//  ----------------------------------------------------------------------------
$button-primary:        $blue-060;
$button-secondary:      #F1F1F2;
$button-destruct:       #E84B28;
$button-teal:           $teal-060;
$button-white:          $white;

$button-border-radius:  $br-sm;


//  ============================================================================
//  $   BASE STYLE
//  ----------------------------------------------------------------------------
%btn-base {
    position: relative;
    padding: 1.167em 1.667em;
    border-radius: $button-border-radius;
    outline: none;
    font-family: inherit;
    font-size: $fs-caption;
    font-weight: $fw-medium;
    line-height: 1;
    text-transform: $tt-uppercase;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    @extend %btn-base;
    background-color: $button-primary;
    color: $white;
}

.btn-secondary {
    @extend %btn-base;
    background-color: $button-secondary;
    color: $gray-100;
}

.btn-destruct {
    @extend %btn-base;
    background-color: $button-destruct;
    color: $white;
}

.btn-teal {
    @extend %btn-base;
    background-color: $button-teal;
    color: $white;
}

.btn-clear {
    @extend %btn-base;
    background-color: rgba($button-white,0);
    color: $gray-100;
}

.btn-white {
    @extend %btn-base;
    background-color: $button-white;
    color: $gray-100;
}
