//  Dialtone Core
@import "layout";
@import "utilities";
@import "colors";
@import "margin";
@import "padding";
@import "grid";
@import "type-variables";
@import "fonts";
@import "type-sizes";

//  Dialtone Core Components
@import "buttons";


html,
body {
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    font-size: $base-font-size;
}

html {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

body {
    background-color: $white;
    color: $fc-dark;
    @extend %ff-mark-400;
}
