//
//  DIALPAD
//  List Groups
//
//  ============================================================================
//  $   RESET
//  ----------------------------------------------------------------------------
.dds-list-group,
.dds-list-group__item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dds-list-group {
    margin: $sp16 0;
}

.dds-list-group__header,
.dds-list-group__link {
    display: block;
    padding: $sp6 $sp24;
}

.dds-list-group__header {
    font-size: 0.625rem;
    font-weight: 700;
    text-transform: uppercase;
}

.dds-list-group__link {
    font-size: $fs-body1;
    color: $gray-080;
    text-decoration: none;

    &:hover {
        color: $gray-100;
        background-color: fade-out($blue-060,0.85);
    }
}
