//
//  DIALPAD
//  Margins
//
//  ============================================================================
@each $breakpoint, $variant in $rwd-variants {
    @include rwd($breakpoint) {
        // Create the spacing units
        @each $spacer, $value in $spacing-units {
            //  Margin -- All sides
            .#{$variant}p#{$spacer} { padding: $value !important; }
            //  Margin -- Top
            .#{$variant}pt#{$spacer} { padding-top: $value !important; }
            //  Margin -- Right
            .#{$variant}pr#{$spacer} { padding-right: $value !important; }
            //  Margin -- Bottom
            .#{$variant}pb#{$spacer} { padding-bottom: $value !important; }
            //  Margin -- Left
            .#{$variant}pl#{$spacer} { padding-left: $value !important; }

            //  X-Axis Margin
            .#{$variant}px#{$spacer} {
                padding-left: $value !important;
                padding-right: $value !important;
            }
            //  Y-Axis Margin
            .#{$variant}py#{$spacer} {
                padding-top: $value !important;
                padding-bottom: $value !important;
            }
        }
    }
}
