//
//  DIALPAD
//  Margins
//
//  ============================================================================
@each $breakpoint, $variant in $rwd-variants {
    @include rwd($breakpoint) {
        // Create the spacing units
        @each $spacer, $value in $spacing-units {
            //  Margin -- All sides
            .#{$variant}p#{$spacer} { margin: $value !important; }
            //  Margin -- Top
            .#{$variant}pt#{$spacer} { margin-top: $value !important; }
            //  Margin -- Right
            .#{$variant}pr#{$spacer} { margin-right: $value !important; }
            //  Margin -- Bottom
            .#{$variant}pb#{$spacer} { margin-bottom: $value !important; }
            //  Margin -- Left
            .#{$variant}pl#{$spacer} { margin-left: $value !important; }

            //  X-Axis Margin
            .#{$variant}px#{$spacer} {
                margin-left: -$value !important;
                margin-right: -$value !important;
            }
            //  Y-Axis Margin
            .#{$variant}py#{$spacer} {
                margin-top: -$value !important;
                margin-bottom: -$value !important;
            }
        }
    }
}
