//
//  DIALPAD
//  Type Variables
//
//  ============================================================================
//  $   VARIABLES
//  ----------------------------------------------------------------------------
$base-font-size:   16px;

$fs-display:       2.25rem !default;     // 36px
$fs-title:         2rem !default;        // 32px
$fs-headline:      1.5rem !default;      // 24px
$fs-subheading:    1.25rem !default;     // 20px
$fs-body2:         1rem !default;        // 16px
$fs-body1:         0.875rem !default;    // 14px
$fs-caption:       0.75rem !default;     // 12px
$fs-fine:          0.6875rem !default;   // 11px
$fs-caps:          0.625rem !default;    // 10px


//  ============================================================================
//  $   RESETS
//  ----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}


//  ============================================================================
//  $   SIZES
//  ----------------------------------------------------------------------------
.fs-display     { font-size: $fs-display; }
.fs-title       { font-size: $fs-title; }
.fs-headline    { font-size: $fs-headline; }
.fs-subheading  { font-size: $fs-subheading; }
.fs-body2       { font-size: $fs-body2; }
.fs-body1       { font-size: $fs-body1; }
.fs-caption     { font-size: $fs-caption; }
.fs-fine        { font-size: $fs-fine; }
.fs-caps        { font-size: $fs-caps; text-transform: $tt-uppercase; }
