//
//  DIALPAD
//  Type Variables
//
//  ============================================================================
//  $   VARIABLES
//  ----------------------------------------------------------------------------
$fw-light:          200 !default;
$fw-normal:         400 !default;
$fw-medium:         500 !default;
$fw-bold:           600 !default;

$tt-capitalize:    capitalize;
$tt-lowercase:     lowercase;
$tt-uppercase:     uppercase;
$tt-none:          none;
$tt-unset:         unset;


//  ============================================================================
//  $   TEXT TRANSFORM
//  ----------------------------------------------------------------------------
.tt-capitalize  { text-transform: $tt-capitalize; }
.tt-lowercase   { text-transform: $tt-lowercase; }
.tt-uppercase   { text-transform: $tt-uppercase; }
.tt-none        { text-transform: $tt-none; }
.tt-unset       { text-transform: $tt-unset; }

//  ============================================================================
//  $$  TEXT ALIGN
//  ----------------------------------------------------------------------------
@each $breakpoint, $variant in $rwd-variants {
    @include rwd($breakpoint) {
        .ta-left#{$variant}     { text-align: left; }
        .ta-center#{$variant}   { text-align: center; }
        .ta-right#{$variant}    { text-align: right; }
        .ta-justify#{$variant}  { text-align: justify; }
        .ta-unset#{$variant}    { text-align: unset; }
    }
}

//  ============================================================================
//  $$  FONT WEIGHT
//  ----------------------------------------------------------------------------
.fw-light       { font-weight: $fw-light; }
.fw-normal      { font-weight: $fw-normal; }
.fw-medium      { font-weight: $fw-medium; }
.fw-bold        { font-weight: $fw-bold; }

//  ============================================================================
//  $$  FONT STYLES
//  ----------------------------------------------------------------------------
.fs-normal      { font-style: normal; }
.fs-italic      { font-style: italic; }
.fs-unset       { font-style: unset; }
