//
//  DIALPAD
//  Utilities
//
//  ============================================================================
//  $   BORDER RADIUS
//  ----------------------------------------------------------------------------
$br-sm:         3px;
$br-md:         5px;
$br-lg:         7px;
$br-xl:         11px;


//  ============================================================================
//  $   Z-INDEX
//  ----------------------------------------------------------------------------
$z-hide:                -1;
$z-base:                0;
$z-selected:            25;
$z-active:              50;
$z-navigation:          100;
$z-navigation-fixed:    150;
$z-dropdown:            200;
$z-popover:             300;
$z-tooltip:             400;
$z-snackbar:            500;
$z-drawer:              600;
$z-modal:               700;
