$MQNarrow: 1264px !default;
$MQMobile: 980px !default;
$MQMobileNarrow: 419px !default;

tr {
  &:nth-child(2n) {
    background-color: unset;
  }
}

.theme-default-content {
  h2, h3 {
    margin-top: unset;
    padding-top: unset;
    border-bottom: unset;
    font-size: unset;
  }
}

.page-meta {
  .last-updated {
    float: unset;
  }
}
