<section class="d-stack16">
    <header class="d-stack2">
        <h2 class="dialtone-title__section">Flex Center</h2>
        <p class="dialtone-copy__normal">By default flexed items align to <span class="code-example--inline">flex-start</span> both horizontally and vertically (effectively top, left). This aligns child elements center-center. <strong>Note:</strong> This <em>only</em> applies for direct children and does not cascade to subsequent children.</p>
    </header>
    <div class="d-stack16">
        <h2 class="dialtone-title__subsection">Example</h2>
        <div class="dialtone-example" data-example="yes" data-code="yes">
            <div class="dialtone-example__example">
                <div class="layout-block d-fl-center">
                    <div class="layout-block__label d-fl1 d-m8 d-background-color--navy-lighter">.d-fl-center</div>
                </div>
            </div>
            <div class="dialtone-example__code">
<pre class="language-html"><code class="language-html"><span class="highlight-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>d-fl-center<span class="token punctuation">"</span></span><span class="token punctuation">></span></span></span><br><span class="highlight-line">    …</span><br><span class="highlight-line"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">></span></span></span></code></pre>
            </div>
        </div>
    </div>
</section>
