<section class="d-stack16">
    <header class="d-stack2">
        <h2 class="dialtone-title__section">Sizes</h2>
        <p class="dialtone-copy__normal">The default button font-size is 16px. To change the button’s font-size, use the following classes:</p>
    </header>
    <table class="dialtone-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Size</th>
                <th scope="col" width="50%">Examples</th>
            </tr>
        </thead>
        <tbody>
            
            
            
            
            <tr>
                <th scope="row">Extra Small</th>
                <td class="code-example">.d-btn--xs</td>
                <td>12px</td>
                <td>
                    <div class="d-d-flex d-ai-center d-mxn2">
                        
                        
                            <button class="d-mx2 d-btn--primary d-btn--xs" type="button" aria-pressed="false">
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn--circle d-btn--circle--xs" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn d-btn--xs" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                    </div>
                </td>
            </tr>
            
            
            
            
            <tr>
                <th scope="row">Small</th>
                <td class="code-example">.d-btn--sm</td>
                <td>14px</td>
                <td>
                    <div class="d-d-flex d-ai-center d-mxn2">
                        
                        
                            <button class="d-mx2 d-btn--primary d-btn--sm" type="button" aria-pressed="false">
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn--circle d-btn--circle--sm" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn d-btn--sm" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                    </div>
                </td>
            </tr>
            
            
            
            
            <tr>
                <th scope="row">Default</th>
                <td class="code-example">N/A</td>
                <td>16px</td>
                <td>
                    <div class="d-d-flex d-ai-center d-mxn2">
                        
                        
                            <button class="d-mx2 d-btn--primary" type="button" aria-pressed="false">
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn--circle" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                    </div>
                </td>
            </tr>
            
            
            
            
            <tr>
                <th scope="row">Large</th>
                <td class="code-example">.d-btn--lg</td>
                <td>20px</td>
                <td>
                    <div class="d-d-flex d-ai-center d-mxn2">
                        
                        
                            <button class="d-mx2 d-btn--primary d-btn--lg" type="button" aria-pressed="false">
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn--circle d-btn--circle--lg" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn d-btn--lg" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                    </div>
                </td>
            </tr>
            
            
            
            
            <tr>
                <th scope="row">Extra Large</th>
                <td class="code-example">.d-btn--xl</td>
                <td>24px</td>
                <td>
                    <div class="d-d-flex d-ai-center d-mxn2">
                        
                        
                            <button class="d-mx2 d-btn--primary d-btn--xl" type="button" aria-pressed="false">
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn--circle d-btn--circle--xl" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Mic On" class="d-svg d-svg--system js-svg d-svg__micOn" viewBox="0 0 24 24"><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                            <button class="d-mx2 d-btn d-btn--xl" type="button" aria-pressed="false">
                                
                                    <span class="d-btn__icon">
                                        
                                            <svg aria-hidden="true" aria-label="Search" class="d-svg d-svg--system js-svg d-svg__search" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.732 14.318h-.741l-.263-.253a6.095 6.095 0 001.389-5.009c-.441-2.607-2.619-4.69-5.246-5.009a6.103 6.103 0 00-6.823 6.82c.319 2.626 2.402 4.802 5.011 5.243a6.103 6.103 0 005.012-1.388l.253.262v.741l3.989 3.987a.992.992 0 001.398 0 .99.99 0 000-1.398l-3.979-3.996zm-5.631 0a4.217 4.217 0 01-4.223-4.22A4.216 4.216 0 0110.1 5.876a4.216 4.216 0 014.223 4.22 4.216 4.216 0 01-4.223 4.221z"/></svg>
                                        
                                    </span>
                                
                                <span class="d-btn__label">Label</span>
                            </button>
                        
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</section>
