/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+less&plugins=line-numbers+command-line */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

div[class*=language-] {
	padding: var(--dt-space-400);
	margin: var(--dt-space-500) 0;
	border-radius: var(--dt-size-500);
	background-color: var(--dt-color-surface-contrast-opaque);

	pre {
		padding: 1em !important;
		margin: 0 !important;

		code {
			background-color: unset;
			color: var(--dt-color-black-200) !important;
		}
	}

	&[class*=html] {
		border-radius: 0 0 var(--dt-size-400) var(--dt-size-400) !important;
		margin-top: var(--dt-space-400-negative) !important;
	}
}

code {
	background-color: var(--dt-color-purple-100);
	color: var(--dt-color-purple-400);
	padding: var(--dt-space-200) var(--dt-space-300);
	border-radius: var(--dt-size-200);
}

code[class*="language-"],
pre[class*="language-"] {
	margin: 0;
	color: var(--dt-color-black-400);
	border-radius: 0.7rem;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
	font-size: var(--dt-font-size-100);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.666666667;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--dt-color-black-500);
}

.token.punctuation {
	color: var(--dt-color-purple-100);
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--dt-color-purple-200);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--teal-200);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: var(--dt-color-gold-300);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--dt-color-green-100);
}

.token.function,
.token.class-name {
	color: var(--dt-color-red-100);
}

.token.regex,
.token.important,
.token.variable {
	color: var(--dt-color-gold-200);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: var(--dt-size-100) solid var(--dt-color-black-500);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: var(--dt-color-black-500);
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

.command-line-prompt {
	border-right: var(--dt-size-100) solid var(--dt-color-black-500);
	display: block;
	float: left;
	font-size: 100%;
	letter-spacing: -1px;
	margin-right: 1em;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.command-line-prompt > span:before {
	color: var(--dt-color-black-500);
	content: ' ';
	display: block;
	padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
	content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
	content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
	content: attr(data-prompt);
}

code,
kbd,
samp {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
