div[class*=language-] {
  padding: var(--dt-space-400);
  margin: var(--dt-space-500) 0;
  border-radius: var(--dt-size-500);
  background-color: var(--dt-color-surface-strong);

  pre {
    padding: 1em !important;
    margin: 0 !important;

    code {
      background-color: unset;
      color: var(--dt-color-black-200) !important;
    }
  }

  &[class*=jsx] {
    background: inherit;
  }

  &[class*=html] {
    border-radius: 0 0 var(--dt-size-400) var(--dt-size-400) !important;
    margin-top: var(--dt-space-300-negative) !important;
  }
}

code {
  background-color: var(--dt-color-purple-100);
  color: var(--dt-color-purple-400);
  padding: var(--dt-space-200) var(--dt-space-300);
  border-radius: var(--dt-size-200);
}
