.d-input,
.d-textarea {
  --input--focus-bc: var(--primary-color);
  --input--bc: var(--black-500);
  --input--bgc: var(--white);
  --input--fc: var(--black-800);
  display: inline-flex;
  position: relative;
  flex: 1 0%;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  padding: 0.7rem var(--su8);
  border: 1px solid var(--input--bc);
  border-radius: var(--base--corner-radius);
  background-color: var(--input--bgc);
  box-shadow: none;
  outline: none;
  color: var(--input--fc);
  font-family: inherit;
  font-size: var(--fs16);
  font-weight: inherit;
  line-height: var(--lh4);
  transition-duration: 100ms;
  transition-property: border, box-shadow, background-color;
  transition-timing-function: var(--ttf-in-out);
}
.d-input.d-input-icon--right,
.d-textarea.d-input-icon--right {
  padding-right: calc(var(--su4) + 1.6rem + var(--su8));
}
.d-input.d-input-icon--left,
.d-textarea.d-input-icon--left {
  padding-left: calc(var(--su4) + 1.6rem + var(--su8));
}
.d-input::-webkit-input-placeholder,
.d-textarea::-webkit-input-placeholder {
  color: var(--black-300);
}
.d-input:-ms-input-placeholder,
.d-textarea:-ms-input-placeholder {
  color: var(--black-300);
}
.d-input::-ms-input-placeholder,
.d-textarea::-ms-input-placeholder {
  color: var(--black-300);
}
.d-input::-webkit-input-placeholder, .d-textarea::-webkit-input-placeholder {
  color: var(--black-300);
}
.d-input::-moz-placeholder, .d-textarea::-moz-placeholder {
  color: var(--black-300);
}
.d-input:-ms-input-placeholder, .d-textarea:-ms-input-placeholder {
  color: var(--black-300);
}
.d-input::-ms-input-placeholder, .d-textarea::-ms-input-placeholder {
  color: var(--black-300);
}
.d-input::placeholder,
.d-textarea::placeholder {
  color: var(--black-300);
}
.d-input::-ms-clear,
.d-textarea::-ms-clear {
  display: none;
}
.d-input:focus,
.d-textarea:focus {
  --input--bc: var(--input--focus-bc);
  box-shadow: var(--bs-focus-ring) !important;
  outline: 0;
}
.d-input[disabled],
.d-textarea[disabled],
.d-input[read-only],
.d-textarea[read-only] {
  --input--bc: var(--black-500)!important;
  --input--bgc: var(--black-200);
}
.d-input[disabled]:focus,
.d-textarea[disabled]:focus,
.d-input[read-only]:focus,
.d-textarea[read-only]:focus {
  box-shadow: none!important;
}
.d-input[disabled]::-webkit-input-placeholder,
.d-textarea[disabled]::-webkit-input-placeholder,
.d-input[read-only]::-webkit-input-placeholder,
.d-textarea[read-only]::-webkit-input-placeholder {
  color: var(--black-400);
}
.d-input[disabled]:-ms-input-placeholder,
.d-textarea[disabled]:-ms-input-placeholder,
.d-input[read-only]:-ms-input-placeholder,
.d-textarea[read-only]:-ms-input-placeholder {
  color: var(--black-400);
}
.d-input[disabled]::-ms-input-placeholder,
.d-textarea[disabled]::-ms-input-placeholder,
.d-input[read-only]::-ms-input-placeholder,
.d-textarea[read-only]::-ms-input-placeholder {
  color: var(--black-400);
}
.d-input[disabled]::-webkit-input-placeholder, .d-textarea[disabled]::-webkit-input-placeholder, .d-input[read-only]::-webkit-input-placeholder, .d-textarea[read-only]::-webkit-input-placeholder {
  color: var(--black-400);
}
.d-input[disabled]::-moz-placeholder, .d-textarea[disabled]::-moz-placeholder, .d-input[read-only]::-moz-placeholder, .d-textarea[read-only]::-moz-placeholder {
  color: var(--black-400);
}
.d-input[disabled]:-ms-input-placeholder, .d-textarea[disabled]:-ms-input-placeholder, .d-input[read-only]:-ms-input-placeholder, .d-textarea[read-only]:-ms-input-placeholder {
  color: var(--black-400);
}
.d-input[disabled]::-ms-input-placeholder, .d-textarea[disabled]::-ms-input-placeholder, .d-input[read-only]::-ms-input-placeholder, .d-textarea[read-only]::-ms-input-placeholder {
  color: var(--black-400);
}
.d-input[disabled]::placeholder,
.d-textarea[disabled]::placeholder,
.d-input[read-only]::placeholder,
.d-textarea[read-only]::placeholder {
  color: var(--black-400);
}
.d-input[disabled],
.d-textarea[disabled] {
  cursor: not-allowed;
}
.d-input__wrapper {
  position: relative;
}
.d-input--xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--fs12);
}
.d-input--xs .d-btn__icon {
  width: 1.4rem;
  height: 1.4rem;
}
.d-input--xs.d-input-icon--right {
  padding-right: calc(var(--su4) + 1.2rem + var(--su8));
}
.d-input--xs.d-input-icon--left {
  padding-left: calc(var(--su4) + 1.2rem + var(--su8));
}
.d-input--sm {
  padding-top: var(--su6);
  padding-bottom: var(--su6);
  font-size: var(--fs14);
}
.d-input--sm .d-btn__icon {
  width: 1.6rem;
  height: 1.6rem;
}
.d-input--sm.d-input-icon--right {
  padding-right: calc(var(--su4) + 1.4rem + var(--su8));
}
.d-input--sm.d-input-icon--left {
  padding-left: calc(var(--su4) + 1.4rem + var(--su8));
}
.d-input--lg {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  font-size: var(--fs20);
}
.d-input--lg .d-btn__icon {
  width: 2rem;
  height: 2rem;
}
.d-input--lg.d-input-icon--right {
  padding-right: calc(var(--su4) + 2rem + var(--su8));
}
.d-input--lg.d-input-icon--left {
  padding-left: calc(var(--su4) + 2rem + var(--su8));
}
.d-input--xl {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-size: var(--fs24);
}
.d-input--xl .d-btn__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.d-input--xl.d-input-icon--right {
  padding-right: calc(var(--su4) + 2.4rem + var(--su8));
}
.d-input--xl.d-input-icon--left {
  padding-left: calc(var(--su4) + 2.4rem + var(--su8));
}
.d-textarea {
  min-height: 8rem;
  vertical-align: top;
}
.d-textarea--xs {
  min-height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--fs12);
}
.d-textarea--xs .d-btn__icon {
  width: 1.4rem;
  height: 1.4rem;
}
.d-textarea--xs.d-input-icon--right {
  padding-right: calc(var(--su4) + 1.2rem + var(--su8));
}
.d-textarea--xs.d-input-icon--left {
  padding-left: calc(var(--su4) + 1.2rem + var(--su8));
}
.d-textarea--sm {
  min-height: 4.8rem;
  padding-top: var(--su6);
  padding-bottom: var(--su6);
  font-size: var(--fs14);
}
.d-textarea--sm .d-btn__icon {
  width: 1.6rem;
  height: 1.6rem;
}
.d-textarea--sm.d-input-icon--right {
  padding-right: calc(var(--su4) + 1.4rem + var(--su8));
}
.d-textarea--sm.d-input-icon--left {
  padding-left: calc(var(--su4) + 1.4rem + var(--su8));
}
.d-textarea--lg {
  min-height: 9.2rem;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  font-size: var(--fs20);
}
.d-textarea--lg .d-btn__icon {
  width: 2rem;
  height: 2rem;
}
.d-textarea--lg.d-input-icon--right {
  padding-right: calc(var(--su4) + 2rem + var(--su8));
}
.d-textarea--lg.d-input-icon--left {
  padding-left: calc(var(--su4) + 2rem + var(--su8));
}
.d-textarea--xl {
  min-height: 10rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-size: var(--fs24);
}
.d-textarea--xl .d-btn__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.d-textarea--xl.d-input-icon--right {
  padding-right: calc(var(--su4) + 2.4rem + var(--su8));
}
.d-textarea--xl.d-input-icon--left {
  padding-left: calc(var(--su4) + 2.4rem + var(--su8));
}
.d-input--warning,
.d-textarea--warning {
  --input--bc: var(--warning-color)!important;
  --input--focus-bc: var(--warning-color);
}
.d-input--warning:focus,
.d-textarea--warning:focus {
  box-shadow: var(--bs-focus-ring-warning) !important;
}
.d-input--error,
.d-textarea--error {
  --input--bc: var(--error-color)!important;
  --input--focus-bc: var(--error-color);
}
.d-input--error:focus,
.d-textarea--error:focus {
  box-shadow: var(--bs-focus-ring-error) !important;
}
.d-input--success,
.d-textarea--success {
  --input--bc: var(--success-color)!important;
  --input--focus-bc: var(--success-color);
}
.d-input--success:focus,
.d-textarea--success:focus {
  box-shadow: var(--bs-focus-ring-success) !important;
}
.d-input-icon {
  --input-icon-size: 1.6rem;
  display: inline-flex;
  position: absolute;
  z-index: var(--zi-base1);
  top: 0;
  align-items: center;
  width: var(--input-icon-size);
  height: var(--input-icon-size);
  margin: 0;
  margin-top: 1rem;
  line-height: 0;
}
.d-input-icon svg {
  width: var(--input-icon-size);
  height: var(--input-icon-size);
}
.d-input-icon.d-input-icon--left {
  left: var(--su8);
}
.d-input-icon.d-input-icon--right {
  right: var(--su8);
}
.d-input-icon--left ~ .d-input,
.d-input-icon--left ~ .d-textarea {
  padding-left: calc(var(--su4) + 1.6rem + var(--su8));
}
.d-input-icon--right ~ .d-input {
  padding-right: calc(var(--su4) + 1.6rem + var(--su8));
}
.d-input-icon--xs {
  --input-icon-size: 1.2rem;
  margin-top: 0.8rem;
}
.d-input-icon--xs.d-input-icon--left ~ .d-input,
.d-input-icon--xs.d-input-icon--left ~ .d-textarea {
  padding-left: calc(var(--su4) + 1.2rem + var(--su8));
}
.d-input-icon--xs.d-input-icon--right ~ .d-input {
  padding-right: calc(var(--su4) + 1.2rem + var(--su8));
}
.d-input-icon--sm {
  --input-icon-size: 1.4rem;
  margin-top: 0.9rem;
}
.d-input-icon--sm.d-input-icon--left ~ .d-input,
.d-input-icon--sm.d-input-icon--left ~ .d-textarea {
  padding-left: calc(var(--su4) + 1.4rem + var(--su8));
}
.d-input-icon--sm.d-input-icon--right ~ .d-input {
  padding-right: calc(var(--su4) + 1.4rem + var(--su8));
}
.d-input-icon--lg {
  --input-icon-size: 2rem;
  margin-top: 1.4rem;
}
.d-input-icon--lg.d-input-icon--left ~ .d-input,
.d-input-icon--lg.d-input-icon--left ~ .d-textarea {
  padding-left: calc(var(--su4) + 2rem + var(--su8));
}
.d-input-icon--lg.d-input-icon--right ~ .d-input {
  padding-right: calc(var(--su4) + 2rem + var(--su8));
}
.d-input-icon--xl {
  --input-icon-size: 2.4rem;
  margin-top: 1.6rem;
}
.d-input-icon--xl.d-input-icon--left ~ .d-input,
.d-input-icon--xl.d-input-icon--left ~ .d-textarea {
  padding-left: calc(var(--su4) + 2.4rem + var(--su8));
}
.d-input-icon--xl.d-input-icon--right ~ .d-input {
  padding-right: calc(var(--su4) + 2.4rem + var(--su8));
}
