.d-link {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: var(--su0);
  padding: var(--su0);
  border: 0;
  background-color: transparent;
  color: var(--primary-color);
  font: inherit;
  text-decoration: underline;
  transition: all var(--td25) var(--ttf-in-out);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  fill: currentColor;
}
.d-link:hover {
  color: var(--primary-color-hover);
  text-decoration: none;
  cursor: pointer;
}
.d-link:focus {
  border-radius: 4px;
  box-shadow: 0px 0px 0px var(--su2) var(--focus-ring);
  outline: none;
}
.d-link--warning {
  color: var(--fc-warning);
}
.d-link--warning:hover {
  color: var(--fc-warning-hover);
}
.d-link--warning:focus {
  box-shadow: 0px 0px 0px var(--su2) var(--focus-ring-warning);
}
.d-link--danger {
  color: var(--fc-error);
}
.d-link--danger:hover {
  color: var(--error-color-hover);
}
.d-link--danger:focus {
  box-shadow: 0px 0px 0px var(--su2) var(--focus-ring-error);
}
.d-link--success {
  color: var(--fc-success);
}
.d-link--success:hover {
  color: var(--success-color-hover);
}
.d-link--success:focus {
  box-shadow: 0px 0px 0px var(--su2) var(--focus-ring-success);
}
.d-link--muted {
  color: var(--muted-color);
}
.d-link--muted:hover {
  color: var(--muted-color-hover);
}
.d-link--muted:focus {
  box-shadow: 0px 0px 0px var(--su2) var(--focus-ring-muted);
}
.d-link[disabled],
.d-link--disabled {
  color: var(--black-400);
}
.d-link[disabled]:hover,
.d-link--disabled:hover {
  color: var(--black-400);
  text-decoration: underline;
  cursor: not-allowed;
}
.d-link[disabled]:focus,
.d-link--disabled:focus {
  box-shadow: none;
}
.d-link--inverted {
  color: var(--inverted-color);
}
.d-link--inverted:hover {
  color: var(--inverted-color-hover);
}
.d-link--inverted:focus {
  box-shadow: 0px 0px 0px var(--su2) var(--focus-ring-inverted);
}
.d-link--inverted-disabled {
  color: var(--black-400);
}
.d-link--inverted-disabled:hover {
  color: var(--black-400);
  text-decoration: underline;
  cursor: not-allowed;
}
.d-link--inverted-disabled:focus {
  box-shadow: none;
}
