.d-list-group,
.d-list-group__item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.d-list-group--header,
.d-list-group--link {
  display: block;
  padding: var(--su4) var(--su24);
}
.d-list-group--header {
  font-size: var(--fs11);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}
.d-list-group--link {
  color: var(--black-800);
  font-size: var(--fs14);
  text-decoration: none;
}
.d-list-group--link:hover {
  background-color: hsla(var(--primary-color-hsl)  /  85%);
  color: var(--black-900);
}
.d-list-group--link-selected {
  background-color: var(--primary-color);
  color: var(--white);
}
.d-list-group--link-selected:hover {
  background-color: hsl(var(--primary-color-h) var(--primary-color-s) calc(var(--primary-color-l) + 10%));
  color: var(--white);
}
