.d-notice {
  --notice--bgc: var(--black-025);
  --notice--fc: var(--fc-dark);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--size628);
  padding: var(--su12);
  border-radius: var(--br4);
  background-color: var(--notice--bgc);
  color: var(--notice--fc);
  font-size: var(--fs14);
  line-height: var(--lh6);
}
.d-toast .d-notice {
  max-width: var(--size464);
  box-shadow: var(--bs-sm);
  pointer-events: all;
}
.d-notice__content {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  margin-right: var(--su16);
}
.d-notice__actions {
  display: flex;
  flex: 0 auto;
  align-items: center;
}
.d-notice__actions > * + * {
  margin-left: 0.8rem !important;
}
.d-notice__icon {
  display: flex;
  flex: 0 auto;
  margin-right: var(--su8);
  color: inherit;
}
.d-notice__title {
  font-size: inherit;
  font-weight: var(--fw-bold);
}
.d-notice.d-notice--important {
  --notice--bgc: var(--black-800);
  --notice--fc: var(--black-025);
}
.d-notice--error,
.d-banner--error,
.d-toast--error {
  --notice--bgc: var(--red-100);
  --notice--fc: var(--red-700);
}
.d-notice--error.d-notice--important,
.d-banner--error.d-notice--important,
.d-toast--error.d-notice--important,
.d-notice--error.d-banner--important,
.d-banner--error.d-banner--important,
.d-toast--error.d-banner--important,
.d-notice--error.d-toast--important,
.d-banner--error.d-toast--important,
.d-toast--error.d-toast--important {
  --notice--bgc: var(--red-500);
  --notice--fc: var(--white);
}
.d-notice--info,
.d-banner--info,
.d-toast--info {
  --notice--bgc: var(--purple-100);
}
.d-notice--info.d-notice--important,
.d-banner--info.d-notice--important,
.d-toast--info.d-notice--important,
.d-notice--info.d-banner--important,
.d-banner--info.d-banner--important,
.d-toast--info.d-banner--important,
.d-notice--info.d-toast--important,
.d-banner--info.d-toast--important,
.d-toast--info.d-toast--important {
  --notice--bgc: var(--purple-500);
  --notice--fc: var(--white);
}
.d-notice--success,
.d-banner--success,
.d-toast--success {
  --notice--bgc: var(--green-100);
  --notice--fc: var(--green-700);
}
.d-notice--success.d-notice--important,
.d-banner--success.d-notice--important,
.d-toast--success.d-notice--important,
.d-notice--success.d-banner--important,
.d-banner--success.d-banner--important,
.d-toast--success.d-banner--important,
.d-notice--success.d-toast--important,
.d-banner--success.d-toast--important,
.d-toast--success.d-toast--important {
  --notice--bgc: var(--green-300);
  --notice--fc: var(--green-700);
}
.d-notice--warning,
.d-banner--warning,
.d-toast--warning {
  --notice--bgc: var(--yellow-100);
}
.d-notice--warning.d-notice--important,
.d-banner--warning.d-notice--important,
.d-toast--warning.d-notice--important,
.d-notice--warning.d-banner--important,
.d-banner--warning.d-banner--important,
.d-toast--warning.d-banner--important,
.d-notice--warning.d-toast--important,
.d-banner--warning.d-toast--important,
.d-toast--warning.d-toast--important {
  --notice--bgc: var(--yellow-400);
  --notice--fc: var(--fc-dark);
}
