.d-select {
  --select--bc: var(--black-400);
  --select--bgc: var(--white);
  --select--fc: var(--black-800);
  --select--bs: var(--focus-ring);
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  width: -webkit-fill-available;
  font-family: inherit;
  font-size: var(--fs18);
  font-weight: inherit;
  line-height: var(--lh-tight);
}
.d-select:before,
.d-select:after {
  content: "";
  position: absolute;
  z-index: var(--zi-selected);
  right: 0.75em;
  border-color: var(--black-900) transparent;
  border-style: solid;
  border-width: 0.25em;
  pointer-events: none;
}
.d-select:before {
  top: calc(50% - 0.25em);
  border-top-width: 0;
}
.d-select:after {
  top: calc(50% + 0.125em);
  border-bottom-width: 0;
}
.d-select--xs {
  font-size: var(--fs14);
}
.d-select--xs .d-select__input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--fs12);
}
.d-select--xs .d-select__input .d-btn__icon {
  width: 1.4rem;
  height: 1.4rem;
}
.d-select--sm {
  font-size: var(--fs16);
}
.d-select--sm .d-select__input {
  padding-top: var(--su6);
  padding-bottom: var(--su6);
  font-size: var(--fs14);
}
.d-select--sm .d-select__input .d-btn__icon {
  width: 1.6rem;
  height: 1.6rem;
}
.d-select--lg {
  font-size: var(--fs20);
}
.d-select--lg .d-select__input {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  font-size: var(--fs20);
}
.d-select--lg .d-select__input .d-btn__icon {
  width: 2rem;
  height: 2rem;
}
.d-select--xl {
  font-size: var(--fs24);
}
.d-select--xl .d-select__input {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  font-size: var(--fs24);
}
.d-select--xl .d-select__input .d-btn__icon {
  width: 2.4rem;
  height: 2.4rem;
}
.d-select__input {
  display: inline-flex;
  position: relative;
  flex: 1 0%;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  height: 100%;
  padding: 0.7rem var(--su8);
  padding: 0.7rem 2em 0.7rem 0.8rem;
  border: 1px solid var(--input--bc);
  border-color: var(--select--bc);
  border-radius: var(--base--corner-radius);
  background-color: var(--input--bgc);
  background-color: var(--select--bgc);
  box-shadow: none;
  outline: none;
  color: var(--input--fc);
  color: var(--select--fc);
  font-family: inherit;
  font-size: var(--fs16);
  font-weight: inherit;
  line-height: var(--lh4);
  transition-duration: 100ms;
  transition-property: border, box-shadow, background-color;
  transition-timing-function: var(--ttf-in-out);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  --input--focus-bc: var(--primary-color);
  --input--bc: var(--black-500);
  --input--bgc: var(--white);
  --input--fc: var(--black-800);
  --select--bc: var(--black-500);
}
.d-select__input.d-input-icon--right {
  padding-right: calc(var(--su4) + 1.6rem + var(--su8));
}
.d-select__input.d-input-icon--left {
  padding-left: calc(var(--su4) + 1.6rem + var(--su8));
}
.d-select__input::-webkit-input-placeholder {
  color: var(--black-300);
}
.d-select__input:-ms-input-placeholder {
  color: var(--black-300);
}
.d-select__input::-ms-input-placeholder {
  color: var(--black-300);
}
.d-select__input::-moz-placeholder {
  color: var(--black-300);
}
.d-select__input::placeholder {
  color: var(--black-300);
}
.d-select__input::-ms-clear {
  display: none;
}
.d-select__input:focus {
  --input--bc: var(--input--focus-bc);
  box-shadow: var(--bs-focus-ring) !important;
  outline: 0;
}
.d-select__input[disabled],
.d-select__input[read-only] {
  --input--bc: var(--black-500)!important;
  --input--bgc: var(--black-200);
}
.d-select__input[disabled]:focus,
.d-select__input[read-only]:focus {
  box-shadow: none!important;
}
.d-select__input[disabled]::-webkit-input-placeholder,
.d-select__input[read-only]::-webkit-input-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]:-ms-input-placeholder,
.d-select__input[read-only]:-ms-input-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]::-ms-input-placeholder,
.d-select__input[read-only]::-ms-input-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]::-webkit-input-placeholder, .d-select__input[read-only]::-webkit-input-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]::-moz-placeholder, .d-select__input[read-only]::-moz-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]:-ms-input-placeholder, .d-select__input[read-only]:-ms-input-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]::-ms-input-placeholder, .d-select__input[read-only]::-ms-input-placeholder {
  color: var(--black-400);
}
.d-select__input[disabled]::placeholder,
.d-select__input[read-only]::placeholder {
  color: var(--black-400);
}
.d-select__input[disabled] {
  cursor: not-allowed;
}
.d-select__input:focus {
  --select--bc: var(--primary-color);
  box-shadow: var(--bs-focus-ring);
}
.d-select__input:disabled {
  border: 1px solid var(--black-500);
  background: var(--black-200);
}
.d-select__input::-moz-focus-inner {
  outline: none !important;
}
.d-select__input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--black-900);
}
.d-select__input::-ms-expand {
  display: none;
}
.d-select__input--success {
  --select--bc: var(--success-color);
}
.d-select__input--success:focus {
  --select--bc: var(--success-color);
  box-shadow: var(--bs-focus-ring-success);
}
.d-select__input--error {
  --select--bc: var(--error-color);
}
.d-select__input--error:focus {
  --select--bc: var(--error-color);
  box-shadow: var(--bs-focus-ring-error);
}
.d-select__input--warning {
  --select--bc: var(--warning-color);
}
.d-select__input--warning:focus {
  --select--bc: var(--warning-color);
  box-shadow: var(--bs-focus-ring-warning);
}
