.d-table {
  --table--th: var(--black-700);
  --table--td: var(--black-600);
  --table--bc: var(--black-200);
  display: table;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: var(--su0);
  border-collapse: collapse;
  border-spacing: 0;
  font-size: var(--fs14);
  line-height: var(--lh2);
}
.d-table .d-table__caption {
  margin-bottom: var(--su8);
  color: var(--table--th);
  font-size: var(--fs18);
  font-weight: var(--fw-bold);
  text-align: unset !important;
}
.d-table thead {
  border-bottom: var(--su2) solid var(--table--bc);
}
.d-table thead th {
  font-size: var(--fs12);
  text-transform: uppercase;
}
.d-table th {
  color: var(--table--th);
  font-weight: var(--fw-bold);
}
.d-table td {
  color: var(--table--td);
}
.d-table th,
.d-table td {
  padding: var(--su16);
  border-bottom: var(--su1) solid var(--table--bc);
  text-align: left;
}
.d-table tbody + tbody tr:first-of-type td,
.d-table tbody + tbody tr:first-of-type th {
  border-top: var(--su2) solid var(--table--bc);
}
.d-table tbody tr:last-of-type td,
.d-table tbody tr:last-of-type th {
  border-bottom-width: 0;
}
.d-table--inverted {
  --table--th: var(--black-050);
  --table--td: var(--black-100);
  --table--bc: var(--black-050);
}
.d-table--striped tr:nth-child(even) {
  background-color: hsl(var(--black-400-h), var(--black-400-s), var(--black-400-l), 0.1);
}
.d-table--striped.d-table--inverted tr:nth-child(even) {
  background-color: hsl(var(--black-050-h), var(--black-050-s), var(--black-050-l), 0.1);
}
