.d-toast-wrapper {
  position: absolute;
  top: var(--su32);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.d-toast-wrapper > * + * {
  margin-top: 0.8rem !important;
}
.d-toast {
  --toast--bgc: var(--black-025);
  --toast--fc: var(--fc-dark);
  z-index: var(--zi-notification);
  box-sizing: border-box;
  width: 100%;
  max-width: var(--size628);
  margin-bottom: var(--su8);
  padding: var(--su12);
  border-radius: var(--br4);
  background-color: var(--toast--bgc);
  box-shadow: var(--bs-md) !important;
  color: var(--toast--fc);
  font-size: var(--fs14);
  line-height: var(--lh6);
  word-break: normal;
}
.d-toast > a {
  word-break: break-all;
}
.d-toast[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
}
.d-toast[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
}
.d-toast__dialog {
  display: flex;
  position: relative;
  align-items: center;
}
.d-toast__dialog .d-notice__content {
  margin-right: var(--su16);
}
.d-toast__dialog .d-notice__actions {
  margin-left: var(--su32);
}
.d-toast.d-toast--important {
  --toast--bgc: var(--black-800);
  --toast--fc: var(--black-025);
}
.d-toast--error {
  --toast--bgc: var(--red-100);
  --toast--fc: var(--red-700);
}
.d-toast--error.d-toast--important {
  --toast--bgc: var(--red-500);
  --toast--fc: var(--white);
}
.d-toast--info {
  --toast--bgc: var(--purple-100);
  --toast--fc: var(--fc-dark);
}
.d-toast--info.d-toast--important {
  --toast--bgc: var(--purple-500);
  --toast--fc: var(--white);
}
.d-toast--success {
  --toast--bgc: var(--green-100);
  --toast--fc: var(--green-700);
}
.d-toast--success.d-toast--important {
  --toast--bgc: var(--green-300);
  --toast--fc: var(--green-700);
}
.d-toast--warning {
  --toast--bgc: var(--yellow-100);
}
.d-toast--warning.d-toast--important {
  --toast--bgc: var(--yellow-400);
  --toast--fc: var(--fc-dark);
}
.d-toast--chat .d-notice__icon,
.d-toast--chat .d-toast__meta {
  color: var(--black-600);
}
.d-toast--chat .d-toast__meta {
  font-size: var(--fs12);
}
.d-toast--chat.d-toast--important .d-notice__icon,
.d-toast--chat.d-toast--important .d-toast__meta {
  color: var(--black-025);
}
.d-toast--organizer,
.d-toast--viewing {
  border-top: 4px solid var(--pink-500);
}
.d-toast--organizer .d-notice__icon,
.d-toast--viewing .d-notice__icon {
  color: var(--pink-500);
}
.d-toast--chat,
.d-toast--organizer,
.d-toast--viewing {
  --toast--bgc: var(--white);
}
.d-toast--chat .d-notice__icon,
.d-toast--organizer .d-notice__icon,
.d-toast--viewing .d-notice__icon {
  align-self: flex-start;
}
.d-toast--chat .d-notice__message,
.d-toast--organizer .d-notice__message,
.d-toast--viewing .d-notice__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
