//
//  DIALTONE DOCUMENTATION
//  UNIVERSAL FILE
//
//  These are various visual styles for Dialtone's documentation.
//  For more information, please visit:
//  https://dialpad.design/
//
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • IMPORTS
//  • WRAPPERS
//  • TYPOGRAPHY
//  • LISTS
//  • EXAMPLES
//
//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "../../../lib/less/dialtone";

//  ============================================================================
//  $   THEME VARIABLES
//  ============================================================================
//  $$  SET THESE
//      Currently only the following items are themeable in Dialtone.
//
//      @primary-color:         This is used for all selected and primary states
//                              in elements and components (i.e. buttons, inputs,
//                              links, etc).
//
//      @primary-color--hover:  Hover state color for @primary-color.
//
//      @nav__background-color: This sets the navigation background color.
//  ----------------------------------------------------------------------------
@define-font-face-mono:         true;

@dialtone-nav--border-color:    var(--black-200);
@dialtone-nav--header-color:    var(--black-800);


:root {
    --nav-width:                30rem;
    --nav-height:               7.2rem;
    --content-width:            1fr;
    --content-max-width:        74rem;        //  740px

    @media screen and (min-width: 920px) {
        --nav-width:            32.0rem;
    }
}


//  ============================================================================
//  $   WRAPPERS
//  ============================================================================
//  $$  UNIVERSAL RESETS
//  ----------------------------------------------------------------------------
//      [1]     Universally set border-box
//      [2]     Prevent adjustments of font size after orientation changes in iOS.
//  ----------------------------------------------------------------------------
html {
    *,
    *:before,
    *:after {
        box-sizing: border-box; // [1]
    }
}

body {
    margin: 0;
    min-height: 100%;
    -webkit-text-size-adjust: 100%; // [2]
}

//  $$  LAYOUT
//  ----------------------------------------------------------------------------
//  Overall wrapper
.dialtone-wrapper {
    display: grid;

    @media screen and (max-width: 723.9px) {
        padding-top: var(--nav-height);
    }
    @media screen and (min-width: 724px) and (max-width: 920px) {
        grid-template-columns:
            [nav-start]
                var(--nav-width)
            [nav-end content-start]
                var(--content-width)
            [content-end];
        height: 100%;
    }
    @media screen and (min-width: 920px) {
        grid-template-columns:
            [nav-start]
                var(--nav-width)
            [nav-end content-start]
                var(--content-width)
            [content-end];
        height: 100%;
    }
}

//  Sidebar navigation
.dialtone-nav {
    grid-area: "nav";

    @media screen and (max-width: 723.9px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        // .d-z-index--navigation-fixed();
    }
    @media screen and (min-width: 724px) {
        position: relative;
    }
}

// //  --  NAVIGATION
// //  ----------------------------------------------------------------------------
// //  Menu button
// .dialtone-menu-button {
//     order: 2;
//     margin: auto -1rem auto @spacing16;
//
//     .d-svg__menu,
//     .d-svg__close {
//         display: none;
//     }
//
//     //  Selected state is set on blue
//     &[data-state="selected"] {
//         box-shadow: none;
//         margin: auto -1rem auto @spacing16;
//     }
//
//     //  Open or close the menu
//     &[data-menu="closed"] {
//         .d-svg__menu {
//             display: block;
//         }
//     }
//     &[data-menu="open"] {
//         .d-svg__close {
//             display: block;
//         }
//     }
//
//     @media screen and (min-width: 724px) {
//         display: none !important;
//     }
// }
// //  The overall nav wrapper
// .dialtone-navbar {
//     display: flex;
//     flex-direction: column;
//     background-color: var(--nav__background-color);
//
//     .dialtone-menu-title { display: none !important; }
//
//     @media screen and (max-width: 723.9px) {
//         align-items: center;
//         flex-direction: row;
//         padding: @spacing16 @spacing24;
//         height: var(--nav-height);
//
//         &[data-state="open"] {
//             background-color: var(--blue);
//             color: var(--white);
//
//             .dialtone-links {
//                 display: none !important;
//             }
//             .dialtone-menu-title { display: inline-flex !important; }
//             .dialtone-logo {
//                 color: var(--white);
//             }
//         }
//     }
//     @media screen and (min-width: 724px) {
//         position: fixed;
//         .d-top-bottom0();
//         .d-left0();
//         width: var(--nav-width);
//         .d-border-right-radius--lg();
//         overflow-y: scroll;
//         overflow-x: hidden;
//     }
// }
//
// //  The nav navigation
// .dialtone-navigation__list {
//     .d-list-reset();
//
//     &[data-open="false"] & {
//         display: none;
//     }
//
//     //  Sub lists
//     .dialtone-navigation__item > & {
//         .d-padding12();
//     }
//
//     &[data-open="true"] & {
//         .d-padding-top0();
//     }
//
//     .dialtone-navigation__item {
//         .d-margin-y1();
//
//         &:last-of-type {
//             .d-margin-bottom0();
//         }
//     }
// }
//
// .dialtone-navigation {
//     @media screen and (max-width: 723.9px) {
//         position: fixed;
//         top: var(--nav-height);
//         .d-left-right0();
//         .d-height100();
//         .d-background-color--ash();
//         .d-z-index--navigation();
//         overflow-y: scroll;
//
//         &[data-state="closed"] {
//             display: none;
//         }
//         &[data-state="open"] {
//             display: block;
//         }
//     }
//     @media screen and (min-width: 724px) {
//         .d-padding-bottom24();
//     }
//
//     > .dialtone-navigation__list {
//         .d-border-top();
//         border-color: @dialtone-nav--border-color;
//         .d-border-color--ash-darker();
//
//         &:first-of-type {
//             .d-border-top-width0();
//         }
//     }
// }
//
// .dialtone-navigation__header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     .d-padding12();
//     .d-padding-left24();
//     background-color: hsla(~"@{nav__background-color--hsl} / 0%");
//     font-size: @fs20;
//     color: @dialtone-nav--header-color;
//     line-height: @lh-tight;
//     text-decoration: none;
//     transition: all 100ms @transition--cubic-inOut;
//
//     &:hover {
//         color: hsl(var(--slate-light--h) var(--slate-light--s) calc(var(--slate-light--l) - 10%));
//         background-color: hsl(var(--nav__background-color--h) calc(~"var(--nav__background-color--s) - 2%") calc(~"var(--nav__background-color--l) - 5%"));
//     }
//
//     .dialtone-navigation__list[data-open="true"] & {
//         .d-padding-y12();
//         color: var(--primary-color);
//     }
// }
// .dialtone-navigation__header-icon {
//     //  Show the right icon...
//     .icon__add,
//     .icon__remove {
//         display: none;
//     }
//     //  ... if it's open
//     .dialtone-navigation__list[data-open="true"] & .icon__remove {
//         display: block;
//     }
//     //  ... if it's closed
//     .dialtone-navigation__list[data-open="false"] & .icon__add {
//         display: block;
//     }
// }
//
// .dialtone-navigation__link {
//     display: block;
//     .d-padding-y4();
//     .d-padding-x12();
//     background-color: fade(@ash-dark, 0%);
//     border-radius: var(--base--corner-radius);
//     font-size: @fs16;
//     color: var(--slate);
//     line-height: @lh-loose;
//     text-decoration: none;
//     transition: background-color 100ms @transition--cubic-inOut;
//
//     &:hover {
//         background-color: hsl(var(--nav__background-color--h) calc(~"var(--nav__background-color--s) - 2%") calc(~"var(--nav__background-color--l) - 10%"));
//     }
//
//     &.is-selected {
//         background-color: var(--primary-color);
//         color: @white;
//         font-weight: @fw-bold;
//
//         &:hover {
//             background-color: var(--primary-color--hover);
//         }
//     }
// }
//
// //  DOCSEARCH
// .dialtone-search {
//     position: relative;
//
//     @media screen and (max-width: 723.9px) {
//         margin: 0 0 0 auto !important;
//         order: 1;
//     }
// }
// .dialtone-search__icon {
//     position: absolute;
// }
//
// .algolia-autocomplete {
//     display: flex !important;
// }
// .algolia-autocomplete .ds-dropdown-menu {
//     min-width: unset;
//     max-width: unset;
//     width: 100%;
//     font-size: var(--fs14);
// }
//
// .algolia-autocomplete .algolia-docsearch-suggestion--content {
//     float: none;
//     width: 100%;
// }
//
// .algolia-autocomplete .ds-dropdown-menu:before,
// .algolia-autocomplete .algolia-docsearch-suggestion--content:before,
// .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
//     display: none !important;
// }
//
// //  --  LOGO
// //  ----------------------------------------------------------------------------
// .dialtone-logo {
//     display: block;
//     color: var(--primary-color);
//
//     &:hover {
//         color: var(--primary-color--hover);
//     }
//
//     .dialtone-logo__svg,
//     .dialtone-glyph__svg {
//         display: none;
//         color: inherit;
//         fill: currentColor;
//     }
//
//     .dialtone-logo__svg {
//         max-width: 14.8rem;
//     }
//
//     @media screen and (max-width: 723.9px) {
//         .dialtone-navbar[data-state="open"] & .dialtone-glyph__svg {
//             color: var(--color--white);
//
//             &:hover {
//                 color: var(--color--ash);
//             }
//         }
//
//         .dialtone-glyph__svg {
//             display: block;
//             .d-svg--size48();
//         }
//     }
//     @media screen and (min-width: 724px) {
//         .d-padding24();
//
//         .dialtone-logo__svg {
//             display: block;
//         }
//     }
// }
//
// .dialtone-tooltip {
//     @media screen and (max-width: 723.9px) {
//         .d-tooltip__top-center();
//     }
//     @media screen and (min-width: 724px) {
//         .d-tooltip__bottom-center();
//     }
//     width: unset !important;
//     white-space: nowrap !important;
//
//     .d-link:hover & {
//         .d-tooltip-hover();
//     }
// }
//
// //  --  MAIN CONTENT AREA
// //  ----------------------------------------------------------------------------
// .dialtone-main {
//     .d-grid-layout--with-header-content;
//     .d-grid-row-gap32;
//
//     @media screen and (max-width: 723.9px) {
//         .d-padding24();
//     }
//     @media screen and (min-width: 724px) {
//         .d-padding32();
//     }
//
//     --grid-content-col: var(--content-max-width);
//     --grid-header-row: min-content;
//     --grid-content-row: min-content;
//
//     display: grid;
//     grid-area: "content";
//
//     .dialtone-main__header {
//         grid-area: header;
//     }
//
//     .dialtone-main__content {
//         .d-grid-gap32;
//
//         display: grid;
//         grid-area: content;
//         grid-auto-flow: row;
//     }
// }
//
// .dialtone-section1    { .d-layout__stack1; }
// .dialtone-section2    { .d-layout__stack2; }
// .dialtone-section4    { .d-layout__stack4; }
// .dialtone-section8    { .d-layout__stack8; }
// .dialtone-section12   { .d-layout__stack12; }
// .dialtone-section16   { .d-layout__stack16; }
// .dialtone-section24   { .d-layout__stack24; }
// .dialtone-section32   { .d-layout__stack32; }
// .dialtone-section48   { .d-layout__stack48; }
// .dialtone-section64   { .d-layout__stack64; }
//
// //  --  DIALTONE COLOR GRID
// //      Show the various color swatches of Dialpad
// //  ----------------------------------------------------------------------------
// .dialtone-color-grid {
//     .d-grid-column-gap16();
//     .d-grid-row-gap24();
//
//     display: grid;
//     grid-template-columns: repeat(var(--color-grid-columns,3), [col] 1fr);
// }
// .dialtone-color-grid__group {
//     display: flex;
//     flex-direction: column;
// }
// .dialtone-color-grid__item {
//     .d-padding16();
//     font-family: @ff-mono;
//     font-size: @fs12;
//
//     display: flex;
//     justify-content: space-between;
//
//     &[data-primary="true"] {
//         .d-padding-y32;
//     }
//
//     &:first-of-type {
//         .d-border-top-radius--md;
//     }
//     &:last-of-type {
//         .d-border-bottom-radius--md;
//     }
// }
//
// .dialtone-color-grid__label,
// .dialtone-color-grid__ratio {
//     display: flex;
//     align-items: center;
// }
//
// .dialtone-color-badge {
//     .d-margin-right6();
//     .d-padding4();
//     .d-border-radius--sm();
//     font-family: @ff-sans;
//     line-height: @lh-none;
//     font-size: 1rem;
//     font-weight: 700;
//     text-transform: uppercase;
// }
//
// //  --  DIALTONE ICON GRID
// //      Show Dialtone's icons
// //  ----------------------------------------------------------------------------
// @icon-card-width: 12rem;
//
// .dialtone-icon-grid {
//     --icon-grid-columns: auto-fit;
//
//     display: grid;
//     grid-template-columns: repeat(var(--icon-grid-columns), [col] @icon-card-width);
//     grid-auto-rows: 12rem;
//     .d-grid-gap2;
// }
//
// .dialtone-icon-grid__item {
//     position: relative;
// }
//
// .dialtone-icon-card {
//     position: relative;
//     display: flex;
//     width: 100%;
//     height: 100%;
// }
//
// .dialtone-icon-card__header {
//     .d-flex--center();
//     flex-direction: column;
//     .d-padding8();
//     .d-width100();
//     .d-height100();
//     .d-border-radius--md();
//     background-color: fade(@ash,0%);
//     transition: all 150ms @transition--cubic-inOut;
//     cursor: pointer;
//
//     .dialtone-section8();
//
//     &:hover {
//         background-color: fade(@ash,40%);
//     }
//
//     .dialtone-icon-card[data-selected="yes"] & {
//         border: 1px solid @slate-light;
//         box-shadow: 0 @spacing2 @spacing8 0 fade(@slate,15%);
//     }
// }
//
// .dialtone-icon-card__footer {
//     position: absolute;
//     right: 0;
//     top: 0;
//     display: flex;
//     flex-direction: column;
//     width: (@icon-card-width * 2) + @spacing32;
//     min-height: @icon-card-width;
//     .d-margin-right1--negative();
//     .d-padding-y12();
//     .d-padding-x16();
//
//     .d-z-index--popover();
//     .d-border-radius--md();
//     .d-background-color--slate-light();
//     font-size: @fs14;
//     color: @ash;
//     box-shadow: 0 @spacing2 @spacing8 0 fade(@slate, 15%);
//
//     .dialtone-icon-card[data-selected="yes"] & {
//         .d-margin-right1--negative();
//         opacity: 1;
//         visibility: visible;
//         transform: translateX(-(@icon-card-width));
//         transition:
//             opacity 50ms @transition--quint-easeOut 0s,
//             transform 50ms @transition--quint-easeOut 0s,
//             visibility 0s 50ms;
//     }
//
//     //  If it's in the first two columns, show the footer on the right
//     .dialtone-icon-grid__item:nth-child(5n+1) .dialtone-icon-card[data-selected="yes"] &,
//     .dialtone-icon-grid__item:nth-child(5n+2) .dialtone-icon-card[data-selected="yes"] & {
//         margin-right: unset;
//         right: @spacing1;
//         transform: translateX(100%);
//     }
//
//     .dialtone-icon-card[data-selected="no"] & {
//         opacity: 0;
//         visibility: hidden;
//         transform: translateX(0);
//         transition:
//             opacity 100ms @transition--quint-easeOut 0s,
//             transform 100ms @transition--quint-easeOut 0s,
//             visibility 0s 0s;
//     }
// }
//
// .dialtone-icon-card__list {
//     display: flex;
//     flex-direction: column;
// }
//
// .dialtone-icon-card__list__item {
//     font-size: @fs12;
//
//     strong {
//         display: inline-block;
//         width: 20%;
//     }
// }
//
// .dialtone-icon-card__icon {
//     .d-svg--size48();
// }
//
// .dialtone-icon-card__title {
//     .d-margin-top0();
//     .d-margin-bottom4();
//     font-size: @fs16;
//     font-weight: @fw-bold;
//     line-height: @lh-tight;
// }
//
// .dialtone-icon-card__subtitle {
//     .d-margin-bottom0();
//     .d-width100();
//     font-size: @fs12;
//     text-align: center;
//     line-height: @lh-none;
//     .d-truncate();
// }
//
// .dialtone-icon-card__description {
//     font-size: @fs12;
//     color: @white;
// }
//
// //  ============================================================================
// //  $   TYPOGRAPHY
// //  ----------------------------------------------------------------------------
// [class^="dialtone-title__"],
// [class^="dialtone-copy__"] {
//     max-width: var(--content-max-width);
// }
//
// .dialtone-title__page {
//     .d-margin-y0();
//     font-size: @fs42;
//     font-weight: @fw-bold;
//     letter-spacing: -.5px;
// }
// .dialtone-title__section {
//     .d-margin-bottom0();
//     font-size: @fs32;
//     font-weight: @fw-bold;
// }
// .dialtone-title__subsection {
//     .d-margin-bottom0();
//     font-size: @fs24;
//     font-weight: @fw-bold;
// }
// .dialtone-title__small {
//     .d-margin-bottom0();
//     font-size: @fs18;
// }
//
// .dialtone-copy__lead {
//     .d-margin-bottom0();
//     font-size: @fs18;
//     line-height: @lh-loose;
// }
//
// .dialtone-copy__normal {
//     .d-margin-bottom0();
//     font-size: @fs16;
//     line-height: @lh-loose;
// }
//
//
// //  ============================================================================
// //  $   TABLES
// //  ----------------------------------------------------------------------------
// .dialtone-table-wrapper {
//     .d-border-bottom();
//     .d-border-color--ash-dark();
//
//     max-height: 40rem;
//     max-width: var(--content-max-width);
//     overflow-y: scroll;
// }
// .dialtone-table {
//     .d-table();
//     max-width: var(--content-max-width);
//
//     //  Center a table cell
//     .dialtone-table__th--centered {
//         text-align: center;
//     }
//
//     //  Table Column Widths
//     .dialtone-table__column--md {
//         width: 30%;
//     }
//
//     //  Code Table
//     &.dialtone-table--code tbody {
//         th {
//             line-height: var(--lh-normal);
//             .code-example();
//             .code-example.code-example--class();
//         }
//         td {
//             .code-example();
//             .code-example.code-example--css();
//
//             &.dialtone-table--sans {
//                 font-family: var(--ff-sans);
//                 color: var(--slate);
//                 font-size: var(--fs12);
//             }
//         }
//     }
//
//     //  Disabled Row
//     .dialtone-table__disabled {
//         th, td {
//             line-height: var(--lh-normal);
//             color: var(--ash-darkest);
//             background-color: fade(@ash, 50%);
//         }
//     }
// }
//
// //  ============================================================================
// //  $   NOTICES
// //  ----------------------------------------------------------------------------
// .dialtone-notice {
//     .d-margin-y24();
//     .d-padding-x24();
//     .d-padding-y16();
//     .d-width100();
//     max-width: var(--content-max-width);
//     .d-border-radius--lg();
//     .d-background-color--sunflower-lighter();
//     line-height: 1.5;
// }
//
// //  ============================================================================
// //  $   EXAMPLES
// //  ----------------------------------------------------------------------------
// @import "dialtone--syntax";
//
// .code-example {
//     font-size: @fs11;
//     font-family: @ff-mono;
//     line-height: @lh-loose;
//
//     &.code-example--class {
//         color: #6303FF;         //  Purple
//     }
//     &.code-example--css {
//         color: @blue-dark;
//     }
// }
//
// //  $$  INLINE CODE
// //  ----------------------------------------------------------------------------
// .code-example--inline,
// .code-example--inline-lead {
//     .d-padding-y2();
//     .d-padding-x4();
//     .d-border-radius--sm();
//     .d-background-color--ash-dark();
//     .code-example();
//     .code-example.code-example--class();
//
//     white-space: nowrap;
// }
//
// .code-example--inline-lead {
//     font-size: @fs20;
// }
//
// //  $$  CODE BLOCK
// //  ----------------------------------------------------------------------------
// .token.tag                              { color: #536bce; }
// .token.attr-name,
// .token.attr-value .token.punctuation    { color: #da35ea; }
// .token.attr-value                       { color: #2fa95c; }
//
//
// .dialtone-example {
//     border-radius: @border-radius--md;
//     .d-border();
//     .d-border-color--ash-dark();
//     max-width: var(--content-max-width);
//
//
//     //  Make correct border radii appear
//     //  If both elements are true, the code block top radii
//     //  should be flattened.
//     &[data-example="yes"][data-code="yes"] .dialtone-example__code > pre {
//         .d-border-top-radius--none;
//     }
//
//
//     //  Example container
//     .dialtone-example__example {
//         .d-padding24;
//     }
// }
//
// .dialtone-breakdown {
//     position: relative;
//     max-width: var(--content-max-width);
//
//     //  Scale images within breakdown blocks to fit the wrapper
//     > img {
//         width: 100%;
//     }
// }
//
// .layout-block {
//     .example-block;
//     .example-block--clear;
//
//     position: relative;
//     display: flex;
//
//     .layout-block__label {
//         .d-flex--center();
//         .d-padding8();
//
//         display: flex;
//         flex: 1 auto;
//         width: @spacing48;
//         height: @spacing48;
//     }
//
//     .layout-block__bar {
//         .example-block__inner();
//
//         flex-grow: 0;
//         width: var(--layout-example-width, auto);
//         height: var(--layout-example-height, auto);
//     }
//
//     &.layout-block--outlined {
//         .example-block--outlined();
//     }
// }
//
// .layout-block__inner {
//     .example-block__inner();
// }
//
// //  $$  EXAMPLE BLOCKS
// //      This are colored blocks used to illustrate space such as with grids,
// //      padding, or widths.
// //  ----------------------------------------------------------------------------
// .example-block {
//     .d-border();
//     .d-border-color--blue-light();
//     font-size: @fs12;
//     font-family: @ff-mono;
//     line-height: @lh-tight;
//     color: @fc-blue-text;
//     background-color: fade(@blue, 15%);
// }
//
// .example-block__inner (){
//     .d-border();
//     .d-border-color--blue-light();
//     background-color: fade(@blue, 50%);
// }
//
// //  --  MODIFYING STYLES
// //  ----------------------------------------------------------------------------
// //      CLEAR BLOCK
// .example-block--clear {
//     .d-padding0();
//     border: none;
//
//     .example-block--outlined {
//         border: @border-width1 solid var(--blue-light);
//         background-color: fade(@blue, 75%);
//     }
// }
//
// //      OUTLINED BLOCK
// .example-block--outlined {
//     .d-border-color--ash-dark();
//     .d-background-color--white();
//     color: @slate;
//
//     .example-block__inner {
//         .d-border-color--transparent();
//         color: @white;
//         background-color: fade(@blue-dark, 50%);
//     }
// }
