//
//  DIALTONE
//  THEME VARIABLES
//
//  This file contains all the theme-able portions of Dialtone.
//  For further information about these classes, please visit:
//  https://dialpad.design/themes
//
//  ============================================================================
//  THEME VARIABLES
//  The following items are themeable items that will update the imported
//  Dialtone styles and components accordingly.
//
//  TABLE OF CONTENTS:
//    - SET VARIABLES
//      - Colors
//      - Visual Styles
//      - Theme
//    - OUTPUT VARIABLES
//
//  ============================================================================
//  $   REFERENCE DIALTONE
//  ----------------------------------------------------------------------------
@import (reference) "../../../lib/build/less/variables/colors";
@import (reference) "../../../lib/build/less/themes/default";

//  ============================================================================
//  $   THEME VARIABLES
//  ////////////////////////////////////////////////////////////////////////////
//  ----------------------------------------------------------------------------
//  $   SET THESE
//  ----------------------------------------------------------------------------
@primary-color:                 #E20074;
@primary-color--hover:          #F41A8A;
@nav__background-color:         @ash;

//  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
//  ----------------------------------------------------------------------------
//  $   IGNORE THESE!!!
//      Warning:    We use these to extract the HSL values of the HEX code and
//                  restate them in the CSS Variables.
//  ----------------------------------------------------------------------------
@primary-color--h:              hue(@primary-color);
@primary-color--s:              saturation(@primary-color);
@primary-color--l:              lightness(@primary-color);

@primary-color--hover--h:       hue(@primary-color--hover);
@primary-color--hover--s:       saturation(@primary-color--hover);
@primary-color--hover--l:       lightness(@primary-color--hover);

@nav__background-color--h:      hue(@nav__background-color);
@nav__background-color--s:      saturation(@nav__background-color);
@nav__background-color--l:      lightness(@nav__background-color);


//  $$  VISUAL STYLES
//      Inputs, Buttons, Borders, etc.
//  ----------------------------------------------------------------------------
@visual-styles-vars: {
    button__text-color:                     @primary-color;
    button__border:                         hsla(~"@{primary-color--hsl} / 0%");
    button__border--loading:                @primary-color;
    button__box-shadow:                     hsla(~"@{primary-color--hsl} / 25%");

    input__box-shadow--inset:               hsla(~"@{primary-color--hsl} / 0%");

    radio-checkbox__box-shadow:             hsla(~"@{primary-color--hsl} / 15%");

    link__text-color:                       @primary-color;
}

//  $$  THEME STYLES
//      Inputs, Buttons, Borders, etc.
//  ----------------------------------------------------------------------------
@theme-vars: {
    primary-color:                 @primary-color;
    primary-color--h:              @primary-color--h;
    primary-color--s:              @primary-color--s;
    primary-color--l:              @primary-color--l;

    primary-color--hover:          @primary-color--hover;
    primary-color--hover--h:       @primary-color--hover--h;
    primary-color--hover--s:       @primary-color--hover--s;
    primary-color--hover--l:       @primary-color--l;

    nav__background-color:         @nav__background-color;
    nav__background-color--h:      @nav__background-color--h;
    nav__background-color--s:      @nav__background-color--s;
    nav__background-color--l:      @nav__background-color--l;

    btn--inverted__bg--hover:           fade(mix(#FFF, @primary-color, 90%),25%);
    btn--inverted--primary__bg--hover:  mix(#FFF, @primary-color, 90%)
}

//  ============================================================================
//  $   OUTPUT VARIABLES
//  ============================================================================
:root {
    //  Visual Styles
    each(@visual-styles-vars, {
        --@{key}: @value;
    });

    //  Theme Styles
    each(@theme-vars, {
        --@{key}: @value;
    });
}
