//
//  DIALTONE DOCUMENTATION
//  UNIVERSAL FILE
//
//  These are various visual styles for Dialtone's documentation.
//  For more information, please visit:
//  https://dialpad.design/
//
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • IMPORTS
//  • WRAPPERS
//  • TYPOGRAPHY
//  • LISTS
//  • EXAMPLES
//
//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "../../../lib/build/less/themes/tmo";
@import "dialtone-docs";

//  ============================================================================
//  $   VARIABLES
//  ----------------------------------------------------------------------------
@dialtone-nav--background-color:        @ash;
@dialtone-nav--border-color:            @ash-darker;
@dialtone-nav--header-color:            @slate-light;
@dialtone-nav--link-color:              @slate;
