//
//  DIALTONE DOCUMENTATION
//  UNIVERSAL FILE
//
//  These are various visual styles for Dialtone's documentation.
//  For more information, please visit:
//  https://dialpad.design/
//
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • IMPORTS
//  • WRAPPERS
//  • TYPOGRAPHY
//  • LISTS
//  • EXAMPLES
//
//  ============================================================================
//  $   VARIABLES
//  ----------------------------------------------------------------------------
@sidebar-min-width:     24rem;          //  240px
@sidebar-max-width:     32.8rem;        //  328px
@content-min-width:     min-content;
@content-max-width:     74rem;        //  740px


//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "../../../lib/build/less/dialtone";


//  ============================================================================
//  $   STYLE MIXINS
//  ----------------------------------------------------------------------------
//  $$  SCROLLBAR
// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: @spacing8;
// }
//
// ::-webkit-scrollbar-thumb {
//     border-radius: @border-radius--sm;
//     background-color: fade(@slate,50%);
//     -webkit-box-shadow: 0 0 @spacing1 fade(@white,50%);
// }
//  ============================================================================
//  $   WRAPPERS
//  ============================================================================
//  $$  UNIVERSAL RESETS
//  ----------------------------------------------------------------------------
//      [1]     Universally set border-box
//      [2]     Font size set to 10px to make REM values easier to calculate
//      [3]     We don't want 10px to be the default size, so we reset it to
//              the desired 16px size;
//      [4]     Prevent adjustments of font size after orientation changes in iOS.
//  ----------------------------------------------------------------------------
html,
body {
    *,
    *:before,
    *:after {
        box-sizing: inherit;    // [1]
    }

    height: 100%;
    font-size: 10px;    // [2]
}

html {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    min-height: 100%;
    background-color: @white;

    color: @color--dark;
    font-size: @base-font-size; // [3]
    font-family: @font-family--mark;
    line-height: @line-height--lg;
    -webkit-text-size-adjust: 100%; // [4]
}

//  $$  LAYOUT
//  ----------------------------------------------------------------------------
//  Overall wrapper
.dialtone-wrapper {
    display: grid;
    grid-template-columns:
        [sidebar-start]
            minmax(@sidebar-min-width,@sidebar-max-width)
        [sidebar-end content-start]
            minmax(@content-min-width,@content-max-width)
        [content-end];
    height: 100%;
}

//  Sidebar navigation
.dialtone-sidebar {
    grid-area: "sidebar";
    position: relative;
}

//  --  NAVIGATION
//  ----------------------------------------------------------------------------
//  The overall sidebar wrapper
.dialtone-navbar {
    .d-top-bottom1();
    .d-left1();
    .d-border-right-radius--lg();
    .d-background-color--ash();
    .d-color--dark-lighter();

    position: fixed;
    width: 100%;
    min-width: @sidebar-min-width;
    max-width: @sidebar-max-width;
    overflow-y: scroll;
    overflow-x: hidden;
}

//  The sidebar navigation
.dialtone-navigation__list {
    .d-list-reset();

    &[data-open="false"] & {
        display: none;
    }

    //  Sub lists
    .dialtone-navigation__item > & {
        .d-padding12();
    }

    &[data-open="true"] & {
        .d-padding-top0();
    }

    .dialtone-navigation__item {
        .d-margin-y1();

        &:last-of-type {
            .d-margin-bottom0();
        }
    }
}

.dialtone-navigation {
    .d-padding-bottom24();

    > .dialtone-navigation__list {
        .d-border-top();
        .d-border-color--ash-darker();

        &:first-of-type {
            .d-border-top-width0();
        }
    }
}

.dialtone-navigation__header {
    .d-padding24();
    .d-text--xl();
    .d-color--dark-lighter();
    .d-line-height--sm();

    display: flex;
    justify-content: space-between;
    background-color: fade(@ash-dark,0%);
    text-decoration: none;
    transition: all 100ms @transition--cubic-inOut;

    &:hover {
        .d-color--dark-light();
        .d-background-color--ash-dark();
    }

    .dialtone-navigation__list[data-open="true"] & {
        .d-padding-y12();
        .d-color--dark();
    }

    //  Show the right icon...
    .icon__add,
    .icon__remove {
        display: block;
    }
    //  ... if it's open
    .dialtone-navigation__list[data-open="true"] & .icon__add {
        display: none;
    }
    //  ... if it's closed
    .dialtone-navigation__list[data-open="false"] & .icon__remove {
        display: none;
    }
}

.dialtone-navigation__link {
    .d-padding-y4();
    .d-padding-x12();
    .d-border-radius--sm();
    .d-text--md();
    .d-color--dark();
    .d-line-height--lg();

    display: block;
    background-color: fade(@ash-dark,0%);
    text-decoration: none;
    transition: background-color 100ms @transition--cubic-inOut;

    &:hover {
        background-color: @ash-dark;
    }

    &.is-selected {
        .d-background-color--blue-dark();
        .d-color--white();
        .d-font-weight--bold();

        &:hover {
            background-color: darken(@blue-dark,10%);
        }
    }
}

//  --  LOGO
//  ----------------------------------------------------------------------------
.dialtone-logo {
    .d-padding-y24;
    .d-padding-x24;
}
.dialtone-logo__svg {
    color: @blue;
}

//  --  MAIN CONTENT AREA
//  ----------------------------------------------------------------------------
.dialtone-main {
    .d-grid-layout--with-header-content;
    .d-grid-row-gap32;
    .d-padding32;

    --grid-content-col: minmax(@content-min-width,@content-max-width);
    --grid-header-row: min-content;
    --grid-content-row: min-content;

    display: grid;
    grid-area: "content";

    .dialtone-main__header {
        grid-area: header;
    }

    .dialtone-main__content {
        .d-grid-gap32;

        display: grid;
        grid-area: content;
        grid-auto-flow: row;
    }
}

.dialtone-section1    { .d-layout__stack1; }
.dialtone-section2    { .d-layout__stack2; }
.dialtone-section4    { .d-layout__stack4; }
.dialtone-section8    { .d-layout__stack8; }
.dialtone-section12   { .d-layout__stack12; }
.dialtone-section16   { .d-layout__stack16; }
.dialtone-section24   { .d-layout__stack24; }
.dialtone-section32   { .d-layout__stack32; }
.dialtone-section48   { .d-layout__stack48; }
.dialtone-section64   { .d-layout__stack64; }

//  --  DIALTONE COLOR GRID
//      Show the various color swatches of Dialpad
//  ----------------------------------------------------------------------------
.dialtone-color-grid {
    .d-grid-column-gap16();
    .d-grid-row-gap24();

    display: grid;
    grid-template-columns: repeat(var(--color-grid-columns,3), [col] 1fr);
}
.dialtone-color-grid__group {
    display: flex;
    flex-direction: column;
}
.dialtone-color-grid__item {
    .d-padding16();
    .d-font-family--mono();
    .d-text--xs();

    display: flex;
    justify-content: space-between;

    &[data-primary="true"] {
        .d-padding-y32;
    }

    &:first-of-type {
        .d-border-top-radius--md;
    }
    &:last-of-type {
        .d-border-bottom-radius--md;
    }
}

.dialtone-color-grid__label,
.dialtone-color-grid__ratio {
    display: flex;
    align-items: center;
}

.dialtone-color-badge {
    .d-margin-right6();
    .d-padding4();
    .d-border-radius--sm();
    .d-font-family--sans();
    .d-line-height--xs();

    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

//  --  DIALTONE ICON GRID
//      Show Dialtone's icons
//  ----------------------------------------------------------------------------
@icon-card-width: 12rem;

.dialtone-icon-grid {
    --icon-grid-columns: 5;

    display: grid;
    grid-template-columns: repeat(var(--icon-grid-columns), [col] @icon-card-width);
    grid-auto-rows: 12rem;
    .d-grid-gap2;
}

.dialtone-icon-card {
    position: relative;
    display: flex;
}

.dialtone-icon-card__header {
    .d-flex--center();
    flex-direction: column;
    .d-padding8();
    .d-width100();
    .d-height100();
    .d-border-radius--md();
    background-color: fade(@ash,0%);
    transition: all 150ms @transition--cubic-inOut;
    cursor: pointer;

    .dialtone-section8();

    &:hover {
        background-color: fade(@ash,40%);
    }

    .dialtone-icon-card[data-selected="yes"] & {
        border-radius: 0 @border-radius--md @border-radius--md 0;
        border: 1px solid @blue;
        box-shadow: 0 @spacing2 @spacing8 0 fade(@slate, 15%);
    }
    .dialtone-icon-card[data-selected="yes"]:nth-child(5n+1) &,
    .dialtone-icon-card[data-selected="yes"]:nth-child(5n+2) & {
        border-radius: @border-radius--md 0 0 @border-radius--md;
    }
}

.dialtone-icon-card__footer {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    .d-width2();
    height: @icon-card-width;
    .d-padding-y12();
    .d-padding-x16();

    .d-z-index--popover();
    .d-background-color--blue();
    .d-text--sm();
    .d-color--light();
    box-shadow: 0 @spacing2 @spacing8 0 fade(@slate, 15%);

    .dialtone-icon-card[data-selected="yes"] & {
        border-radius: @border-radius--md 0 0 @border-radius--md;
        opacity: 1;
        visibility: visible;
        transform: translateX(-(@icon-card-width));
        transition:
            opacity 50ms @transition--quint-easeOut 0s,
            transform 50ms @transition--quint-easeOut 0s,
            visibility 0s 50ms;
    }

    //  If it's in the first two columns, show the footer on the right
    .dialtone-icon-card[data-selected="yes"]:nth-child(5n+1) &,
    .dialtone-icon-card[data-selected="yes"]:nth-child(5n+2) & {
        border-radius: 0 @border-radius--md @border-radius--md 0;
        transform: translateX(100%);
    }

    .dialtone-icon-card[data-selected="no"] & {
        opacity: 0;
        visibility: hidden;
        transform: translateX(0);
        transition:
            opacity 100ms @transition--quint-easeOut 0s,
            transform 100ms @transition--quint-easeOut 0s,
            visibility 0s 0s;
    }
}

.dialtone-icon-card__list {
    display: flex;
    flex-direction: column;
}

.dialtone-icon-card__list__term {
    .d-font-weight--bold();
}

.dialtone-icon-card__icon > svg {
    .d-svg--lg();
}

.dialtone-icon-card__title {
    .d-margin-top0();
    .d-margin-bottom4();
    .d-text--xs();
    .d-font-weight--bold();
    .d-line-height--md();
}
.dialtone-icon-card__subtitle {
    .d-margin-bottom0();
    .d-width100();
    .d-text--xs();
    text-align: center;
    .d-line-height--xs();
    .d-truncate();
}

//  ============================================================================
//  $   TYPOGRAPHY
//  ----------------------------------------------------------------------------
.title__page {
    .d-margin-bottom0();
    .d-headline--xl();
    letter-spacing: -.5px;
}
.title__section {
    .d-margin-bottom0();
    .d-headline--md();
}
.title__subsection {
    .d-margin-bottom0();
    .d-headline--sm();
}
.title__small {
    .d-margin-bottom0();
    .d-font-weight--normal();
    .d-text--lg();
}

.copy__lead {
    .d-margin-bottom0();
    .d-headline--sm();
    .d-font-weight--normal();
    .d-line-height--lg();
}

.copy__normal {
    .d-margin-bottom0();
    .d-text--md();
    .d-line-height--lg();
}


//  ============================================================================
//  $   TABLES
//  ----------------------------------------------------------------------------
.dialtone-table-wrapper {
    .d-border-bottom();
    .d-border-color--ash-dark();

    max-height: 40rem;
    overflow-y: scroll;
}
.dialtone-table {
    .d-table();

    //  Center a table cell
    .dialtone-table__th--centered {
        text-align: center;
    }

    //  Table Column Widths
    .dialtone-table__column--md {
        width: 30%;
    }

    //  Code Table
    &.dialtone-table--code tbody {
        th {
            .d-font-weight--normal();
            .code-example();
            .code-example.code-example--class();
        }
        td {
            .code-example();
            .code-example.code-example--css();

            &.dialtone-table--sans {
                .d-font-family--sans();
                .d-color--dark();
                .d-text--xs();
            }
        }
    }
}

//  ============================================================================
//  $   EXAMPLES
//  ----------------------------------------------------------------------------
@import "dialtone--syntax";

.code-example {
    .d-text--xxs();
    .d-font-family--mono();
    .d-line-height--xl;

    &.code-example--class {
        color: #6303FF;         //  Purple
    }
    &.code-example--css {
        color: @blue-dark;
    }
}

//  $$  INLINE CODE
//  ----------------------------------------------------------------------------
.code-example--inline {
    .d-padding-y2();
    .d-padding-x4();
    .d-border-radius--sm();
    .d-background-color--ash-dark();
    .code-example();
    .code-example.code-example--class();

    white-space: nowrap;
}

//  $$  CODE BLOCK
//  ----------------------------------------------------------------------------
.code__block,
.highlight {
    .d-background-color--ash();
    position: relative;

    &,
    pre {
        .d-margin0();
        .d-border-radius--md();
        .d-text--xs();
        .d-font-family--mono();
        .d-line-height--lg();
    }

    > pre {
        overflow: auto;
    }
}

.dialtone-example {
    .d-border-radius--md();
    .d-border();
    .d-border-color--ash-dark();
    max-width: @content-max-width;

    //  Make correct border radii appear
    //  If both elements are true, the code block top radii
    //  should be flattened.
    &[data-example="yes"][data-code="yes"] .highlight {
        .d-padding-top1;

        &,
        pre {
            .d-border-top-radius--none;
        }
        .gutter.gl {
            border-top-left-radius: @spacing0;
        }
    }

    //  Example container
    .dialtone-example__example {
        .d-padding24;
    }

    //  Code styles
    .gutter.gl {
        .d-padding-right6();
        .d-border-left-radius--sm();
        .d-background-color--ash-dark();
        .d-color--dark-lighter();

        min-width: @spacing24;
        text-align: right;
    }
    .code {
        .d-padding-left6;
    }
}

.dialtone-breakdown {
    position: relative;

    //  Scale images within breakdown blocks to fit the wrapper
    > img {
        width: 100%;
    }
}

.layout-block {
    .example-block;
    .example-block--clear;

    position: relative;
    display: flex;

    .layout-block__label {
        .d-flex--center();
        .d-padding8();

        display: flex;
        flex: 1 auto;
        width: @spacing48;
        height: @spacing48;
    }

    .layout-block__bar {
        .example-block__inner();

        flex-grow: 0;
        width: var(--layout-example-width, auto);
        height: var(--layout-example-height, auto);
    }

    &.layout-block--outlined {
        .example-block--outlined();
    }
}

.layout-block__inner {
    .example-block__inner();
}

//  $$  EXAMPLE BLOCKS
//      This are colored blocks used to illustrate space such as with grids,
//      padding, or widths.
//  ----------------------------------------------------------------------------
.example-block {
    .d-border();
    .d-border-color--blue-light();
    .d-text--xs();
    .d-font-family--mono();
    .d-line-height--sm();
    .d-color--blue-text();
    background-color: fade(@blue, 15%);
}

.example-block__inner (){
    .d-border();
    .d-border-color--blue-light();
    background-color: fade(@blue, 50%);
}

//  --  MODIFYING STYLES
//  ----------------------------------------------------------------------------
//      CLEAR BLOCK
.example-block--clear {
    .d-padding0();
    border: none;

    .example-block--outlined {
        border: @border-width1 solid @blue-light;
        background-color: fade(@blue, 75%);
    }
}

//      OUTLINED BLOCK
.example-block--outlined {
    .d-border-color--ash-dark();
    .d-background-color--white();
    .d-color--dark();

    .example-block__inner {
        .d-border-color--transparent();
        .d-color--white();
        background-color: fade(@blue-dark, 50%);
    }
}
