//
//  DIALTONE DOCUMENTATION
//  UNIVERSAL FILE
//
//  These are various visual styles for Dialtone's documentation.
//  For more information, please visit:
//  https://dialpad.design/
//
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • IMPORTS
//  • WRAPPERS
//  • TYPOGRAPHY
//  • LISTS
//  • EXAMPLES
//
//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "../../../lib/build/less/themes/dark";
@import "dialtone-docs";

//  ============================================================================
//  $   VARIABLES
//  ----------------------------------------------------------------------------
@dialtone-nav--background-color:        @base-background-color;
@dialtone-nav--border-color:            @slate-lighter;
@dialtone-nav--header-color:            @ash-dark;
@dialtone-nav--link-color:              @ash;
