@import (reference) '../../../lib/build/less/variables/spacing.less';
@import (reference) '../../../lib/build/less/variables/colors';

div[class*=language-] {
  padding: 0.8rem;
  border-radius: 0.8rem;
  background-color: hsla(var(--black-600-h) var(--black-600-s) var(--black-600-l) / var(--bgo));

  pre {
    padding: 1em !important;
    margin: 0 !important;

    code {
      color: @black-200 !important;
    }
  }

  &[class*=jsx] {
    background: inherit;
  }

  &[class*=html] {
    border-radius: 0 0 6px 6px !important;
    margin-top: 0 !important;
  }
}

code {
  --bgo: 50% !important;
  background-color: @purple-100;
  color: @purple-500;
}
