/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+less&plugins=line-numbers+command-line */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  margin: 0;
  border-radius: 0.7rem;
  background: none;
  color: var(--black-200);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: var(--fs12);
  line-height: 1.66666667;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: inherit;
  text-shadow: none;
}
pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  background: inherit;
  text-shadow: none;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 1em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: inherir;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--black-300);
}
.token.punctuation {
  color: var(--blue-100);
}
.token.namespace {
  opacity: 0.7;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--purple-200);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--teal-200);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--yellow-500);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--green-200);
}
.token.function,
.token.class-name {
  color: var(--red-300);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--yellow-400);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
pre[class*="language-"].line-numbers {
  counter-reset: linenumber;
  position: relative;
  padding-left: 3.8em;
}
pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}
.line-numbers .line-numbers-rows {
  position: absolute;
  top: 0;
  left: -3.8em;
  width: 3em;
  border-right: 1px solid var(--black-300);
  font-size: 100%;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.line-numbers-rows > span {
  counter-increment: linenumber;
  display: block;
}
.line-numbers-rows > span:before {
  content: counter(linenumber);
  display: block;
  padding-right: 0.8em;
  color: var(--black-300);
  text-align: right;
}
.command-line-prompt {
  display: block;
  float: left;
  margin-right: 1em;
  border-right: 1px solid var(--black-300);
  font-size: 100%;
  letter-spacing: -1px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.command-line-prompt > span:before {
  content: ' ';
  display: block;
  padding-right: 0.8em;
  color: var(--black-300);
}
.command-line-prompt > span[data-user]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] $";
}
.command-line-prompt > span[data-user="root"]:before {
  content: "[" attr(data-user) "@" attr(data-host) "] #";
}
.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}
.toc ol {
  display: flex;
  flex-direction: column;
}
.toc ol,
.toc ol li,
.toc ol ol,
.toc ol ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
.toc ol > * + * {
  margin-top: 0.4rem !important;
}
.toc li > ol {
  margin-left: var(--su16);
}
.toc a {
  display: inline-flex;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: var(--su0);
  padding: var(--su0);
  padding: var(--su2) var(--su8);
  border: 0;
  border-radius: var(--br4);
  background-color: transparent;
  color: var(--primary-color);
  color: var(--muted-color);
  font: inherit;
  font-size: var(--fs14);
  line-height: var(--lh6);
  text-decoration: underline;
  text-decoration: none;
  transition: all var(--td25) var(--ttf-in-out);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  fill: currentColor;
}
.toc a:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}
.toc a:hover {
  color: var(--muted-color-hover);
}
.toc a:hover {
  background-color: var(--black-050);
  text-decoration: none;
}
.toc a.active {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}
.toc a.active::before {
  content: "";
  position: absolute;
  top: var(--su0);
  bottom: var(--su0);
  left: var(--sun4);
  width: var(--su4);
  border-radius: var(--br4);
  background-color: var(--primary-color);
}
.d-ga-toc {
  grid-area: toc !important;
}
.d-gl-docsite {
  grid-column-gap: 2.4rem;
          grid-column-gap: 2.4rem;
  grid-template-areas: "sidebar content toc";
  grid-template-columns: [sidebar] 21.6rem [content] minmax(-webkit-min-content, 75rem) [toc] minmax(-webkit-min-content, 21.6rem);
  grid-template-columns: [sidebar] 21.6rem [content] minmax(min-content, 75rem) [toc] minmax(min-content, 21.6rem);
  -webkit-column-gap: 2.4rem;
             -moz-column-gap: 2.4rem;
                  column-gap: 2.4rem;
}
