.highlight {
  background-color: #F4F4F4;
}
.highlight .gutter.gl {
  background-color: #EEE;
}
.highlight .c {
  color: #969896;
  font-style: italic;
}
/* Comment */
.highlight .err {
  color: #52555d;
}
/* Error */
.highlight .k {
  color: #f15191;
  font-weight: bold;
}
/* Keyword */
.highlight .o {
  color: #52555d;
  font-weight: bold;
}
/* Operator */
.highlight .cp {
  color: #969896;
}
/* Comment.Preproc */
.highlight .kt {
  color: #cc6666;
}
/* Keyword.Type */
.highlight .m {
  color: #c75049;
}
/* Literal.Number */
.highlight .s {
  color: #2fa95c;
}
/* Literal.String */
.highlight .n {
  color: #616773;
}
.highlight .na {
  color: #da35ea;
}
/* Name.Attribute */
.highlight .nb {
  color: #f11462;
}
/* Name.Builtin */
.highlight .nc {
  color: #1256EA;
}
/* Name.Class */
.highlight .no {
  color: #de935f;
}
/* Name.Constant */
.highlight .nd {
  color: #007ddc;
}
.highlight .nf {
  color: #81a2be;
}
/* Name.Function */
.highlight .nl {
  color: #747175;
}
.highlight .nn {
  color: #81a2be;
}
/* Name.Namespace */
.highlight .nt {
  color: #536bce;
}
/* Name.Tag */
.highlight .nv {
  color: #01a994;
}
/* Name.Variable */
.highlight .ow {
  color: #b294bb;
}
/* Operator.Word */
.highlight .p {
  color: #747175;
}
.highlight .sr {
  color: #8abeb7;
}
/* Literal.String.Regex */
.highlight .si {
  color: #a3685a;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68;
}
/* Literal.String.Other */
.highlight .ss {
  color: #8abeb7;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #cc6666;
}
/* Name.Builtin.Pseudo */
