.highlight {
  background: #ffffff; }

.highlight .c {
  color: #969896;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #cc6666; }

/* Error */
.highlight .k {
  color: #b294bb;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #8abeb7;
  font-weight: bold; }

/* Operator */
.highlight .cp {
  color: #969896; }

/* Comment.Preproc */
.highlight .kt {
  color: #cc6666; }

/* Keyword.Type */
.highlight .m {
  color: #81a2be; }

/* Literal.Number */
.highlight .s {
  color: #b5bd68; }

/* Literal.String */
.highlight .na {
  color: #81a2be; }

/* Name.Attribute */
.highlight .nc {
  color: #de935f; }

/* Name.Class */
.highlight .no {
  color: #de935f; }

/* Name.Constant */
.highlight .nf {
  color: #81a2be; }

/* Name.Function */
.highlight .nn {
  color: #81a2be; }

/* Name.Namespace */
.highlight .nt {
  color: #de935f; }

/* Name.Tag */
.highlight .nv {
  color: #81a2be; }

/* Name.Variable */
.highlight .ow {
  color: #b294bb; }

/* Operator.Word */
.highlight .sr {
  color: #8abeb7; }

/* Literal.String.Regex */
.highlight .si {
  color: #a3685a; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.highlight .ss {
  color: #8abeb7; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #cc6666; }

/* Name.Builtin.Pseudo */
body {
  margin: 0;
  background-color: #FFF;
  color: #222;
  font-family: "MarkWeb", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5; }

.dds-logo-image {
  width: auto;
  max-width: 8rem;
  height: auto; }

.dds-docs--title {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.5px; }

.dds-docs--header {
  margin-bottom: 4px;
  font-size: 1.5rem; }

.dds-docs--subheader {
  margin-bottom: 4px;
  font-size: 1.25rem; }

.dds-docs--copy__lg {
  margin-top: 0;
  color: #222;
  font-size: 1.25rem;
  line-height: 1.5; }

.dds-docs--copy {
  margin-top: 0;
  color: #222;
  font-size: 1rem;
  line-height: 1.5; }

.dds-docs--code {
  padding: 4px;
  border-radius: 3px;
  background-color: #F4F4F4;
  font-family: "SFMono-Regular", Conolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.75rem; }

.dds-docs--example {
  margin: 16px 0 32px;
  border: 1px solid #DDD;
  border-radius: 5px; }
  .dds-docs--example .highlight {
    position: relative; }
    .dds-docs--example .highlight,
    .dds-docs--example .highlight pre {
      margin: 0;
      color: #C5C8C6;
      font-family: "SFMono-Regular", Conolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.75rem;
      line-height: 1.5; }
    .dds-docs--example .highlight > pre {
      overflow: auto;
      overflow: auto;
      max-height: 24rem;
      margin: -1px;
      border-radius: 5px 5px 0 0;
      background-color: #222; }
    .dds-docs--example .highlight .gutter.gl {
      min-width: 24px;
      margin: -1px 0 -1px -1px;
      padding: 8px;
      background: #2f2f2f;
      text-align: right; }
      .dds-docs--example .highlight .gutter.gl pre {
        color: #7A7D80; }
    .dds-docs--example .highlight .code {
      padding-left: 12px; }
  .dds-docs--example .dds-docs--example__preview {
    padding: 24px; }
  .dds-docs--example .dds-docs--example-cell {
    padding: 8px;
    border: 1px solid #7e9cf3;
    background-color: rgba(80, 120, 238, 0.15);
    font-family: "SFMono-Regular", Conolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75rem;
    text-align: center; }
  .dds-docs--example.dds-docs--example__code-only {
    margin-bottom: 16px; }
    .dds-docs--example.dds-docs--example__code-only,
    .dds-docs--example.dds-docs--example__code-only .highlight > pre {
      border-radius: 5px; }
