.highlight {
  background-color: #F4F4F4; }

.highlight .gutter.gl {
  background-color: #EEE; }

.highlight .c {
  color: #969896;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #52555d; }

/* Error */
.highlight .k {
  color: #f15191;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #52555d;
  font-weight: bold; }

/* Operator */
.highlight .cp {
  color: #969896; }

/* Comment.Preproc */
.highlight .kt {
  color: #cc6666; }

/* Keyword.Type */
.highlight .m {
  color: #c75049; }

/* Literal.Number */
.highlight .s {
  color: #2fa95c; }

/* Literal.String */
.highlight .n {
  color: #616773; }

.highlight .na {
  color: #da35ea; }

/* Name.Attribute */
.highlight .nb {
  color: #f11462; }

/* Name.Builtin */
.highlight .nc {
  color: #1256EA; }

/* Name.Class */
.highlight .no {
  color: #de935f; }

/* Name.Constant */
.highlight .nd {
  color: #007ddc; }

.highlight .nf {
  color: #81a2be; }

/* Name.Function */
.highlight .nl {
  color: #747175; }

.highlight .nn {
  color: #81a2be; }

/* Name.Namespace */
.highlight .nt {
  color: #536bce; }

/* Name.Tag */
.highlight .nv {
  color: #01a994; }

/* Name.Variable */
.highlight .ow {
  color: #b294bb; }

/* Operator.Word */
.highlight .p {
  color: #747175; }

.highlight .sr {
  color: #8abeb7; }

/* Literal.String.Regex */
.highlight .si {
  color: #a3685a; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.highlight .ss {
  color: #8abeb7; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #cc6666; }

/* Name.Builtin.Pseudo */
body {
  margin: 0;
  background-color: #FFF;
  color: #222;
  font-family: "MarkWeb", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5; }

.dds-logo-image {
  width: auto;
  max-width: 8rem;
  height: auto; }

.dds-docs--title {
  font-family: "MarkWeb-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.5px; }

.dds-docs--header {
  margin-bottom: 4px;
  font-family: "MarkWeb-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.5rem;
  font-weight: 700; }

.dds-docs--subheader {
  margin-bottom: 4px;
  font-size: 1.25rem; }

.dds-docs--copy__lg {
  margin-top: 0;
  color: #222;
  font-size: 1.25rem;
  line-height: 1.5; }

.dds-docs--copy {
  margin-top: 0;
  color: #222;
  font-size: 1rem;
  line-height: 1.5; }

.dds-docs--code {
  padding: 4px;
  border-radius: 3px;
  background-color: #F4F4F4;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.75rem; }

.dtd-example {
  margin: 16px 0 32px;
  border: 1px solid #DDD;
  border-radius: 5px; }
  .dtd-example .highlight {
    position: relative; }
    .dtd-example .highlight,
    .dtd-example .highlight pre {
      margin: 0;
      border-radius: 5px 5px 0 0;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.75rem;
      line-height: 1.5; }
    .dtd-example .highlight > pre {
      overflow: auto;
      max-height: 24rem; }
    .dtd-example .highlight .gutter.gl {
      min-width: 24px;
      margin: -1px 0 -1px -1px;
      padding: 8px;
      text-align: right; }
      .dtd-example .highlight .gutter.gl pre {
        color: #7A7D80; }
    .dtd-example .highlight .code {
      padding-left: 12px; }
  .dtd-example .dtd-example--preview {
    padding: 24px; }
  .dtd-example .dtd-cell,
  .dtd-example .dtd-cell__outline,
  .dtd-example .dtd-cell--inner {
    padding: 8px;
    border: 1px solid #7e9cf3;
    background-color: rgba(80, 120, 238, 0.15);
    color: #101e74;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75rem;
    text-align: center; }
  .dtd-example .dtd-cell--inner {
    padding: 8px;
    border: 1px solid #7e9cf3;
    background-color: rgba(80, 120, 238, 0.5); }
  .dtd-example .dtd-cell__clear {
    padding: 0;
    border: none; }
    .dtd-example .dtd-cell__clear .dtd-cell__outline {
      border: 1px solid #7e9cf3;
      background-color: rgba(80, 120, 238, 0.75); }
  .dtd-example .dtd-cell__outline {
    border-color: #BBB;
    background-color: #FFF;
    color: #222; }
    .dtd-example .dtd-cell__outline .dtd-cell--inner {
      border-color: transparent;
      background-color: rgba(29, 53, 205, 0.5);
      color: #FFF; }
  .dtd-example.dtd-example-code-only {
    margin-bottom: 16px;
    border: none; }
    .dtd-example.dtd-example-code-only .highlight,
    .dtd-example.dtd-example-code-only .higlight pre {
      border-radius: 5px; }
  .dtd-example.dtd-example__responsive .dtd-example-header {
    border-radius: 5px 5px 0 0;
    background-color: #222;
    color: #FFF; }
  .dtd-example.dtd-example__responsive .highlight,
  .dtd-example.dtd-example__responsive .highlight pre {
    border-radius: 0; }
  .dtd-example.dtd-example__responsive .dtd-example-btn {
    margin: 4px;
    padding: 8px;
    opacity: 0.5;
    cursor: pointer; }
    .dtd-example.dtd-example__responsive .dtd-example-btn:hover, .dtd-example.dtd-example__responsive .dtd-example-btn.dtd-example-btn__selected {
      opacity: 1; }
