:root {
  --base--text-color: var(--text-color--dark);
  --base--font-size: var(--text-size--md);
  --base--font-family: "MarkPro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base--line-height: var(--line-height--md);
  --base--background-color: #FFF;
  --base--corner-radius: 0.25em;
  --text-color--white: #FFF;
  --text-color--dark: #141721;
  --text-color--medium: #292C33;
  --text-color--light: #4C4E56;
  --text-color--blue: #0009B0;
  --text-color--navy: #000061;
  --text-color--bright-emerald: #02663C;
  --text-color--emerald: #005343;
  --text-color--sunflower: #AF5A00;
  --text-color--wildberry: #7A0D20;
  --text-color--crimson: #622A2A;
  --text-color--berry: #3F113C;
  --text-color--rose: #421620;
  --text-size--xxs: 1.1rem;
  --text-size--xs: 1.2rem;
  --text-size--sm: 1.4rem;
  --text-size--md: 1.6rem;
  --text-size--lg: 1.8rem;
  --text-size--xl: 2rem;
  --line-height--xs: 1;
  --line-height--sm: 1.125;
  --line-height--md: 1.25;
  --line-height--lg: 1.5;
  --line-height--xl: 1.75;
  --line-height--xxl: 2;
  --button__text-color: var(--primary-color);
  --button__text-size: var(--text-size--md);
  --button__background-color: rgba(255, 255, 255, 0);
  --button__border: hsla(var(--primary-color--h) var(--primary-color--s) var(--primary-color--l) / 0%);
  --button__border--loading: var(--primary-color);
  --button__border-radius: 0.25em;
  --button__box-shadow--size: 0 0 0 0;
  --button__box-shadow: hsla(var(--primary-color--h) var(--primary-color--s) var(--primary-color--l) / 25%);
  --input-button__padding: 0.7rem;
  --input-button__text-size: var(--text-size--md);
  --input-button__line-height: 1.25;
  --input-button__icon-size: 1.8rem;
  --input__text-color: var(--text-color--dark);
  --input__background-color: var(--white);
  --input__border: var(--ash-darkest);
  --input__box-shadow--inset: hsla(var(--primary-color--h) var(--primary-color--s) var(--primary-color--l) / 0%);
  --input__box-shadow: hsla(var(--white--hsl) / 0%);
  --input__box-shadow-size: 0 0 0 0;
  --radio-checkbox__background-color: var(--white);
  --radio-checkbox__border: var(--slate-lightest);
  --radio-checkbox__box-shadow: hsla(var(--primary-color--h) var(--primary-color--s) var(--primary-color--l) / 15%);
  --label__text-color: currentColor;
  --label__text-size: var(--text-size--md);
  --label__text-weight: 600;
  --label__line-height: var(--line-height--md);
  --input-copy__text-color: var(--slate-lighter);
  --input-copy__text-size: var(--text-size--xs);
  --input-copy__line-height: 1.33333333;
  --input-copy__link-color: var(--slate);
  --link__text-color: var(--primary-color);
  --link__background-color: hsla(var(--white--hsl) / 0%);
  --primary-color: #E20074;
  --primary-color--h: 329.20353982;
  --primary-color--s: 100%;
  --primary-color--l: 44.31372549%;
  --primary-color--hover: #F41A8A;
  --primary-color--hover--h: 329.17431193;
  --primary-color--hover--s: 90.83333333%;
  --primary-color--hover--l: 44.31372549%;
  --nav__background-color: #F1F2F4;
  --nav__background-color--h: 220;
  --nav__background-color--s: 12%;
  --nav__background-color--l: 95.09803922%;
  --btn--inverted__bg--hover: rgba(252, 230, 241, 0.25);
  --btn--inverted--primary__bg--hover: #fce6f1;
}
