@-webkit-keyframes dt-loading-circle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes dt-loading-circle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes dt-loading-bars--short {
  0% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  5% {
    min-height: 0.25rem;
    opacity: 0.5;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); }
  10% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(-0.125rem);
            transform: translateY(-0.125rem); }
  15% {
    opacity: 1;
    -webkit-transform: translateY(0.0625rem);
            transform: translateY(0.0625rem); }
  20%, 70% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    min-height: 0.4688rem;
    opacity: 1;
    -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem); }
  80% {
    min-height: 0.25rem;
    opacity: 0.5;
    -webkit-transform: translateY(-sp4);
            transform: translateY(-sp4); }
  85%, 100% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); } }

@keyframes dt-loading-bars--short {
  0% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  5% {
    min-height: 0.25rem;
    opacity: 0.5;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); }
  10% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(-0.125rem);
            transform: translateY(-0.125rem); }
  15% {
    opacity: 1;
    -webkit-transform: translateY(0.0625rem);
            transform: translateY(0.0625rem); }
  20%, 70% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    min-height: 0.4688rem;
    opacity: 1;
    -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem); }
  80% {
    min-height: 0.25rem;
    opacity: 0.5;
    -webkit-transform: translateY(-sp4);
            transform: translateY(-sp4); }
  85%, 100% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); } }

@-webkit-keyframes dt-loading-bars--tall {
  0% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  5% {
    min-height: 0.25rem;
    opacity: 0.5;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); }
  10% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(-0.125rem);
            transform: translateY(-0.125rem); }
  15% {
    min-height: 1.375rem;
    opacity: 1;
    -webkit-transform: translateY(0.0625rem);
            transform: translateY(0.0625rem); }
  20%, 70% {
    min-height: 1.375rem;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    min-height: 1rem;
    opacity: 1;
    -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem); }
  80% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem); }
  85%, 100% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); } }

@keyframes dt-loading-bars--tall {
  0% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem); }
  5% {
    min-height: 0.25rem;
    opacity: 0.5;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); }
  10% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(-0.125rem);
            transform: translateY(-0.125rem); }
  15% {
    min-height: 1.375rem;
    opacity: 1;
    -webkit-transform: translateY(0.0625rem);
            transform: translateY(0.0625rem); }
  20%, 70% {
    min-height: 1.375rem;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    min-height: 1rem;
    opacity: 1;
    -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem); }
  80% {
    min-height: 0.625rem;
    opacity: 1;
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem); }
  85%, 100% {
    min-height: 0.25rem;
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem); } }

body {
  margin: 0; }

.dds-docs--header {
  margin-bottom: 0.25rem; }

body {
  font-family: "MarkWeb", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.dds-docs--title {
  font-size: 2.25rem;
  font-weight: 700; }

.dds-docs--title {
  font-weight: 600; }

body {
  color: #141721; }

body {
  line-height: 1.5; }

body {
  background-color: #FFF; }

.highlight {
  background-color: #F4F4F4; }

.highlight .gutter.gl {
  background-color: #EEE; }

.highlight .c {
  color: #969896;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #52555d; }

/* Error */
.highlight .k {
  color: #f15191;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #52555d;
  font-weight: bold; }

/* Operator */
.highlight .cp {
  color: #969896; }

/* Comment.Preproc */
.highlight .kt {
  color: #cc6666; }

/* Keyword.Type */
.highlight .m {
  color: #c75049; }

/* Literal.Number */
.highlight .s {
  color: #2fa95c; }

/* Literal.String */
.highlight .n {
  color: #616773; }

.highlight .na {
  color: #da35ea; }

/* Name.Attribute */
.highlight .nb {
  color: #f11462; }

/* Name.Builtin */
.highlight .nc {
  color: #1256EA; }

/* Name.Class */
.highlight .no {
  color: #de935f; }

/* Name.Constant */
.highlight .nd {
  color: #007ddc; }

.highlight .nf {
  color: #81a2be; }

/* Name.Function */
.highlight .nl {
  color: #747175; }

.highlight .nn {
  color: #81a2be; }

/* Name.Namespace */
.highlight .nt {
  color: #536bce; }

/* Name.Tag */
.highlight .nv {
  color: #01a994; }

/* Name.Variable */
.highlight .ow {
  color: #b294bb; }

/* Operator.Word */
.highlight .p {
  color: #747175; }

.highlight .sr {
  color: #8abeb7; }

/* Literal.String.Regex */
.highlight .si {
  color: #a3685a; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.highlight .ss {
  color: #8abeb7; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #cc6666; }

/* Name.Builtin.Pseudo */
.dds-logo-image {
  width: auto;
  max-width: 8rem;
  height: auto; }

.dds-docs--title {
  letter-spacing: -0.5px; }

.dds-docs--header {
  margin-bottom: 0.25rem;
  font-family: "MarkWeb", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 700; }

.dds-docs--subheader {
  margin-bottom: 0.25rem;
  font-size: 1.5rem; }

.dds-docs--copy__lg {
  margin-top: 0;
  color: #141721;
  font-size: 1.25rem;
  line-height: 1.5; }

.dds-docs--subtitle {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.25; }

.dds-docs--copy {
  margin-top: 0;
  color: #141721;
  font-size: 1rem;
  line-height: 1.5; }

.dds-docs--code {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: #E3E5E8;
  color: #A7002D;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.6875rem;
  line-height: 1.75; }

.dtd-example {
  max-width: 46rem;
  margin: 1rem 0 2rem;
  border: 1px solid #E3E5E8;
  border-radius: 0.5rem; }
  .dtd-example .highlight {
    position: relative; }
    .dtd-example .highlight,
    .dtd-example .highlight pre {
      margin: 0;
      border-radius: 0.5rem 0.5rem 0 0;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.75rem;
      line-height: 1.5; }
    .dtd-example .highlight > pre {
      overflow: auto;
      max-height: 24rem; }
    .dtd-example .highlight .gutter.gl {
      min-width: 1.5rem;
      margin: -1px 0 -1px -1px;
      padding: 0.5rem;
      text-align: right; }
      .dtd-example .highlight .gutter.gl pre {
        color: #7A7D80; }
    .dtd-example .highlight .code {
      padding-left: 0.75rem; }
  .dtd-example .dtd-example--preview {
    padding: 1.5rem; }
  .dtd-example .dtd-cell,
  .dtd-example .dtd-cell__outline,
  .dtd-example .dtd-cell--inner {
    padding: 0.5rem;
    border: 1px solid #7e9cf3;
    background-color: rgba(80, 120, 238, 0.15);
    color: #020F36;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75rem;
    text-align: center; }
  .dtd-example .dtd-cell--inner {
    padding: 0.5rem;
    border: 1px solid #7e9cf3;
    background-color: rgba(80, 120, 238, 0.5); }
  .dtd-example .dtd-cell__clear {
    padding: 0;
    border: none; }
    .dtd-example .dtd-cell__clear .dtd-cell__outline {
      border: 1px solid #7e9cf3;
      background-color: rgba(80, 120, 238, 0.75); }
  .dtd-example .dtd-cell__outline {
    border-color: #E3E5E8;
    background-color: #FFF;
    color: #141721; }
    .dtd-example .dtd-cell__outline .dtd-cell--inner {
      border-color: transparent;
      background-color: rgba(0, 37, 144, 0.5);
      color: #FFF; }
  .dtd-example.dtd-example-code-only {
    margin-bottom: 1rem;
    border: none; }
    .dtd-example.dtd-example-code-only .highlight,
    .dtd-example.dtd-example-code-only .higlight pre {
      border-radius: 0.5rem; }
  .dtd-example.dtd-example__responsive .dtd-example-header {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #141721;
    color: #FFF; }
  .dtd-example.dtd-example__responsive .highlight,
  .dtd-example.dtd-example__responsive .highlight pre {
    border-radius: 0; }
  .dtd-example.dtd-example__responsive .dtd-example-btn {
    margin: 0.25rem;
    padding: 0.5rem;
    opacity: 0.5;
    cursor: pointer; }
    .dtd-example.dtd-example__responsive .dtd-example-btn:hover, .dtd-example.dtd-example__responsive .dtd-example-btn.dtd-example-btn__selected {
      opacity: 1; }
