:root {
  --primary-color: #E20074;
  --primary-color--h: 329.20353982;
  --primary-color--s: 100%;
  --primary-color--l: 44.31372549%;
  --primary-color--hover: #F41A8A;
  --primary-color--hover--h: 329.17431193;
  --primary-color--hover--s: 90.83333333%;
  --primary-color--hover--l: 44.31372549%;
  --nav__background-color: #000;
  --nav__background-color--h: 0;
  --nav__background-color--s: 0%;
  --nav__background-color--l: 0%;
  --btn--inverted__bg--hover: rgba(252, 230, 241, 0.25);
  --btn--inverted--primary__bg--hover: #fce6f1;
}
