.grid--cell {
  min-height: 9rem; }

.video-controls {
  position: absolute;
  top: 4px;
  right: 12px; }

.uc-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 5rem;
  padding: 1.5rem 0.75rem;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: #182C50;
  box-shadow: 0 0 0.75rem 0 rgba(20, 20, 22, 0.25); }

.uc-nav--item {
  color: #FFF; }

.uc-grid {
  display: grid;
  align-content: center;
  height: 100vh;
  padding: 1.5rem;
  padding-left: calc(24px + 5rem);
  background-image: linear-gradient(to bottom, #FFF 0%, #F4F4F4 100%); }

.uc-user {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #5078EE;
  color: #FFF;
  font-family: "MarkWeb-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase; }

.uc-icon {
  fill: currentColor; }

.fc-red-080 {
  color: #F8523C; }

.uc-card {
  position: relative;
  height: 100%;
  min-height: 9rem;
  border-radius: 0.5rem;
  background-color: #FFF;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.9) 100%), url("../images/uc-card-pattern@2x.png");
  background-position: 50% 50%;
  background-size: 200%;
  box-shadow: 0 2px 8px 0 rgba(30, 31, 32, 0.1);
  color: #2C2D2F; }

.uc-card__video {
  background-color: #2B2C2E;
  color: #FFF; }
  .uc-card__video:after, .uc-card__video:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0; }
  .uc-card__video:after {
    bottom: 0;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.4) 0%, #111111 100%); }
  .uc-card__video:before {
    top: 0;
    height: 25%;
    background-image: linear-gradient(to top, rgba(17, 17, 17, 0.75) 0%, #111111 100%); }

.uc-card--avatar img,
.uc-card--initials {
  width: 6rem;
  height: 6rem;
  border-radius: 50%; }

.uc-card--avatar,
.uc-card--initials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; }

.uc-card--initials > span {
  margin-top: 0.375rem;
  color: #FFF;
  font-family: "MarkWeb-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 3rem;
  line-height: 1; }

.uc-card__bg-blue {
  background-color: rgba(29, 53, 205, 0.8); }

.uc-card__bg-teal {
  background-color: rgba(0, 168, 180, 0.75); }

.uc-card__bg-pink {
  background-color: rgba(228, 80, 122, 0.95); }

.uc-card--connection {
  position: absolute;
  top: 0.75rem;
  left: 1rem; }

.uc-card--organizer {
  min-height: 1.5rem;
  margin-top: -0.75rem;
  padding: 0 0.5rem 0 1rem;
  border: 3px solid #FFF;
  border-radius: 1px 0.5rem 0.5rem 0;
  border-left-width: 0;
  background-color: #3C66DC;
  color: #FFF;
  font-family: "MarkWeb-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.625rem;
  font-weight: 700;
  line-height: -0.5rem;
  text-transform: uppercase; }

.uc-card--footer {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25; }

.uc-icon {
  width: 18px;
  height: 18px; }
