body {
  --su0: 0;
  --su1: 0.1rem;
  --su2: 0.2rem;
  --su4: 0.4rem;
  --su6: 0.6rem;
  --su8: 0.8rem;
  --su12: 1.2rem;
  --su16: 1.6rem;
  --su24: 2.4rem;
  --su32: 3.2rem;
  --su48: 4.8rem;
  --su64: 6.4rem;
  --su72: 7.2rem;
  --su84: 8.4rem;
  --su96: 9.6rem;
  --su102: 10.2rem;
  --su114: 11.4rem;
  --su128: 12.8rem;
  --sun1: -0.1rem;
  --sun2: -0.2rem;
  --sun4: -0.4rem;
  --sun6: -0.6rem;
  --sun8: -0.8rem;
  --sun12: -1.2rem;
  --sun16: -1.6rem;
  --sun24: -2.4rem;
  --sun32: -3.2rem;
  --sun48: -4.8rem;
  --sun64: -6.4rem;
  --sun72: -7.2rem;
  --sun84: -8.4rem;
  --sun96: -9.6rem;
  --sun102: -10.2rem;
  --sun114: -11.4rem;
  --sun128: -12.8rem;
}
