:root {
  --primary-color: #6C3DFF;
  --primary-color--h: 254.53608247;
  --primary-color--s: 100%;
  --primary-color--l: 61.96078431%;
  --primary-color--hover: #450aff;
  --primary-color--hover--h: 254.53608247;
  --primary-color--hover--s: 100%;
  --primary-color--hover--l: 61.96078431%;
  --nav__background-color: #7B7789;
  --nav__background-color--h: 253.33333333;
  --nav__background-color--s: 7.08661417%;
  --nav__background-color--l: 50.19607843%;
  --btn--inverted__bg--hover: rgba(240, 236, 255, 0.25);
  --btn--inverted--primary__bg--hover: #f0ecff;
}
