name: Clean Preview

on:
  pull_request_target:
    types: [closed]

jobs:

  clean:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        ref: gh-pages
    - run: |
        rm -rf deploy-previews/pr-${{ github.event.pull_request.number }}
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add -A
        git commit -m "deploy preview cleanup"
        git pull
        git push
